html[dir='rtl'] {

  section#content {

    > nav {

      > ul {
        flex-direction: row-reverse;
      }

      &[data-pos='left'] {

        > ul {
          flex-direction: row;
        }
      }
    }
  }
}