@import "vars";
@import "mixins";
//
$__colorScheme: $mainColor;
$__textColor: $textColor;
@import "loading";
@import "checkbox";
@import "colorpicker";
//
@import "generals";

$headerHeight: 70px;

body {
  background: $bodyBackground;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// Header
body > header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerHeight;
  background-image: img('icon/icon.webp'), $gradient;
  background-repeat: no-repeat;
  background-size: 58px, 100%;
  background-position: 20px center, 0 0;
  box-shadow: inset 0 -12px 15px -10px rgba(0, 0, 0, 0.5);

  > svg {
    position: absolute;
    top: calc(50% - 18px);
    left: 75px;
    width: 36px;
    height: 36px;
    stroke: rgba(255, 255, 255, 0.5);
    fill: none;
  }
}

// Headlines
h2 {
  font-size: 180%;
  font-weight: $__fontWeightLight;
  color: $textColor;
}

h3 {
  font-size: 180%;
  font-weight: $__fontWeightNormal;
  color: $mainColor;
  margin: 0 0 30px 0;

  &:not(:first-of-type) {
    padding: 30px 0 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

// Content
section#content {
  position: relative;
  width: 100%;
  margin-top: $headerHeight;
  height: calc(100vh - #{$headerHeight});
  padding: 40px 0 25px;

  > div {
    position: relative;
    height: 100%;
    background: $contentBackground;
    max-width: 850px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 4;

    > header {
      position: relative;
      padding: 10px 20px;
      height: 50px;
      box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
      z-index: 2;

      > h2 {
        display: inline-block;
      }

      > button {
        position: relative;
        display: inline-block;
        border: 0;
        outline: 0;
        cursor: pointer;
        float: right;

        &.save {
          background: $gradient;
          color: $textColorInverted;
          padding: 5px 10px;
          font-size: 110%;
        }

        &.restore {
          @include mask('icon-update', $textColorLight, 24px);
          background: transparent;
          margin: 3px 15px 0;
          width: 24px;
          height: 24px;
        }
      }
    }

    > div.scrollBox {
      height: calc(100% - 50px);

      > div {
        background: $contentBackground;
        min-height: 100%;
        padding: 20px;
      }
    }
  }

  hr {
    margin: 30px 0;
    background: rgba(0, 0, 0, 0.1);
    height: 1px;
    border: none;
  }
}

// Footer
body > footer {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  font-size: 90%;

  > a#copyright {

    > strong {
      transition: color 0.5s;
    }

    &:hover {

      > strong {
        color: $mainColorAlt;
      }
    }
  }
}

//
body {

  &::before, &::after {
    position: fixed;
    @extend %hidden;
  }

  &::after {
    content: attr(data-successtext);
    top: 50px;
    left: calc(50% - 300px);
    width: 600px;
    padding: 40px;
    text-align: center;
    font-size: 140%;
    color: $textColorInverted;
    background: $colorSuccess;
    transform: translate3d(0, -50px, 0);
    transition: opacity 0.5s, transform 0.5s;
    z-index: 99;
  }

  &::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    transition: opacity 0.3s;
    z-index: 98;
  }

  &.success {

    &::before, &::after {
      @extend %visible;
    }

    &::after {
      transform: translate3d(0, 0, 0);
    }
  }

  &.loading {

    &::before {
      @extend %visible;
    }

    > svg.loading {
      position: fixed;
      top: calc(50% - 18px);
      left: calc(50% - 18px);
      z-index: 99;
    }
  }
}