
div.checkbox {
  position: relative;
  width: 18px;
  height: 18px;
  border: 2px solid #6d6d6d;
  border-radius: 2px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: background 0.3s, border-color 0.3s;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 1px);
    width: 2px;
    height: 2px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    transition: background 0.2s, box-shadow 0.2s, opacity 0.5s;
    opacity: 0.2;
  }

  &.focus::before, &.clicked::before {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 22px rgba(0, 0, 0, 0.5);
  }

  &.clicked::before {
    opacity: 0;
  }

  &.active {
    background-color: $__colorScheme;
    background-image: img('icon-check.webp');
    border-color: $__colorScheme;

    &::before {
      box-shadow: 0 0 0 0 $__colorScheme;
    }

    &.focus::before, &.clicked::before {
      background: $__colorScheme;
      box-shadow: 0 0 0 22px $__colorScheme;
    }
  }

  > input[type='checkbox'] {
    display: none;
  }
}