
div.checkbox {
  @include mask(null, $__textColor, 22px);
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &::before {
    transition: -webkit-mask 0.3s, background-color 0.3s;
  }

  &[data-type='checkbox']::before {
    @include maskImage('icon-checkbox-inactive');
  }

  &[data-type='radio']::before {
    @include maskImage('icon-radio-inactive');
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 1px);
    width: 2px;
    height: 2px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    transition: background 0.2s, box-shadow 0.2s, opacity 0.5s;
    opacity: 0.2;
  }

  &.focus::after, &.clicked::after {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.5);
  }

  &.clicked::after {
    opacity: 0;
  }

  &.active {

    &::before {
      background-color: $__colorScheme;
    }

    &[data-type='checkbox']::before {
      @include maskImage('icon-checkbox');
    }

    &[data-type='radio']::before {
      @include maskImage('icon-radio');
    }

    &::after {
      box-shadow: 0 0 0 0 $__colorScheme;
    }

    &.focus::after, &.clicked::after {
      background: $__colorScheme;
      box-shadow: 0 0 0 20px $__colorScheme;
    }
  }

  > input[type='checkbox'] {
    display: none;
  }
}

.dark div.checkbox {

  &::after {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }

  &.focus::after, &.clicked::after {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.5);
  }

  &.active {

    &::before {
      background-color: $__textColor;
    }

    &::after {
      box-shadow: 0 0 0 0 $__textColor;
    }

    &.focus::after, &.clicked::after {
      background: $__textColor;
      box-shadow: 0 0 0 20px $__textColor;
    }
  }
}