
.color-picker {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background: $contentBackground;
  padding: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);

  > input[type='range'] {
    margin: 10px 0 0 0;
    background: none;
    background-image: img('settings/alpha.webp');
    cursor: ew-resize;

    &::-webkit-slider-runnable-track {
      background: transparent;
      height: 100%;
      z-index: 1;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: calc(100% + 4px);
      width: 4px;
      margin: -2px 0;
      background: $contentBackground;
      border-radius: 0;
      border: 1px solid #000;
    }
  }

  > div {
    display: flex;
    flex-direction: row-reverse;

    i {
      display: block;
      position: absolute;
    }

    > .color-picker-h {
      position: relative;
      width: 20px;
      height: 150px;
      cursor: ns-resize;
      background-image: linear-gradient(to top, red 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, red 100%);
      background-size: 100% 100%;

      i {
        top: 0;
        left: -2px;
        right: -2px;
        height: 4px;
        background: $contentBackground;
        border: 1px solid #000;
      }
    }

    > .color-picker-sv {
      position: relative;
      width: 150px;
      height: 150px;
      margin-right: 10px;
      background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0)), linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
      background-size: 100% 100%;
      cursor: crosshair;

      i {
        color: #000;
        top: -4px;
        right: -4px;
        z-index: 3;
        width: 8px;
        height: 8px;

        &::after, &::before {
          content: "";
          position: absolute;
          display: block;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border: 1px solid;
          border-color: inherit;
          border-radius: 100%
        }

        &::before {
          top: -1px;
          right: -1px;
          bottom: -1px;
          left: -1px;
          border-color: $textColorInverted;
        }
      }
    }
  }
}


