
div.contextmenu {
  position: absolute;
  top: 0;
  background: $contentBackground;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  transform: translate3d(0, -20px, 0);
  transition: opacity 0.3s, transform 0.3s;
  z-index: 4;
  @extend %hidden;

  &[data-type='list'] {
    left: -9999px;
    margin: 0 20px;
  }

  &[data-type='settings'] {
    right: 8px;
    margin-top: -7px;
  }

  &.visible {
    transform: translate3d(0, 0, 0);
    @extend %visible;

    &.top {
      transform: translate3d(0, -40px, 0);
    }
  }

  > ul {

    > li {

      &.separator {
        display: block;
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.1);
        margin: 5px 0;
      }

      > a {
        position: relative;
        display: block;
        line-height: 40px;
        padding: 0 12px;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background-color: $hoverBackground;
        }

        > span {
          vertical-align: top;
          display: inline-block;
          width: 26px;
          height: 26px;
          border-radius: 50%;
          border: 1px solid #d2d2d2;
          margin: 6px 12px 0 0;
          transition: background-color 0.3s;
          background-position: center;
          background-size: 16px;
          background-repeat: no-repeat;
        }

        &[data-type='delete'] > span {
          background-image: img('icon-delete.webp');
        }

        &[data-type='edit'] > span {
          background-image: img('icon-edit.webp');
        }

        &[data-type='infos'] > span {
          background-image: img('icon-infos.webp');
        }

        &[data-type='newTab'] > span {
          background-image: img('icon-newTab.webp');
        }

        &[data-type='showInDir'] > span {
          background-image: img('icon-showInDir.webp');
        }

        &[data-type='hide'] > span {
          background-image: img('icon-hide.webp');
        }

        &[data-type='settings'] > span {
          background-image: img('icon-settings.webp');
        }

        &[data-type='bookmarkManager'] > span {
          background-image: img('icon-bookmarkManager.webp');
        }

        &[data-type='updateUrls'] > span {
          background-image: img('icon-update.webp');
        }

        &[data-type='toggleFix'] > span {
          background-image: img('icon-pin.webp');
        }
      }
    }
  }
}
