
div.contextmenu {
  position: absolute;
  top: 0;
  width: 250px;
  background: $contentBackground;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  transform: translate3d(0, -20px, 0);
  transition: opacity 0.3s, transform 0.3s;
  z-index: 4;
  @extend %hidden;

  &[data-type='list'] {
    left: -9999px;
    margin: 0 0 0 10px;
  }

  &[data-type='settings'] {
    width: 200px;
    right: -67px;
    margin-top: -2px;
  }

  &.visible {
    transform: translate3d(0, 0, 0);
    @extend %visible;

    &.top {
      transform: translate3d(0, -40px, 0);
    }
  }

  > ul.icons {
    background: $hoverBackground;
    padding: 4px 0 6px 0;

    > li {
      display: inline-block;

      &.right {
        float: right;
      }

      > a {
        display: block;
        width: 36px;
        height: 36px;
        cursor: pointer;
        border-radius: 50%;
        margin: 0 5px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
        transition: background 0.3s;

        &:hover {
          background-color: darken($hoverBackground, 3%);
        }

        &[data-type='delete'] {
          background-image: img('icon-delete.webp');
        }

        &[data-type='edit'] {
          background-image: img('icon-edit.webp');
        }

        &[data-type='infos'] {
          background-image: img('icon-infos.webp');
        }

        &[data-type='show'] {
          background-image: img('icon-show.webp');
        }

        &[data-type='hide'] {
          background-image: img('icon-hide.webp');
        }

        &[data-type='settings'] {
          background-image: img('icon-settings.webp');
        }

        &[data-type='bookmarkManager'] {
          background-image: img('icon-bookmarkManager.webp');
        }
      }
    }
  }

  > ul.list {

    > li {
      position: relative;
      border-bottom: 1px solid rgba(0, 0, 0, 0.07);

      > div.checkbox {
        position: absolute;
        z-index: 2;
        top: 10px;
        left: 14px;

        + a {
          padding-left: 50px;
        }

        &:hover + a {
          color: $__colorScheme;
        }
      }

      > a {
        display: block;
        line-height: 45px;
        padding: 0 12px 0 42px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: 12px center;
        background-size: 20px;
        transition: color 0.3s;

        &:hover {
          color: $__colorScheme;
        }

        &[data-type='newTab'], &[data-type='openChildren'] {
          background-image: img('icon-newTab.webp');
        }

        &[data-type='newTabIncognito'] {
          background-image: img('icon-incognito.webp');
        }

        &[data-type='showInDir'] {
          background-image: img('icon-showInDir.webp');
        }

        &[data-type='updateUrls'] {
          background-image: img('icon-update.webp');
        }
      }
    }
  }
}

section#sidebar[data-pos='right'] div.contextmenu[data-type='settings'] {
  right: 0;
}
