
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, input, textarea, select, button {
  font-size: $baseFontSize;
  font-family: $baseFontFamily, sans-serif;
  color: $textColor;
  font-weight: $baseFontWeight;
}

ul {
  list-style: none;
}

strong {
  font-weight: $baseFontWeightBold;
}

a {
  color: $textColor;
  text-decoration: none;
}