
@mixin bubble {
  position: relative;
  margin-top: 2px;
  background: $bodyBackground;
  padding: 10px 12px;
  border-radius: 10px;

  &::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 30px;
    border: 7px solid transparent;
    border-bottom-color: $bodyBackground;
  }

  p + p {
    margin-top: 10px;
  }
}

@mixin bubbleRtl {

  &::before {
    right: 20px;
    left: unset;
  }
}

%button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: $textColor;
  color: $textColorInverted;
  padding: 6px 12px;
  font-weight: $__fontWeightMedium;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  font-size: 100%;
  border-radius: 20px;
}

%highlightButton {
  @extend %button;
  background: $mainColor2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}