// General
$baseFontSize: 14px;
$baseFontFamily: Roboto, sans-serif;
$baseFontWeight: 300;

$mainColor: #7b5fa4;
$mainColorAlt: #2b35c8;
$gradient: linear-gradient(45deg, $mainColor 0%, $mainColorAlt 100%);

$textColor: #666;
$textColorLight: #aaa;
$textColorInverted: #fff;
$contentBackground: #fff;
$bodyBackground: #f2f2f2;

$colorSuccess: #5eba7d;
$colorError: #f99;

// Sidebar
$hoverBackground: #f5f5f5;

// Dynamic
$__colorScheme: "%colorScheme";
$__textColor: "%textColor";
$__sidebarWidth: "%sidebarWidth";
$__sidebarMaskColor: "%sidebarMaskColor";
$__bookmarksFontSize: "%bookmarksFontSize";
$__bookmarksIconSize: "%bookmarksIconSize";
$__bookmarksLineHeight: "%bookmarksLineHeight";
$__bookmarksDirIndentation: "%bookmarksDirIndentation";
$__bookmarksHorizontalPadding: "%bookmarksHorizontalPadding";
$__indicatorWidth: "%indicatorWidth";
$__indicatorIconSize: "%indicatorIconSize";
$__indicatorColor: "%indicatorColor";
$__overlayMaskColor: "%overlayMaskColor";