$baseFontSize: 14px;
$baseFontFamily: Roboto, sans-serif;
$baseFontWeight: 300;
$mainColor: #5048b8;
$textColor: #666;
$textColorLight: #aaa;
$errorColor: #faa;
$textColorInverted: #fff;
$backgroundColor: #fff;
$linkHoverBackgroundColor: #f5f5f5;
$sidebarWidth: 350px;

$settingsMainColor: #5048b8;
$settingsHeaderBackground: #eee;
$settingsTabBackground: #f2f2f2;
$settingsSuccessBackgroundColor: #5eba7d;
$settingsErrorColor: #f66;

%hidden {
  opacity: 0;
  pointer-events: none;
}

%visible {
  opacity: 1;
  pointer-events: auto;
}

@function img($path) {
  @return url(chrome-extension://__MSG_@@extension_id__/img/#{$path});
}