// General
$baseFontSize: 14px;

$mainColor: #7b5fa4;
$mainColorAlt: #2b35c8;
$gradient: linear-gradient(45deg, $mainColor 0%, $mainColorAlt 100%);

$textColor: #666;
$textColorLight: #aaa;
$textColorInverted: #fff;
$contentBackground: #fff;
$bodyBackground: #f2f2f2;

$colorSuccess: #5eba7d;
$colorNotice: #f5c525;
$colorError: #f99;

// Settings
$settingsHeaderHeight: 50px;
$settingsMenuBackground: #e9e9e9;
$settingsMenuHoverBackground: #ddd;

// New tab
$newTabSearchWidth: 630px;
$newTabSearchHeight: 50px;

// Sidebar
$sidebarHeaderHeight: 50px;
$overlayHeaderHeight: 50px;
$filterMargin: 11px;

$contentBackground2: #f5f5f5;
$scrollBarBackground: #ccc;
$contextMenuIconColor: #ccc;
$reorderIconColor: #ccc;
$reorderIconColorActive: #999;
$tooltipTextColor: #fff;
$tooltipBackground: #444;
$separatorColor: rgba(0, 0, 0, 0.15);

$darkContentBackground: #444;
$darkContentBackground2: #555;
$darkScrollBarBackground: #999;
$darkContextMenuIconColor: #999;
$darkReorderIconColor: #999;
$darkReorderIconColorActive: #ccc;
$darkTooltipTextColor: #eee;
$darkTooltipBackground: #222;
$darkSeparatorColor: rgba(255, 255, 255, 0.15);

$demoColors: #37bf99 #d737d5 #3e6bf2 #f4572f #f74b58 #f5a2bf #1a90ba #b4bd0e #fdde32 #8ccbce;

// Dynamic
$__colorScheme: "%colorScheme";
$__foregroundColor: "%foregroundColor";
$__textColor: "%textColor";
$__hoverColor: "%hoverColor";
$__sidebarWidth: "%sidebarWidth";
$__sidebarMaskColor: "%sidebarMaskColor";
$__bookmarksFontSize: "%bookmarksFontSize";
$__bookmarksIconSize: "%bookmarksIconSize";
$__directoriesIconSize: "%directoriesIconSize";
$__bookmarksLineHeight: "%bookmarksLineHeight";
$__bookmarksDirIcon: "%bookmarksDirIcon";
$__bookmarksDirColor: "%bookmarksDirColor";
$__bookmarksDirIndentation: "%bookmarksDirIndentation";
$__bookmarksHorizontalPadding: "%bookmarksHorizontalPadding";
$__scrollBarWidth: "%scrollBarWidth";
$__indicatorWidth: "%indicatorWidth";
$__indicatorIconSize: "%indicatorIconSize";
$__indicatorIconColor: "%indicatorIconColor";
$__indicatorColor: "%indicatorColor";
$__overlayMaskColor: "%overlayMaskColor";

$__fontFamily: "%fontFamily";
$__fontWeightThin: "%fontWeightThin"; // 100
$__fontWeightExtraLight: "%fontWeightExtraLight"; // 200
$__fontWeightLight: "%fontWeightLight"; // 300
$__fontWeightNormal: "%fontWeightNormal"; // 400
$__fontWeightMedium: "%fontWeightMedium"; // 500
$__fontWeightSemiBold: "%fontWeightSemiBold"; // 600
$__fontWeightBold: "%fontWeightBold"; // 700
$__fontWeightExtraBold: "%fontWeightExtraBold"; // 800
$__fontWeightBlack: "%fontWeightBlack"; // 900