body.dark {
  background: $darkContentBackground;

  &::before {
    background: $darkContentBackground;
  }

  &.loading::before {
    background: rgba(0, 0, 0, 0.8);
  }

  section#content {
    background: $darkContentBackground;
  }
}