
body.dark div.modal {
  background: $darkContentBackground;

  > a.preview, > span.preview {
    background: rgba(255, 255, 255, 0.05);
  }

  > div.info {
    border-color: rgba(255, 255, 255, 0.1);
  }

  p.premium {

    > a {
      color: $__textColor;
    }
  }

  &[data-type='edit'], &[data-type='add'] {

    > ul > li {

      &.info {
        border-color: rgba(255, 255, 255, 0.1);
      }

      > input, > textarea {
        border-color: rgba(255, 255, 255, 0.1);

        &.error {
          border-color: rgba($colorError, 0.5);
        }

        &:focus {
          border-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  &[data-type='add'] {

    > menu:not(.buttons) {

      > a {
        background-color: $darkContentBackground2;

        &::before, &::after {
          opacity: 0.5;
          transition: opacity 0.5s;
        }

        &:hover {

          &::before {
            opacity: 1;
            background-color: $__textColor;
          }

          &::after {
            opacity: 1;
            color: $__textColor;
          }
        }
      }
    }

    > menu.buttons > a.action {
      display: none;

      &.visible {
        display: inline-block;
      }
    }
  }

  &[data-type='infos'] {

    > header::before {
      @include maskImage('icon-info');
    }

    > ul.breadcrumb {

      &::before {
        background: linear-gradient(to right, $darkContentBackground 0%, transparent 100%);
      }

      > li {
        background: rgba(255, 255, 255, 0.08);

        &::before {
          border-left-color: $darkContentBackground;
        }

        &::after {
          border-left-color: rgba(255, 255, 255, 0.08);
        }
      }
    }

    > ul:not(.breadcrumb) {
      border-color: rgba(255, 255, 255, 0.1);

      > li > ul {
        background: $darkTooltipBackground;
        color: $darkTooltipTextColor;

        &::before {
          border-bottom-color: $darkTooltipBackground;
        }
      }
    }
  }

  &[data-type='shareInfoDesc'], &[data-type='keyboardShortcuts'] {

    &::after {
      background: $darkContentBackground2;
    }

    > div.scrollBox > * {
      background: $darkContentBackground;
    }
  }

  &[data-type='keyboardShortcuts'] {

    > div.scrollBox > div {

      > a {
        color: $__textColor;

        &::before {
          border-color: $__textColor;
        }
      }

      > ul {
        border-color: rgba(255, 255, 255, 0.1);

        > li > strong > i {
          display: inline-block;
          border: 1px solid rgba(255, 255, 255, 0.05);
          background: rgba(255, 255, 255, 0.05);
        }
      }
    }
  }

  > menu.buttons > a {
    color: $__textColor;

    &::before {
      background: $__textColor;
    }
  }
}