{
  "parserOptions": {
    "ecmaVersion": 2022,
    "impliedStrict": true
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "globals": {
    "jsu": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "prefer-const": "error",
    "prefer-arrow-callback": "error",
    "no-var": "error",
    "no-multi-spaces": "warn",
    "no-useless-escape": "off",
    "no-unused-vars": "off",
    "no-console": "error",
    "space-infix-ops": "warn",
    "arrow-spacing": "warn",
    "func-call-spacing": "error",
    "space-in-parens": "warn",
    "array-bracket-spacing": "warn",
    "object-curly-spacing": "warn",
    "computed-property-spacing": "warn",
    "keyword-spacing": "warn",
    "comma-spacing": "warn",
    "quotes": "warn",
    "semi": "warn",
    "dot-notation": [
      "error",
      {
        "allowKeywords": false
      }
    ]
  }
}