@mixin darkBookmarkEntry {

  &.separator > span.label::after {
    background: $darkSeparatorColor;
  }

  > span.removeMask {
    background: $darkRemovedBackground;
  }

  > span.drag {
    background-color: rgba(255, 255, 255, 0.1);

    &::before {
      background-color: $darkReorderIconColor;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.25) !important;

      &::before {
        background-color: $darkReorderIconColorActive;
      }
    }
  }

  &.snap {
    background: $darkContentBackground;
  }
}