body.dark div.contextmenu {
  background: $darkContentBackground2;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);

  > ul.list > li > a {
    transition: opacity 0.3s;
    opacity: 0.7;

    &::before {
      background-color: $darkContextMenuIconColor;
    }

    &.hover {
      color: $__textColor;
      opacity: 1;

      &::before {
        background-color: $__textColor;
        opacity: 0.8;
      }
    }
  }

  > ul.icons {
    background: lighten($darkContentBackground2, 3%);

    > li {

      > a {

        &::before {
          background-color: $darkContextMenuIconColor;
        }

        &.hover {
          background-color: lighten($darkContentBackground2, 8%);
        }
      }

      > ul {
        background: $darkContentBackground;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);

        &::before {
          border-bottom-color: $darkContentBackground;
        }

        > li {

          > a::before {
            background-color: $darkContextMenuIconColor;
          }
        }
      }
    }
  }
}