
body.dark {

  div.tooltip {
    color: $darkTooltipTextColor;
    background: $darkTooltipBackground;

    &::before {
      border-right-color: $darkTooltipBackground;
    }
  }

  section#sidebar[data-pos='right'] ~ div.tooltip::before {
    border-left-color: $darkTooltipBackground;
  }

  section#sidebar.sidepanel ~ div.tooltip::before {
    border-color: transparent;
    border-bottom-color: $darkTooltipBackground;
  }
}