html[dir='rtl'] {

  body > header {
    background: $gradientRtl;
  }

  body > main {

    > div.checkbox + a {
      margin-left: 0;
      margin-right: 12px;
    }

    > div.version {
      left: 0;
      right: unset;

      > span {
        margin-right: 3px;
        margin-left: 0;
      }
    }

    > p.error {
      padding-right: 40px;
      padding-left: 0;

      &::before {
        left: unset;
        right: 0;
      }
    }

    > article > div > ul {
      margin-right: 5px;
      margin-left: 0;

      > li {
        padding-right: 10px;
        padding-left: 0;

        &::before {
          left: unset;
          right: 0;
        }
      }
    }
  }
}