html[dir='rtl'] {

  section.slide {

    &[data-name='position'] {

      > div {
        flex-direction: row-reverse;
      }
    }

    &[data-name='surface'] {

      p.wrap {

        a[data-value="auto"]::before {
          transform: skewX(20deg);
        }
      }
    }

    &[data-name='finished'] {

      p.info {
        padding-left: 30px;
        padding-right: 65px;
        text-align: right;

        &::before {
          transform: scaleX(-1);
        }
      }
    }
  }

  // Sidebar placeholder
  div#sidebar {
    padding-right: 80px;
    padding-left: 30px;

    > p::before {
      right: -50px;
      left: unset;
    }
  }
}
