html[dir='rtl'] {

  section.slide {

    &[data-name='intro-2'] {
      > div.videos > div.video {
        > span.setup.finished {
          padding-left: 20px;
          padding-right: 40px;

          &::before {
            -webkit-mask-position-x: right;
            right: 12px;
          }
        }
      }
    }

    &[data-name='position'] {

      > div {
        flex-direction: row-reverse;
      }
    }

    &[data-name='openAction'] {

      > a.cancel {
        padding-left: 0;
        padding-right: 26px;

        &::before {
          -webkit-mask-position-x: right;
        }
      }
    }

    &[data-name='surface'] {

      p.wrap {

        a[data-value="auto"]::before {
          transform: skewX(20deg);
        }
      }
    }
  }

  // Sidebar placeholder
  div#sidebar {
    padding-right: 80px;
    padding-left: 30px;

    > p::before {
      right: -50px;
      left: unset;
    }
  }
}
