
html[dir='rtl'] {

  div.modal {

    > header {
      padding: 0 52px 0 75px;

      &::before {
        left: unset;
        right: 5px;
      }

      > a.close {
        right: unset;
        left: 15px;
      }
    }

    > a.preview, > span.preview {

      > img, > span.icon {
        margin: 0 0 0 20px;
      }
    }

    &[data-type='checkBookmarks'] {

      > div.progressBar {

        > div {
          left: unset;
          right: 0;
        }
      }

      > menu.categories {
        left: unset;
        right: 0;
        border-left-width: 1px;
        border-left-style: solid;
        border-right: none;

        > li {

          &::before {
            left: unset;
            right: 10px;
            -webkit-mask-position-x: right;
          }

          &.active::after {
            left: -9px;
            right: unset;
          }

          > a {
            padding-right: 40px;
            padding-left: 0;

            > span {
              margin-right: 5px;
              margin-left: 0;
            }
          }
        }
      }

      > div[id^='results_'] {
        margin-right: 180px;
        margin-left: 0;

        > p {

          > span {
            padding-right: 40px;
            padding-left: 0;

            &::before {
              -webkit-mask-position-x: right;
            }
          }
        }

        > ul {

          > li {

            > div.checkbox {
              margin-left: 14px;
              margin-right: 0;
            }

            > img {
              margin-left: 14px;
              margin-right: 0;
            }

            > ul {
              margin-left: 30px;
              margin-right: 65px;
            }

            > a.urlCheckAction {
              left: 10px;
              right: unset;
            }
          }
        }
      }
    }

    &[data-type='openChildren'] > header::before {
      transform: scaleX(-1);
    }

    &[data-type='shareInfoDesc'] {

      > div.scrollBox {

        > ul {

          > li {
            padding-right: 10px;
            padding-left: 0;

            &::before {
              left: unset;
              right: 0;
            }
          }
        }
      }
    }

    &[data-type='infos'] {

      > ul {

        > li {

          &.tooltip {
            padding-right: 0;
            padding-left: 18px;

            &::before {
              -webkit-mask-position-x: left;
            }
          }

          > ul {
            right: unset;
            left: -10px;

            &::before {
              left: 10px;
              right: unset;
            }
          }
        }
      }
    }

    &[data-type='edit'], &[data-type='add'] {

      > ul {

        > li {

          > label {
            margin-right: 0;
            margin-left: 12px;
          }
        }
      }
    }

    > menu.buttons {
      right: unset;
      left: 20px;
    }
  }
}