body.dark {

  menu.infoBar {
    background: $darkContentBackground2;

    > a.save {
      color: $darkContentBackground2;
    }

    > div.upload {

      > a.remove {
        background: $darkContentBackground2;
      }

      > div {
        background: $darkContentBackground2;
      }

      > span.premium {
        background: $darkContentBackground2;

        &::after {
          border-left-color: $darkContentBackground2;
        }
      }
    }
  }

  > a.edit {

    &:hover {
      background: $darkContentBackground2;
    }
  }

  div.editLinkTooltip {
    background: $darkContentBackground2;
    filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 0.2));
    transform: translate3d(0, 3px, 0);

    &::before {
      border-bottom-color: $darkContentBackground2;
    }

    > input[type='text'] {
      border-color: rgba(255, 255, 255, 0.2);

      &:focus {
        border-color: rgba(255, 255, 255, 0.4);
      }
    }

    > button[type='submit'] {
      color: $textColorLight;

      &[data-type="delete"] {
        color: rgba($textColorLight, 0.6);
      }
    }
  }

  &.edit {

    section#content > nav {

      select.edit {
        background: lighten($darkContentBackground2, 5%);
      }

      a.add {
        background: $darkContentBackground;

        &:hover {
          background: $darkContentBackground2;
        }
      }

      > ul > li {

      }
    }

    form#search {

      > select {
        background: lighten($darkContentBackground2, 5%);

        &.edit {
          background: lighten($darkContentBackground2, 5%);
        }
      }

      > a.edit:hover {
        background: lighten($darkContentBackground2, 5%);
      }
    }

    div#gridLinks {

      select {
        background: lighten($darkContentBackground2, 5%);
      }

      > div[data-type='gridsize'] > span.premium {
        background: $darkContentBackground2;

        &::after {
          border-left-color: $darkContentBackground2;
        }
      }
    }
  }

  &.customBackground {

    > a.edit {
      background-color: rgba($darkContentBackground, 0.7);

      &::before {
        background-color: $textColorLight;
      }
    }

    &.edit {

      form#search > select.edit {
        background: rgba($darkContentBackground, 0.7);
      }

      div#gridLinks {

        > select {
          background: rgba($darkContentBackground, 0.7);
        }

        > div[data-type='gridsize'] {
          background: rgba($darkContentBackground, 0.7);
        }

        &[data-type="custom"] > ul > li > a {

          > div {
            background: rgba($darkContentBackground, 0.7);
            box-shadow: 0 0 0 3px rgba($darkContentBackground, 0.7);
          }

          &:hover > div {
            background: rgba($darkContentBackground, 0.7);
          }

          &.dragHover {
            border-color: $__textColor;
          }
        }
      }

      section#content > nav {

        > ul > li > a {
          background: rgba($darkContentBackground, 0.7);
          box-shadow: 0 0 0 3px rgba($darkContentBackground, 0.7);

          &:hover {
            background: rgba($darkContentBackground, 0.7);
          }
        }
      }
    }
  }

  &[data-pos='right'] {

    menu.infoBar {

      > div.upload {

        > span.premium {

          &::after {
            border-left-color: transparent;
            border-right-color: $darkContentBackground2;
          }
        }
      }
    }
  }
}