body.dark {

  menu.infoBar {
    background: $darkContentBackground2;

    > a.save {
      color: $darkContentBackground2;
    }

    > div.upload {

      > a.remove {
        background: $darkContentBackground2;
      }

      > div {
        background: $darkContentBackground2;
      }

      > span.premium {
        background: $darkContentBackground2;

        &::after {
          border-left-color: $darkContentBackground2;
        }
      }
    }
  }

  > a.edit {

    &:hover {
      background: $darkContentBackground2;
    }
  }

  &.edit {

    section#content > nav {

      select.edit {
        background: lighten($darkContentBackground2, 5%);
      }

      a.add {
        background: $darkContentBackground;

        &:hover {
          background: $darkContentBackground2;
        }
      }

      > ul > li {
        background: $darkContentBackground2;
        border-color: rgba(255, 255, 255, 0.075);
        box-shadow: inset 0 -20px 0 -4px $darkContentBackground;

        > a.edit, > a.remove {
          background: $darkContentBackground2;

          &:hover {
            background: lighten($darkContentBackground2, 5%);
          }
        }

        > div {
          background: $darkContentBackground2;
          filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 0.2));
          transform: translate3d(0, 3px, 0);

          &::before {
            border-bottom-color: $darkContentBackground2;
          }

          > input[type='text'] {
            border-color: rgba(255, 255, 255, 0.2);

            &:focus {
              border-color: rgba(255, 255, 255, 0.4);
            }
          }

          > button[type='submit'] {
            color: $__textColor;
          }
        }
      }
    }

    div#search {

      > select {
        background: lighten($darkContentBackground2, 5%);

        &.edit {
          background: rgba($darkContentBackground, 0.7);
        }
      }

      > a.edit:hover {
        background: lighten($darkContentBackground2, 5%);
      }
    }

    div#gridLinks {

      select {
        background: lighten($darkContentBackground2, 5%);
      }

      > div[data-type='gridsize'] > span.premium {
        background: $darkContentBackground2;

        &::after {
          border-left-color: $darkContentBackground2;
        }
      }
    }
  }

  &.customBackground {

    > a.edit {
      background-color: rgba($darkContentBackground, 0.7);

      &::before {
        background-color: $textColorLight;
      }
    }

    div#gridLinks {

      > select {
        background: rgba($darkContentBackground, 0.7);
      }

      > div[data-type='gridsize'] {
        background: rgba($darkContentBackground, 0.7);
      }
    }
  }

  &[data-pos='right'] {

    menu.infoBar {

      > div.upload {

        > span.premium {

          &::after {
            border-left-color: transparent;
            border-right-color: $darkContentBackground2;
          }
        }
      }
    }
  }
}