
body.dark {

  div#search {

    > input[type='text'] {
      background: $darkContentBackground2;
    }

    > button[type="submit"]:hover {
      background: lighten($darkContentBackground2, 5%);
    }

    > ul.suggestions {
      filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));

      > li {
        background: $darkContentBackground2;
      }
    }
  }

  &.customBackground div#search {

    > input[type='text'] {
      background: rgba($darkContentBackground, 0.7);
    }

    > button[type="submit"]::before {
      background: $textColorLight;
    }
  }
}