
body.highContrast:not(.dark) div.modal {

  > header {

    > a.close:hover {
      background-color: rgba(0, 0, 0, 0.07);
    }
  }

  &[data-type='add'] {

    > menu[data-name='select'] {

      > a {

        &.hover {

          &::before {
            background-color: $__textColor;
          }

          &::after {
            color: $__textColor;
          }
        }
      }
    }

    > menu.buttons > a.action {
      display: none;

      &.visible {
        display: inline-block;
      }
    }
  }

  > menu.buttons {

    > a {
      color: $__textColor;

      &::before {
        background: $__textColor;
      }
    }
  }
}