html[dir='rtl'] {

  div.color-picker {
    box-shadow: -1px 1px 20px rgba(0, 0, 0, 0.3);

    > div.input-r, > div.input-g, > div.input-b, > div.input-a {
      right: unset;
      left: 7px;

      > input {
        margin-right: 3px;
        margin-left: unset;
        text-align: left;
      }
    }

    > div.input-color {

      > span {
        display: none;
      }
    }
  }
}