
html[dir='rtl'] {

  div.tab[data-name='feedback'] {

    div.suggestedAnswers {

      > span.icon {
        left: 12px;
        right: unset;
        box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
      }

      > div.suggestion {
        direction: ltr;

        &:last-of-type::before {
          left: 20px;
          right: unset;
        }

        > p {
          text-align: left;

          > a[href] {
            float: right;
          }
        }
      }
    }
  }
}