
html[dir='rtl'] body > section#wrapper {

  div[data-name="aboutme"] {

    > div {

      > div.desc {

        &::before {
          left: unset;
          right: -5px;
        }

        > p.highlight {
          padding-right: 44px;
          padding-left: 0;

          &::before {
            -webkit-mask-position-x: right;
          }
        }
      }
    }
  }

  div[data-name='permissions'] {

    div.permissions {

      div.details {
        @include bubbleRtl;

        > a.github {
          padding-left: 12px;
          padding-right: 34px;

          &::before {
            transform: scaleX(-1);
          }
        }
      }
    }

    div.shareInformation {

      label {
        margin-right: 0 !important;
        margin-left: 20px !important;
      }
    }
  }
}