html[dir='rtl'] {

  body > section#wrapper {

    &::before {
      right: 0;
      left: unset;
    }

    > aside {

      > nav {

        > ul {

          > li {

            &[data-name='language'] {

              &.incomplete > a > span {
                margin-right: 5px;
                margin-left: unset;
              }
            }

            &[data-name='premium'].inactive > a::after {
              left: unset;
              right: 15px;
            }

            &[data-name='newtab'] > a::before, &[data-name='feedback'] > a::before {
              transform: scaleX(-1);
              -webkit-mask-position-x: left !important;
            }

            &[data-name='expert'] > a {
              padding-left: 10px;
              padding-right: 32px;

              &::after {
                right: 10px;
                left: unset;
                transform: rotateZ(-135deg);
              }
            }

            &.active {

              &::after {
                left: 0;
                right: unset;
                transform: scaleX(-1);
              }
            }
          }
        }

        ul {

          > li {

            > a {
              padding-right: 52px;
              padding-left: 10px;

              &::before {
                left: unset !important;
                right: 22px !important;
                -webkit-mask-position: right center !important;
              }
            }

            > ul {
              margin-left: unset;
              margin-right: 30px;

              > li {

                > a {
                  padding-right: 22px;
                  padding-left: 10px;

                  &::before {
                    right: 12px !important;
                    left: unset;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

