html[dir='rtl'] {

  div.tab[data-name='premium'] {

    > section {
      box-shadow: -2px -2px 10px rgba(0, 0, 0, 0.1);

      &[data-type='intro'] {
        padding: 16px 20px 16px 100px;
        padding-right: 100px;
        padding-left: 20px;

        &::before {
          left: unset;
          right: 0;
        }

        > a {

          &[data-type="activate"] {
            margin-left: 0;
            margin-right: 10px;
          }
        }

        > span[data-type='activated'] {
          padding-right: 54px;
          padding-left: 15px;

          &::before {
            left: unset;
            right: 0;
            width: 50px;
          }
        }
      }
    }
  }
}

