
html[dir='rtl'] {

  div.tab[data-name='support'] {

    div.upload {

      > span {
        padding-right: 28px;
        padding-left: 3px;

        &::before {
          transform: scaleX(-1);
        }
      }

      > input[type='file'] {
        left: unset;
        right: -900%;
      }
    }

    ul.uploadedFiles {

      > li {

        > span {
          margin-right: 10px;
          margin-left: 0;
        }

        > a.close {
          left: 0;
          right: unset;
        }
      }
    }

    div.faq {
      direction: ltr;
    }

    div.suggestedAnswers {

      > span.icon {
        left: 12px;
        right: unset;
        box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
      }

      > a {
        right: 17px;
        left: unset;
        padding-right: 22px;
        padding-left: 0;

        &::before {
          transform: scaleX(-1);
        }
      }

      > div.suggestion {
        direction: ltr;

        &:last-of-type::before {
          left: 20px;
          right: unset;
        }

        > p {
          text-align: left;

          > a[href] {
            float: right;
          }
        }
      }
    }
  }
}