
html[dir='rtl'] {

  div.tab[data-name='language'] > div[data-name='translate'] {

    div.translationInfo {

      > hr {
        margin-right: 40px;
        margin-left: 0;
      }

      > div {
        padding-right: 40px;
        padding-left: 0;

        > div.checkbox {
          margin-left: 10px;
          margin-right: 0;
        }
      }
    }

    > div.overview {

      div.box {

        > div.progress {

          > div {
            right: 0;
            left: unset;
          }

          &::before {
            left: -50px;
            right: unset;
            padding-right: 5px;
            padding-left: 0;
          }
        }

        > span {
          left: 20px;
          right: unset;
        }
      }
    }

    > div.langvars {

      div.box {

        > span.amountInfo {
          float: left;
          direction: ltr;
        }

        > span.requiredInfo {
          margin-right: 10px;
          margin-left: 0;
        }
      }
    }

    > div.category {

      > header {

        > span.amountInfo {
          float: left;
          margin-right: unset;
          margin-left: 15px;
          direction: ltr;
        }

        > a {

          &.back {
            padding-right: 17px;
            padding-left: 5px;

            &::before {
              left: unset;
              right: 0;
              transform: rotateZ(135deg);
            }
          }

          &.goto {
            float: left;
            margin-right: 3px;
            margin-left: 0;
          }
        }
      }

      > ul {

        > li {

          > div {

            &:first-of-type {
              direction: ltr;
              text-align: left;

              &::after {
                right: unset;
                left: -4px;
                transform: scaleX(-1) rotateZ(45deg);
              }
            }
          }
        }
      }
    }

    > div.thanks {

      blockquote {
        padding-right: 36px;
        padding-left: 0;

        &::before {
          -webkit-mask-position-x: right;
        }

        > footer::before {
          margin-right: 0;
          margin-left: 4px;
        }
      }

      p.submitWrapper {

        > a {

          &.close {
            margin-right: 12px;
            margin-left: 0;
          }

          &.loading {
            padding-right: 12px;
            padding-left: 40px;

            > svg.loading {
              left: 10px;
              right: unset;
            }
          }
        }
      }
    }
  }
}