body.highContrast:not(.dark) div.contextmenu {

  > ul.list > li > a {
    transition: opacity 0.3s;

    &.hover {
      color: $__textColor;
      opacity: 1;

      &::before {
        background-color: $__textColor;
        opacity: 0.8;
      }
    }
  }
}