body > iframe#blockbyte-bs-sidebar, body > iframe#blockbyte-bs-overlay {
  opacity: 0;
  pointer-events: none; }

body > div#blockbyte-bs-indicator {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2147483645; }
  body > div#blockbyte-bs-indicator.blockbyte-bs-visible {
    display: block; }

body > iframe#blockbyte-bs-sidebar {
  position: fixed;
  top: 0;
  left: 0; }

body > iframe#blockbyte-bs-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: block; }

body > div#blockbyte-bs-indicator.noAnimations, body > div#blockbyte-bs-indicator.noAnimations::before, body > div#blockbyte-bs-indicator.noAnimations::after, body > div#blockbyte-bs-indicator.noAnimations > *,
body > iframe#blockbyte-bs-sidebar.noAnimations,
body > iframe#blockbyte-bs-sidebar.noAnimations::before,
body > iframe#blockbyte-bs-sidebar.noAnimations::after,
body > iframe#blockbyte-bs-sidebar.noAnimations > *,
body > iframe#blockbyte-bs-overlay.noAnimations,
body > iframe#blockbyte-bs-overlay.noAnimations::before,
body > iframe#blockbyte-bs-overlay.noAnimations::after,
body > iframe#blockbyte-bs-overlay.noAnimations > * {
  transition: none !important; }

@media print {
  [id^='blockbyte-bs-'] {
    display: none !important; } }
