body > div#blockbyte-bs-indicator > div {
  opacity: 0;
  pointer-events: none; }

body > iframe#blockbyte-bs-sidebar.blockbyte-bs-visible, body > iframe#blockbyte-bs-overlay.blockbyte-bs-visible {
  opacity: 1;
  pointer-events: auto; }

body.blockbyte-bs-noscroll {
  overflow: hidden !important; }

body > div#blockbyte-bs-indicator > div {
  position: absolute;
  transform: translate3d(-"%indicatorWidth", 0, 0);
  top: 0;
  left: 0;
  width: "%indicatorWidth" !important;
  height: 100%;
  background: "%indicatorColor";
  border-radius: 0 10px 10px 0;
  transition: opacity 0.3s, transform 0.3s;
  z-index: 2; }
  body > div#blockbyte-bs-indicator > div > span {
    -webkit-mask: no-repeat center/"%indicatorIconSize";
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-bookmark.svg);
    background-color: "%indicatorIconColor";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

body > div#blockbyte-bs-indicator[data-pos='right'] {
  left: auto;
  right: 0; }
  body > div#blockbyte-bs-indicator[data-pos='right'] > div {
    transform: translate3d("%indicatorWidth", 0, 0);
    left: auto;
    right: 0;
    border-radius: 10px 0 0 10px; }

body > div#blockbyte-bs-indicator.blockbyte-bs-fullHeight > div {
  border-radius: 0; }

body > div#blockbyte-bs-indicator.blockbyte-bs-hover > div {
  transform: translate3d(0, 0, 0);
  opacity: 1; }

body > div#blockbyte-bs-indicator[data-pos='left'].blockbyte-bs-has-lsb {
  height: 100% !important;
  top: 0 !important; }
  body > div#blockbyte-bs-indicator[data-pos='left'].blockbyte-bs-has-lsb > div {
    background: transparent; }
    body > div#blockbyte-bs-indicator[data-pos='left'].blockbyte-bs-has-lsb > div > span {
      -webkit-mask-position-y: 20px; }

body > iframe#blockbyte-bs-sidebar {
  width: "%sidebarWidth";
  max-width: none;
  height: 0;
  z-index: 2147483646;
  background-color: "%sidebarMaskColor" !important;
  border: none;
  display: block !important;
  transform: translate3d(-"%sidebarWidth", 0, 0);
  transition: width 0s 0.3s, height 0s 0.3s, opacity 0.3s, transform 0.3s; }
  body > iframe#blockbyte-bs-sidebar[data-pos='right'] {
    left: auto;
    right: 0;
    transform: translate3d("%sidebarWidth", 0, 0); }
  body > iframe#blockbyte-bs-sidebar.blockbyte-bs-visible {
    width: calc(100% + %sidebarWidth);
    height: 100%;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.3s, transform 0.3s; }
  body > iframe#blockbyte-bs-sidebar.blockbyte-bs-hideMask {
    background: none !important; }
    body > iframe#blockbyte-bs-sidebar.blockbyte-bs-hideMask:not(.blockbyte-bs-hover) {
      width: calc(%sidebarWidth + 50px); }

body > iframe#blockbyte-bs-overlay {
  width: 100%;
  max-width: none;
  height: 100%;
  z-index: 2147483647;
  border: none;
  background: "%overlayMaskColor" !important;
  transition: opacity 0.3s; }
