body::before {
  opacity: 0;
  pointer-events: none; }

body.initLoading::before {
  opacity: 1;
  pointer-events: auto; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

@keyframes dash {
  0% {
    stroke-dashoffset: 100.53096; }
  50% {
    stroke-dashoffset: 25.13274;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 100.53096;
    transform: rotate(450deg); } }

svg.loading {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  animation: rotator 1.5s linear infinite; }
  svg.loading > circle {
    stroke-dasharray: 100.53096;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: "%colorScheme";
    animation: dash 1.5s ease-in-out infinite; }

body.dark svg.loading > circle {
  stroke: "%textColor"; }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

body, input, textarea, select, button {
  font-size: 14px;
  font-family: "%fontFamily", sans-serif;
  color: "%textColor";
  font-weight: "%fontWeightNormal"; }

ul {
  list-style: none; }

strong {
  font-weight: "%fontWeightBold"; }

a {
  color: "%textColor";
  text-decoration: none; }

body {
  background: #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    transition: opacity 0.3s;
    z-index: 98; }
  body > svg.loading {
    position: fixed;
    display: block !important;
    top: calc(50% - 18px);
    left: calc(50% - 18px);
    z-index: 99; }

section#content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #f2f2f2; }
  section#content > nav {
    position: absolute;
    top: 10px;
    right: 20px; }
    section#content > nav > ul > li {
      display: inline-block; }
      section#content > nav > ul > li > a {
        color: "%textColor";
        display: block;
        cursor: pointer;
        padding: 7px 10px;
        border-radius: 20px;
        transition: background 0.3s; }
        section#content > nav > ul > li > a:hover {
          background: rgba(0, 0, 0, 0.05); }
  section#content > section.mid {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    section#content > section.mid > div#search {
      position: relative;
      display: block;
      margin: 0 auto;
      width: 100%;
      padding: 0 10px;
      height: 50px; }
      section#content > section.mid > div#search > input[type='text'] {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        padding: 0 30px;
        border: none;
        outline: none;
        font-size: 125%;
        background: #fff;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); }
        section#content > section.mid > div#search > input[type='text']::-webkit-input-placeholder {
          color: "%textColor";
          opacity: 0.7; }
        section#content > section.mid > div#search > input[type='text']::-moz-placeholder {
          color: "%textColor";
          opacity: 0.7; }
      section#content > section.mid > div#search > button[type="submit"] {
        position: absolute;
        top: 4px;
        right: 12px;
        width: calc(50px - 8px);
        height: calc(50px - 8px);
        outline: none;
        border: none;
        background: none;
        border-radius: 50%;
        cursor: pointer;
        transition: background 0.3s; }
        section#content > section.mid > div#search > button[type="submit"]::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-mask: no-repeat center/26px;
          -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-search.svg);
          background-color: #aaa; }
        section#content > section.mid > div#search > button[type="submit"]:hover {
          background: #f5f5f5; }
      section#content > section.mid > div#search > ul.suggestions {
        position: absolute;
        width: calc(100% - 20px);
        padding: 51px 20px 0;
        pointer-events: none;
        filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1)); }
        section#content > section.mid > div#search > ul.suggestions > li {
          position: relative;
          background: #fff;
          pointer-events: auto;
          font-size: 110%;
          pointer-events: auto;
          padding: 3px 10px 3px 26px;
          transition: background 0.3s; }
          section#content > section.mid > div#search > ul.suggestions > li::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-mask: no-repeat center/14px;
            background-color: #aaa; }
          section#content > section.mid > div#search > ul.suggestions > li.active {
            cursor: pointer;
            background: #f5f5f5; }
          section#content > section.mid > div#search > ul.suggestions > li::before {
            -webkit-mask-position-x: 7px; }
          section#content > section.mid > div#search > ul.suggestions > li[data-type='url']::before {
            -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-web.svg); }
          section#content > section.mid > div#search > ul.suggestions > li[data-type='word']::before {
            -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-search.svg); }
    section#content > section.mid > ul.topPages {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin: 50px auto 0; }
      section#content > section.mid > ul.topPages > li {
        display: block;
        padding: 8px 7px;
        font-size: 90%; }
        section#content > section.mid > ul.topPages > li > a {
          display: block;
          margin: 0 auto;
          background: rgba(0, 0, 0, 0.05);
          width: 145px;
          border-radius: 2px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          transition: box-shadow 0.3s; }
          section#content > section.mid > ul.topPages > li > a:hover {
            box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.15); }
          section#content > section.mid > ul.topPages > li > a > span {
            display: block;
            padding: 3px 5px 3px 3px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden; }
            section#content > section.mid > ul.topPages > li > a > span > img {
              display: inline-block;
              width: 14px;
              margin: 0px 5px 0 0;
              vertical-align: top; }
          section#content > section.mid > ul.topPages > li > a > img {
            display: block;
            width: 143px;
            height: 89.375px;
            opacity: 0;
            transition: opacity 0.5s; }
            section#content > section.mid > ul.topPages > li > a > img.visible {
              opacity: 1; }
      section#content > section.mid > ul.topPages[data-perRow='3'] {
        max-width: 477px; }
      section#content > section.mid > ul.topPages[data-perRow='2'] {
        max-width: 318px; }

body.dark {
  background: #444; }
  body.dark section#content {
    background: #444; }
    body.dark section#content > nav > ul > li > a:hover {
      background: #555; }
    body.dark section#content > section.mid > div#search > input[type='text'] {
      background: #555; }
    body.dark section#content > section.mid > div#search > button[type="submit"]:hover {
      background: #626262; }
    body.dark section#content > section.mid > div#search > ul.suggestions {
      filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1)); }
      body.dark section#content > section.mid > div#search > ul.suggestions > li {
        background: #555; }
        body.dark section#content > section.mid > div#search > ul.suggestions > li.active {
          background: #626262; }
    body.dark section#content > section.mid > ul.topPages > li > a {
      background: #555; }
      body.dark section#content > section.mid > ul.topPages > li > a:hover {
        background: #626262; }

/*# sourceMappingURL=newtab.css.map */