div#topPages > ul, menu.infoBar > div.upload, body::before {
  opacity: 0;
  pointer-events: none; }

div#topPages > ul.visible, body.edit menu.infoBar > div.upload, body.initLoading::before, body.loading::before {
  opacity: 1;
  pointer-events: auto; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

@keyframes dash {
  0% {
    stroke-dashoffset: 100.53096; }
  50% {
    stroke-dashoffset: 25.13274;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 100.53096;
    transform: rotate(450deg); } }

svg.loading {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  animation: rotator 1.5s linear infinite; }
  svg.loading > circle {
    stroke-dasharray: 100.53096;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: "%colorScheme";
    animation: dash 1.5s ease-in-out infinite; }

body.dark svg.loading > circle {
  stroke: "%textColor"; }

body.highContrast:not(.dark) svg.loading > circle {
  stroke: "%textColor"; }

div.checkbox {
  position: relative;
  cursor: pointer; }
  div.checkbox > input[type='checkbox'] {
    display: none; }
  div.checkbox[data-style="default"] {
    width: 20px;
    height: 20px; }
    div.checkbox[data-style="default"]::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/22px;
      background-color: "%textColor"; }
    div.checkbox[data-style="default"]::before {
      transition: -webkit-mask 0.3s, background-color 0.3s; }
    div.checkbox[data-style="default"][data-type='checkbox']::before {
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-checkbox-inactive.svg); }
    div.checkbox[data-style="default"][data-type='radio']::before {
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-radio-inactive.svg); }
    div.checkbox[data-style="default"]::after {
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: calc(50% - 1px);
      width: 2px;
      height: 2px;
      border-radius: 50%;
      pointer-events: none;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
      transition: background 0.2s, box-shadow 0.2s, opacity 0.5s;
      opacity: 0.2; }
    div.checkbox[data-style="default"].focus::after, div.checkbox[data-style="default"].clicked::after {
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.5); }
    div.checkbox[data-style="default"].clicked::after {
      opacity: 0; }
    div.checkbox[data-style="default"].active::before {
      background-color: "%colorScheme"; }
    div.checkbox[data-style="default"].active[data-type='checkbox']::before {
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-checkbox.svg); }
    div.checkbox[data-style="default"].active[data-type='radio']::before {
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-radio.svg); }
    div.checkbox[data-style="default"].active::after {
      box-shadow: 0 0 0 0 "%colorScheme"; }
    div.checkbox[data-style="default"].active.focus::after, div.checkbox[data-style="default"].active.clicked::after {
      background: "%colorScheme";
      box-shadow: 0 0 0 20px "%colorScheme"; }
  div.checkbox[data-style="switch"] {
    width: 32px;
    height: 14px;
    transition: padding-left 0.2s, opacity 0.2s; }
    div.checkbox[data-style="switch"]::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 14px;
      background: rgba(0, 0, 0, 0.2);
      transition: background 0.2s, opacity 0.2s; }
    div.checkbox[data-style="switch"]::after {
      content: "";
      position: relative;
      display: block;
      top: -3px;
      left: -3px;
      width: 20px;
      height: 20px;
      background-color: #fff;
      transition: background-color 0.2s;
      box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
      border-radius: 50%; }
    div.checkbox[data-style="switch"].active {
      padding-left: 18px; }
      div.checkbox[data-style="switch"].active::before {
        opacity: 0.4; }
      div.checkbox[data-style="switch"].active::before, div.checkbox[data-style="switch"].active::after {
        background-color: "%colorScheme"; }

html[dir='rtl'] div.checkbox[data-style="switch"] {
  transition: padding-right 0.2s, opacity 0.2s; }
  html[dir='rtl'] div.checkbox[data-style="switch"]::after {
    left: unset;
    right: -3px;
    box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.4); }
  html[dir='rtl'] div.checkbox[data-style="switch"].active {
    padding-left: unset;
    padding-right: 18px; }

body.highContrast:not(.dark) div.checkbox[data-style="default"].active::before {
  background-color: "%textColor"; }

body.highContrast:not(.dark) div.checkbox[data-style="default"].active::after {
  box-shadow: 0 0 0 0 "%textColor"; }

body.highContrast:not(.dark) div.checkbox[data-style="default"].active.focus::after, body.highContrast:not(.dark) div.checkbox[data-style="default"].active.clicked::after {
  background: "%textColor";
  box-shadow: 0 0 0 20px "%textColor"; }

body.highContrast:not(.dark) div.checkbox[data-style="switch"].active::before, body.highContrast:not(.dark) div.checkbox[data-style="switch"].active::after {
  background-color: "%textColor"; }

body.dark div.checkbox[data-style="default"]::after {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5); }

body.dark div.checkbox[data-style="default"].focus::after, body.dark div.checkbox[data-style="default"].clicked::after {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.5); }

body.dark div.checkbox[data-style="default"].active::before {
  background-color: "%textColor"; }

body.dark div.checkbox[data-style="default"].active::after {
  box-shadow: 0 0 0 0 "%textColor"; }

body.dark div.checkbox[data-style="default"].active.focus::after, body.dark div.checkbox[data-style="default"].active.clicked::after {
  background: "%textColor";
  box-shadow: 0 0 0 20px "%textColor"; }

body.dark div.checkbox[data-style="switch"]::before {
  background: rgba(255, 255, 255, 0.15); }

body.dark div.checkbox[data-style="switch"]::after {
  background-color: #aaa; }

body.dark div.checkbox[data-style="switch"].active::before, body.dark div.checkbox[data-style="switch"].active::after {
  background-color: #fff; }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body, input, textarea, select, button {
  font-size: 14px;
  font-family: "%fontFamily", sans-serif;
  color: "%textColor";
  font-weight: "%fontWeightNormal"; }

ul, menu {
  list-style: none; }

strong {
  font-weight: "%fontWeightBold"; }

a {
  color: "%textColor";
  text-decoration: none; }

div#topPages {
  margin: 50px auto 0;
  text-align: center; }
  div#topPages.hidden {
    display: none; }
  div#topPages > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: left;
    transition: opacity 0.2s; }
    div#topPages > ul > li {
      display: block;
      font-size: 90%; }
    div#topPages > ul[data-perRow='3'] {
      max-width: 477px; }
    div#topPages > ul[data-perRow='2'] {
      max-width: 318px; }
    div#topPages > ul[data-appearance='thumbnail'] > li {
      padding: 8px 7px; }
      div#topPages > ul[data-appearance='thumbnail'] > li > a {
        display: block;
        margin: 0 auto;
        background: #fff;
        width: 145px;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        transition: border-color 0.3s, box-shadow 0.3s; }
        div#topPages > ul[data-appearance='thumbnail'] > li > a:hover {
          border-color: rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15); }
        div#topPages > ul[data-appearance='thumbnail'] > li > a > span {
          display: block;
          padding: 5px 7px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden; }
          div#topPages > ul[data-appearance='thumbnail'] > li > a > span > img {
            display: inline-block;
            width: 14px;
            margin: 0 5px 0 0;
            vertical-align: top; }
        div#topPages > ul[data-appearance='thumbnail'] > li > a > img {
          display: block;
          width: 143px;
          height: 89.375px;
          opacity: 0;
          background: #fff;
          transition: opacity 0.5s; }
          div#topPages > ul[data-appearance='thumbnail'] > li > a > img.visible {
            opacity: 1; }
    div#topPages > ul[data-appearance='favicon'] > li {
      font-weight: "%fontWeightMedium";
      padding: 16px 0; }
      div#topPages > ul[data-appearance='favicon'] > li > a {
        display: block;
        margin: 0 auto;
        padding: 5px 0 0 0;
        width: 145px;
        text-align: center;
        border-radius: 5px;
        transition: background 0.3s; }
        div#topPages > ul[data-appearance='favicon'] > li > a > div {
          width: 52px;
          padding: 15px;
          margin: 0 auto 5px;
          background: #fff;
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 50%;
          transition: border-color 0.3s, box-shadow 0.3s; }
          div#topPages > ul[data-appearance='favicon'] > li > a > div > img {
            display: block;
            width: 100%; }
        div#topPages > ul[data-appearance='favicon'] > li > a > span {
          display: block;
          padding: 5px 7px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden; }
        div#topPages > ul[data-appearance='favicon'] > li > a:hover {
          background: #e5e5e5; }
          div#topPages > ul[data-appearance='favicon'] > li > a:hover > div {
            border-color: rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15); }

body.customBackground div#topPages > ul[data-appearance='thumbnail'] > li > a {
  background: rgba(255, 255, 255, 0.8); }

body.customBackground div#topPages > ul[data-appearance='favicon'] > li > a:hover {
  background: rgba(255, 255, 255, 0.3); }

body.customBackground div#topPages > ul[data-appearance='favicon'] > li > a > div {
  background: rgba(255, 255, 255, 0.8); }

body.customBackground div#topPages > ul[data-appearance='favicon'] > li > a > span {
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); }

html[dir='rtl'] div#topPages > ul {
  text-align: right; }
  html[dir='rtl'] div#topPages > ul[data-appearance='thumbnail'] > li > a > span > img {
    margin: 0 0 0 5px; }

body.dark div#topPages > ul[data-appearance='thumbnail'] > li > a {
  background: #4d4d4d;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3); }
  body.dark div#topPages > ul[data-appearance='thumbnail'] > li > a:hover {
    border-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6); }

body.dark div#topPages > ul[data-appearance='favicon'] > li > a > div {
  background: #4d4d4d; }

body.dark div#topPages > ul[data-appearance='favicon'] > li > a:hover {
  background: rgba(77, 77, 77, 0.5); }
  body.dark div#topPages > ul[data-appearance='favicon'] > li > a:hover > div {
    border-color: rgba(255, 255, 255, 0.03);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3); }

body.dark.customBackground div#topPages > ul[data-appearance='thumbnail'] > li > a {
  background: rgba(61, 61, 61, 0.7); }

body.dark.customBackground div#topPages > ul[data-appearance='favicon'] > li > a:hover {
  background: rgba(77, 77, 77, 0.4); }

body.dark.customBackground div#topPages > ul[data-appearance='favicon'] > li > a > div {
  background: rgba(61, 61, 61, 0.7); }

body.dark.customBackground div#topPages > ul[data-appearance='favicon'] > li > a > span {
  color: "%textColor";
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); }

section#content > nav {
  position: absolute;
  top: 10px;
  right: 20px; }
  section#content > nav > ul {
    display: flex; }
    section#content > nav > ul > li {
      position: relative;
      display: inline-block;
      text-align: center; }
      section#content > nav > ul > li > a.link {
        position: relative;
        color: "%textColor";
        display: block;
        cursor: pointer;
        padding: 7px 10px;
        border-radius: 20px;
        white-space: nowrap;
        transition: background 0.3s; }
        section#content > nav > ul > li > a.link:hover {
          background: #e5e5e5; }
  section#content > nav[data-pos='left'] {
    left: 20px;
    right: unset; }
    section#content > nav[data-pos='left'] > ul {
      flex-direction: row-reverse; }

body.customBackground section#content > nav > ul > li > a.link {
  background: rgba(242, 242, 242, 0.8); }

html[dir='rtl'] section#content > nav > ul {
  flex-direction: row-reverse; }

html[dir='rtl'] section#content > nav[data-pos='left'] > ul {
  flex-direction: row; }

body.dark section#content > nav > ul > li > a:hover {
  background: #4d4d4d; }

body.dark.customBackground section#content > nav > ul > li > a {
  background: rgba(61, 61, 61, 0.7); }

div#search {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
  height: 54px; }
  div#search > input[type='text'] {
    width: 100%;
    height: 100%;
    border-radius: 27px;
    padding: 0 90px 0 30px;
    border: none;
    outline: none;
    font-size: 125%;
    background: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); }
    div#search > input[type='text']::-webkit-input-placeholder {
      color: "%textColor";
      opacity: 0.7; }
    div#search > input[type='text']::-moz-placeholder {
      color: "%textColor";
      opacity: 0.7; }
  div#search > button, div#search > a {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    outline: none;
    border: none;
    background: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s; }
    div#search > button:hover, div#search > a:hover {
      background: #f2f2f2; }
  div#search > button[type="submit"] {
    right: 15px;
    width: calc(54px - 8px);
    height: calc(54px - 8px); }
    div#search > button[type="submit"]::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/26px;
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-search.svg);
      background-color: #aaa; }
  div#search > a.speechSearch {
    right: 60px;
    width: calc(54px - 20px);
    height: calc(54px - 20px); }
    div#search > a.speechSearch::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/20px;
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-speech.svg);
      background-color: #aaa; }
  div#search > ul.suggestions {
    position: absolute;
    width: calc(100% - 20px);
    padding: 55px 20px 0;
    pointer-events: none;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
    z-index: 2; }
    div#search > ul.suggestions > li {
      position: relative;
      background: #fff;
      pointer-events: auto;
      font-size: 110%;
      padding: 3px 10px 3px 28px;
      transition: background 0.1s; }
      div#search > ul.suggestions > li::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-mask: no-repeat center/14px;
        background-color: #aaa; }
      div#search > ul.suggestions > li.active {
        cursor: pointer;
        background: "%hoverColor" !important; }
      div#search > ul.suggestions > li::before {
        width: 14px;
        height: 14px;
        left: 7px;
        top: 0;
        bottom: 0;
        margin: auto; }
      div#search > ul.suggestions > li[data-type='url']::before {
        -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-web.svg); }
      div#search > ul.suggestions > li[data-type='word']::before {
        -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-search.svg); }
  div#search.listening > input[type='text'] {
    pointer-events: none;
    font-style: italic;
    color: transparent;
    text-shadow: 0 0 0 gray; }
  div#search.listening > a.speechSearch {
    right: 20px; }
    div#search.listening > a.speechSearch::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/20px;
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-close.svg);
      background-color: #aaa; }
  div#search.listening > ul.suggestions, div#search.listening > button[type="submit"] {
    display: none; }

body.customBackground div#search > input[type='text'] {
  background: rgba(255, 255, 255, 0.8); }

body.customBackground div#search > button[type="submit"]::before, body.customBackground div#search > a.speechSearch::before {
  background-color: #848484; }

html[dir='rtl'] div#search > input[type='text'] {
  padding: 0 30px 0 55px;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2); }

html[dir='rtl'] div#search > button[type="submit"] {
  left: 15px;
  right: unset; }

html[dir='rtl'] div#search > a.speechSearch {
  left: 60px;
  right: unset; }

html[dir='rtl'] div#search > ul.suggestions > li {
  padding-right: 28px;
  padding-left: 10px; }
  html[dir='rtl'] div#search > ul.suggestions > li::before {
    left: unset;
    right: 7px; }

html[dir='rtl'] div#search.listening > a.speechSearch {
  left: 20px;
  right: unset; }

body.dark div#search > input[type='text'] {
  background: #4d4d4d; }

body.dark div#search > button[type="submit"]:hover, body.dark div#search > a.speechSearch:hover {
  background: #5a5a5a; }

body.dark div#search > ul.suggestions {
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1)); }
  body.dark div#search > ul.suggestions > li {
    background: #4d4d4d; }

body.dark.customBackground div#search > input[type='text'] {
  background: rgba(61, 61, 61, 0.7); }

body.dark.customBackground div#search > button[type="submit"]::before, body.dark.customBackground div#search > a.speechSearch::before {
  background: #aaa; }

div#fallbackInfo {
  position: relative;
  width: 100%;
  padding: 15px 40px;
  margin: 25px 0 20px 0;
  display: none; }
  div#fallbackInfo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask: no-repeat center/24px;
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-info.svg);
    background-color: #aaa; }
  div#fallbackInfo::before {
    top: 15px;
    left: 10px;
    width: 24px;
    height: 24px; }
  div#fallbackInfo.active {
    display: block; }
  div#fallbackInfo > h2 {
    font-weight: "%fontWeightNormal";
    font-size: 140%; }
  div#fallbackInfo > p {
    font-weight: "%fontWeightNormal";
    color: #aaa;
    font-size: 120%;
    margin: 7px 0 25px 0; }
  div#fallbackInfo > a {
    font-weight: "%fontWeightMedium";
    cursor: pointer;
    color: "%colorScheme";
    font-size: 110%; }
  div#fallbackInfo > div {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
    div#fallbackInfo > div > div.checkbox {
      display: inline-block; }
      div#fallbackInfo > div > div.checkbox + span {
        display: inline-block;
        vertical-align: top;
        margin: -1px 0 0 15px; }

body.customBackground div#fallbackInfo {
  background: rgba(255, 255, 255, 0.8); }

html[dir='rtl'] div#fallbackInfo::before {
  right: 10px;
  left: unset; }

html[dir='rtl'] div#fallbackInfo > div > div.checkbox + span {
  margin-right: 15px;
  margin-left: 0; }

body.highContrast:not(.dark) div#fallbackInfo > a {
  color: "%textColor"; }

body.dark div#fallbackInfo > a {
  color: "%textColor"; }

body.dark.customBackground div#fallbackInfo {
  background: rgba(61, 61, 61, 0.7); }

body > a.edit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 42px;
  height: 42px;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s; }
  body > a.edit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask: no-repeat center/24px;
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-edit.svg);
    background-color: #aaa; }
  body > a.edit:hover {
    background: #e5e5e5; }

menu.infoBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: "%textColor";
  padding: 15px 20px;
  transition: transform 0.5s;
  transform: translate3d(0, 60px, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  menu.infoBar > a {
    display: block;
    cursor: pointer; }
    menu.infoBar > a.save {
      background: #fff;
      padding: 4px 8px;
      font-weight: "%fontWeightMedium";
      font-size: 100%;
      border-radius: 5px;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5); }
    menu.infoBar > a.cancel {
      color: #fff;
      margin: 0 20px;
      padding: 5px 3px; }
  menu.infoBar > div.upload {
    position: absolute;
    top: -60px;
    right: 20px;
    transform: translate3d(0, 30px, 0);
    transition: transform 0.5s, opacity 0.5s; }
    menu.infoBar > div.upload > a.remove {
      position: relative;
      display: none;
      background: #fff;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
      border-radius: 50%;
      width: 32px;
      height: 32px;
      cursor: pointer; }
      menu.infoBar > div.upload > a.remove::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-mask: no-repeat center/18px;
        -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-delete.svg);
        background-color: "%textColor"; }
    menu.infoBar > div.upload > div {
      position: relative;
      overflow: hidden;
      display: inline-block;
      background: #fff;
      padding: 0 8px;
      margin: 0 0 0 10px;
      height: 32px;
      line-height: 32px;
      font-weight: "%fontWeightMedium";
      font-size: 100%;
      border-radius: 5px;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2); }
      menu.infoBar > div.upload > div > span {
        position: relative;
        padding: 0 3px 0 28px; }
        menu.infoBar > div.upload > div > span::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-mask: no-repeat center/20px;
          -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/settings/icon-screenshot.svg);
          background-color: "%textColor"; }
        menu.infoBar > div.upload > div > span::before {
          -webkit-mask-position-x: 0; }
      menu.infoBar > div.upload > div > input[type='file'] {
        position: absolute;
        top: 0;
        left: -900%;
        width: 1000%;
        height: 100%;
        cursor: pointer;
        outline: none; }
    menu.infoBar > div.upload > span.premium {
      position: relative;
      display: inline-block;
      font-size: 90%;
      height: 26px;
      line-height: 26px;
      padding: 0 4px 0 22px;
      margin: 2px 0 0 10px;
      vertical-align: top;
      color: #fff;
      background: "%textColor"; }
      menu.infoBar > div.upload > span.premium::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-mask: no-repeat center/14px;
        -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-premium.svg);
        background-color: #fff; }
      menu.infoBar > div.upload > span.premium::after {
        content: "";
        position: absolute;
        top: 5px;
        right: -16px;
        border: 8px solid transparent;
        border-left-color: "%textColor"; }
      menu.infoBar > div.upload > span.premium::before {
        -webkit-mask-position-x: 4px; }

body[data-pos='right'] > a.edit {
  right: auto;
  left: 20px; }

body[data-pos='right'] menu.infoBar {
  justify-content: flex-start; }
  body[data-pos='right'] menu.infoBar > a.save {
    order: 1; }
  body[data-pos='right'] menu.infoBar > a.cancel {
    order: 2; }
  body[data-pos='right'] menu.infoBar > div.upload {
    right: unset;
    left: 20px; }
    body[data-pos='right'] menu.infoBar > div.upload > a.remove {
      float: right; }
    body[data-pos='right'] menu.infoBar > div.upload > div {
      margin: 0 10px 0 0; }
    body[data-pos='right'] menu.infoBar > div.upload > span.premium {
      margin-left: 0;
      margin-right: 10px;
      float: right; }
      body[data-pos='right'] menu.infoBar > div.upload > span.premium::after {
        right: unset;
        left: -16px;
        border-left-color: transparent;
        border-right-color: "%textColor"; }
      body[data-pos='right'] menu.infoBar > div.upload > span.premium::before {
        -webkit-mask-position-x: 4px; }

body.customBackground menu.infoBar > div.upload > a.remove {
  display: inline-block; }

body.customBackground > a.edit {
  background: rgba(242, 242, 242, 0.8); }
  body.customBackground > a.edit::before {
    background-color: #848484; }

body.edit > a.edit {
  display: none; }

body.edit select.edit {
  display: block;
  background: #fff;
  height: 25px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 0 7px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); }

body.edit menu.infoBar {
  transform: translate3d(0, 0, 0); }
  body.edit menu.infoBar > div.upload {
    transform: translate3d(0, 0, 0); }

body.edit section#content {
  height: calc(100vh - 60px); }
  body.edit section#content > nav select.edit {
    margin-top: 15px; }
  body.edit section#content > nav a.add, body.edit section#content > nav a.remove, body.edit section#content > nav a.edit {
    transition: background 0.3s;
    border-radius: 50%;
    cursor: pointer; }
    body.edit section#content > nav a.add:hover, body.edit section#content > nav a.remove:hover, body.edit section#content > nav a.edit:hover {
      background: #e5e5e5; }
  body.edit section#content > nav > a.add {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: 0;
    left: -35px;
    background: #f2f2f2; }
    body.edit section#content > nav > a.add::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/20px;
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-add.svg);
      background-color: #aaa; }
  body.edit section#content > nav > ul > li {
    background: #e5e5e5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    min-width: 60px;
    border-radius: 3px;
    margin: 0 2px;
    padding: 0 0 14px 0;
    box-shadow: inset 0 -20px 0 -4px rgba(0, 0, 0, 0.05); }
    body.edit section#content > nav > ul > li > a.link {
      pointer-events: none;
      background: transparent; }
    body.edit section#content > nav > ul > li > a.edit, body.edit section#content > nav > ul > li > a.remove {
      position: relative;
      display: inline-block;
      width: 24px;
      height: 24px; }
    body.edit section#content > nav > ul > li > a.edit::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/14px;
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-edit.svg);
      background-color: #aaa; }
    body.edit section#content > nav > ul > li > a.remove::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/14px;
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-delete.svg);
      background-color: #aaa; }
    body.edit section#content > nav > ul > li > a[data-pos] {
      position: absolute;
      display: block;
      width: 16px;
      height: 16px;
      right: 0;
      bottom: 0;
      cursor: pointer; }
      body.edit section#content > nav > ul > li > a[data-pos]::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        width: 6px;
        height: 6px;
        border-top: 2px solid #aaa;
        border-left: 2px solid #aaa;
        transform: rotateZ(135deg); }
    body.edit section#content > nav > ul > li > a[data-pos='left'] {
      right: auto;
      left: 0; }
      body.edit section#content > nav > ul > li > a[data-pos='left']::before {
        transform: rotateZ(-45deg); }
    body.edit section#content > nav > ul > li:last-child > a[data-pos='right'],
    body.edit section#content > nav > ul > li:first-child > a[data-pos='left'] {
      display: none; }
    body.edit section#content > nav > ul > li > div {
      position: absolute;
      text-align: left;
      background: #fff;
      filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 0.1));
      padding: 10px;
      bottom: -170px;
      right: -10px;
      height: 160px;
      width: 250px;
      border-radius: 3px;
      z-index: 9; }
      body.edit section#content > nav > ul > li > div::before {
        content: "";
        position: absolute;
        top: -20px;
        right: 20px;
        border: 10px solid transparent;
        border-bottom-color: #fff; }
      body.edit section#content > nav > ul > li > div > label {
        font-weight: "%fontWeightMedium";
        display: block; }
      body.edit section#content > nav > ul > li > div > input[type='text'] {
        outline: none;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: transparent;
        display: block;
        width: 100%;
        margin: 3px 0 10px;
        padding: 5px; }
        body.edit section#content > nav > ul > li > div > input[type='text']:focus {
          border-color: rgba(0, 0, 0, 0.25); }
      body.edit section#content > nav > ul > li > div > button[type='submit'] {
        border: none;
        outline: none;
        background: none;
        color: "%colorScheme";
        font-weight: "%fontWeightMedium";
        cursor: pointer;
        float: right;
        margin-top: 3px; }
  body.edit section#content > nav[data-pos='left'] > a.add {
    right: -35px;
    left: unset; }
  body.edit section#content > nav[data-pos='left'] > ul > li > a[data-pos='left'] {
    right: 0;
    left: unset; }
    body.edit section#content > nav[data-pos='left'] > ul > li > a[data-pos='left']::before {
      transform: rotateZ(135deg); }
  body.edit section#content > nav[data-pos='left'] > ul > li > a[data-pos='right'] {
    right: unset;
    left: 0; }
    body.edit section#content > nav[data-pos='left'] > ul > li > a[data-pos='right']::before {
      transform: rotateZ(-45deg); }
  body.edit section#content > nav[data-pos='left'] > ul > li > div {
    left: -10px;
    right: unset; }
    body.edit section#content > nav[data-pos='left'] > ul > li > div::before {
      left: 20px;
      right: unset; }

body.edit div#search > input[type='text'] {
  padding-right: 125px; }

body.edit div#search > button[type="submit"], body.edit div#search > a.speechSearch {
  display: none; }

body.edit div#search > a.edit {
  right: 20px;
  width: calc(54px - 14px);
  height: calc(54px - 14px); }
  body.edit div#search > a.edit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask: no-repeat center/22px;
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-edit.svg);
    background-color: #aaa; }

body.edit div#topPages {
  margin-top: 25px; }
  body.edit div#topPages > select.edit {
    display: inline-block;
    margin: 0 7px; }

body.edit.customBackground select.edit {
  background: rgba(255, 255, 255, 0.8); }

html[dir='rtl'] menu.infoBar {
  justify-content: flex-start; }
  html[dir='rtl'] menu.infoBar > a.save {
    order: 1; }
  html[dir='rtl'] menu.infoBar > a.cancel {
    order: 2; }
  html[dir='rtl'] menu.infoBar > div.upload > a.remove {
    float: left; }
  html[dir='rtl'] menu.infoBar > div.upload > div > span {
    padding-right: 28px;
    padding-left: 3px; }
    html[dir='rtl'] menu.infoBar > div.upload > div > span::before {
      transform: scaleX(-1); }
  html[dir='rtl'] menu.infoBar > div.upload > div > input[type='file'] {
    left: unset;
    right: -900%; }
  html[dir='rtl'] menu.infoBar > div.upload > span.premium {
    float: left;
    padding-right: 22px;
    padding-left: 4px; }
    html[dir='rtl'] menu.infoBar > div.upload > span.premium::before {
      transform: scaleX(-1); }

html[dir='rtl'] body[data-pos='right'] menu.infoBar {
  justify-content: flex-end; }
  html[dir='rtl'] body[data-pos='right'] menu.infoBar > a.save {
    order: 2; }
  html[dir='rtl'] body[data-pos='right'] menu.infoBar > a.cancel {
    order: 1; }
  html[dir='rtl'] body[data-pos='right'] menu.infoBar > div.upload > a.remove {
    float: right; }
  html[dir='rtl'] body[data-pos='right'] menu.infoBar > div.upload > span.premium {
    float: right; }

html[dir='rtl'] body.edit section#content > nav > ul > li > div {
  text-align: right; }

html[dir='rtl'] body.edit div#search > input[type='text'] {
  padding-right: 30px;
  padding-left: 125px; }

html[dir='rtl'] body.edit div#search > select {
  left: 23px;
  right: unset; }

html[dir='rtl'] body.edit div#search > a.edit {
  left: 20px;
  right: unset; }

html[dir='rtl'] body.edit select.edit {
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.1); }

body.dark menu.infoBar {
  background: #4d4d4d; }
  body.dark menu.infoBar > a.save {
    color: #4d4d4d; }
  body.dark menu.infoBar > div.upload > a.remove {
    background: #4d4d4d; }
  body.dark menu.infoBar > div.upload > div {
    background: #4d4d4d; }
  body.dark menu.infoBar > div.upload > span.premium {
    background: #4d4d4d; }
    body.dark menu.infoBar > div.upload > span.premium::after {
      border-left-color: #4d4d4d; }

body.dark > a.edit:hover {
  background: #4d4d4d; }

body.dark.edit section#content > nav select.edit {
  background: #5a5a5a; }

body.dark.edit section#content > nav a.add {
  background: #3d3d3d; }
  body.dark.edit section#content > nav a.add:hover {
    background: #4d4d4d; }

body.dark.edit section#content > nav > ul > li {
  background: #4d4d4d;
  border-color: rgba(255, 255, 255, 0.075);
  box-shadow: inset 0 -20px 0 -4px #3d3d3d; }
  body.dark.edit section#content > nav > ul > li > a.edit, body.dark.edit section#content > nav > ul > li > a.remove {
    background: #4d4d4d; }
    body.dark.edit section#content > nav > ul > li > a.edit:hover, body.dark.edit section#content > nav > ul > li > a.remove:hover {
      background: #5a5a5a; }
  body.dark.edit section#content > nav > ul > li > div {
    background: #4d4d4d;
    filter: drop-shadow(0 3px 10px rgba(0, 0, 0, 0.2));
    transform: translate3d(0, 3px, 0); }
    body.dark.edit section#content > nav > ul > li > div::before {
      border-bottom-color: #4d4d4d; }
    body.dark.edit section#content > nav > ul > li > div > input[type='text'] {
      border-color: rgba(255, 255, 255, 0.2); }
      body.dark.edit section#content > nav > ul > li > div > input[type='text']:focus {
        border-color: rgba(255, 255, 255, 0.4); }
    body.dark.edit section#content > nav > ul > li > div > button[type='submit'] {
      color: "%textColor"; }

body.dark.edit div#search > a.edit:hover {
  background: #5a5a5a; }

body.dark.edit div#topPages > select {
  background: #5a5a5a; }

body.dark.customBackground > a.edit {
  background-color: rgba(61, 61, 61, 0.7); }
  body.dark.customBackground > a.edit::before {
    background-color: #aaa; }

body.dark.customBackground div#topPages > select {
  background: rgba(61, 61, 61, 0.7); }

body.dark[data-pos='right'] menu.infoBar > div.upload > span.premium::after {
  border-left-color: transparent;
  border-right-color: #4d4d4d; }

body {
  width: 100vw;
  height: 100vh;
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden; }
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    transition: opacity 0.3s;
    z-index: 98; }
  body.loading::before {
    background: rgba(255, 255, 255, 0.9); }
  body > svg.loading {
    position: fixed;
    display: block !important;
    top: calc(50% - 18px);
    left: calc(50% - 18px);
    z-index: 99; }

section#content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: height 0.5s; }
  section#content.small {
    width: calc(100vw - %sidebarWidth);
    margin-left: "%sidebarWidth"; }
    section#content.small ~ iframe#blockbyte-bs-sidebar:not(.blockbyte-bs-hover) {
      width: "%sidebarWidth"; }
  section#content > section.mid {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none; }
    section#content > section.mid > * {
      pointer-events: auto; }

body[data-pos='right'] section#content.small {
  margin-left: 0; }

body.dark {
  background-color: #3d3d3d; }
  body.dark::before {
    background: #3d3d3d; }
  body.dark.loading::before {
    background: rgba(0, 0, 0, 0.8); }

/*# sourceMappingURL=newtab.css.map */