section.slide, section.slide[data-name='openAction'] > p.desc {
  opacity: 0;
  pointer-events: none; }

section.slide.visible, section.slide[data-name='openAction'] > a.info:hover + p.desc {
  opacity: 1;
  pointer-events: auto; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

@keyframes dash {
  0% {
    stroke-dashoffset: 100.53096; }
  50% {
    stroke-dashoffset: 25.13274;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 100.53096;
    transform: rotate(450deg); } }

svg.loading {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  animation: rotator 1.5s linear infinite; }
  svg.loading > circle {
    stroke-dasharray: 100.53096;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: #fff;
    animation: dash 1.5s ease-in-out infinite; }

body.dark svg.loading > circle {
  stroke: #666; }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

body, input, textarea, select, button {
  font-size: 14px;
  font-family: "%fontFamily", sans-serif;
  color: #666;
  font-weight: "%fontWeightNormal"; }

ul {
  list-style: none; }

strong {
  font-weight: "%fontWeightBold"; }

a {
  color: #666;
  text-decoration: none; }

section.slide[data-name='intro'] > a.nextSlide, section.slide[data-name='intro'] > a.close, section.slide[data-name='finished'] > a.nextSlide, section.slide[data-name='finished'] > a.close, section.slide[data-name='position'] > a, section.slide[data-name='openAction'] > a, section.slide[data-name='surface'] > a {
  display: inline-block;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  color: #7b5fa4;
  font-size: 140%;
  font-weight: 300;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 3px; }

body {
  background: linear-gradient(45deg, #7b5fa4 0%, #2b35c8 100%);
  height: 100vh;
  overflow: hidden; }
  body > svg.loading {
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 18px); }

section.slide {
  position: absolute;
  width: 650px;
  top: 30vh;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  transition: opacity 0.3s, transform 0.3s; }
  section.slide > p.large {
    font-size: 200%;
    font-weight: 200;
    color: #fff;
    margin: 0 0 40px 0; }
  section.slide[data-name='intro'] > a.skip, section.slide[data-name='intro'] > a.gotoSettings, section.slide[data-name='finished'] > a.skip, section.slide[data-name='finished'] > a.gotoSettings {
    color: #fff;
    font-size: 90%;
    opacity: 0.5; }
  section.slide[data-name='intro']::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 64px;
    height: 64px;
    background: url(chrome-extension://__MSG_@@extension_id__/img/icon/icon.webp) no-repeat center/100%; }
  section.slide[data-name='position'] > a, section.slide[data-name='openAction'] > a, section.slide[data-name='surface'] > a {
    margin-left: 12px;
    margin-right: 12px; }
  section.slide[data-name='openAction'] > p.desc {
    position: relative;
    background: #fff;
    color: #666;
    width: 400px;
    font-size: 90%;
    line-height: 140%;
    margin: 15px auto 0;
    padding: 7px 10px;
    transform: translate3d(0, -7px, 0);
    transition: opacity 0.3s, transform 0.3s; }
    section.slide[data-name='openAction'] > p.desc::before {
      content: "";
      position: absolute;
      top: -14px;
      left: calc(50% - 7px);
      border: 7px solid transparent;
      border-bottom-color: #fff; }
  section.slide[data-name='openAction'] > a.info {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    margin: 70px auto 0;
    border-radius: 50%; }
    section.slide[data-name='openAction'] > a.info::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/26px;
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-info.svg);
      background-color: #7b5fa4; }
    section.slide[data-name='openAction'] > a.info:hover + p.desc {
      transform: translate3d(0, 0, 0); }
  section.slide[data-name='surface'] > a[data-value="dark"] {
    background: #3d3d3d;
    color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); }
  section.slide[data-name='handson'] > p.large {
    margin-bottom: 70px; }
  section.slide[data-name='handson'] > p:not(.large) {
    color: #fff;
    font-size: 120%;
    opacity: 0.7;
    padding: 7px 0; }

div#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: #fff;
  padding: 30px 30px 0 80px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  transform: translate3d(-350px, 0, 0);
  transition: transform 0.5s, background-color 0.3s;
  z-index: 3; }
  div#sidebar[data-position='right'] {
    transform: translate3d(350px, 0, 0);
    left: auto;
    right: 0; }
  div#sidebar.visible {
    transform: translate3d(0, 0, 0); }
  div#sidebar > p {
    position: relative;
    width: 100%;
    height: 12px;
    background: rgba(0, 0, 0, 0.06);
    transition: background-color 0.3s;
    margin: 50px 0; }
    div#sidebar > p::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -50px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: inherit; }

body[data-surface='dark'] div#sidebar {
  background: #3d3d3d; }
  body[data-surface='dark'] div#sidebar > p {
    background: rgba(255, 255, 255, 0.1); }

body[data-openType]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: no-repeat center/48px;
  background-color: #fff; }

body[data-openType]::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  transition: opacity 0.2s; }

body[data-openType='icon']::before {
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/onboarding/icon-arrow.svg);
  top: 50px;
  left: auto;
  right: 80px; }

body[data-openType='mouse']::before {
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/onboarding/icon-cursor.svg);
  top: 0;
  bottom: 0;
  margin: auto; }

body[data-openType='mouse'][data-position='right']::before {
  left: auto;
  right: 0;
  transform: rotateY(180deg); }

body.hideOpenType::before {
  opacity: 0; }

@media (max-width: 1500px) {
  body[data-position='left'] section.slide:not([data-name='position']):not([data-name='handson']) {
    right: 40px;
    left: auto; }
  body[data-position='right'] section.slide:not([data-name='position']):not([data-name='handson']) {
    left: 40px; } }

/*# sourceMappingURL=onboarding.css.map */