div.modal[data-type='infos'] > ul > li > ul, div.modal[data-type='add'] > ul, div.modal[data-type='add'] > menu.hidden:not(.buttons), div.modal > menu.buttons > a::before {
  opacity: 0;
  pointer-events: none;
}

div.modal[data-type='add'] > ul.visible {
  opacity: 1;
  pointer-events: auto;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 100.53096;
  }
  50% {
    stroke-dashoffset: 25.13274;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 100.53096;
    transform: rotate(450deg);
  }
}
svg.loading {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  animation: rotator 1.5s linear infinite;
}
svg.loading > circle {
  stroke-dasharray: 100.53096;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: "%colorScheme";
  animation: dash 1.5s ease-in-out infinite;
}

.dark svg.loading > circle {
  stroke: "%textColor";
}

div.scrollBox {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  outline: none;
  background-color: #ccc;
  -webkit-background-clip: text;
  transition: background-color 0.3s;
}
div.scrollBox::-webkit-scrollbar {
  width: 11px;
  background: transparent;
}
div.scrollBox::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: inherit;
}
div.scrollBox::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}
div.scrollBox.hideScrollbar {
  background-color: transparent !important;
}

.dark div.scrollBox {
  background-color: #999;
}

div.checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
div.checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: no-repeat center/22px;
  background-color: "%textColor";
}
div.checkbox::before {
  transition: -webkit-mask 0.3s, background-color 0.3s;
}
div.checkbox[data-type='checkbox']::before {
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-checkbox-inactive.svg);
}
div.checkbox[data-type='radio']::before {
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-radio-inactive.svg);
}
div.checkbox::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 1px);
  width: 2px;
  height: 2px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  transition: background 0.2s, box-shadow 0.2s, opacity 0.5s;
  opacity: 0.2;
}
div.checkbox.focus::after, div.checkbox.clicked::after {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.5);
}
div.checkbox.clicked::after {
  opacity: 0;
}
div.checkbox.active::before {
  background-color: "%colorScheme";
}
div.checkbox.active[data-type='checkbox']::before {
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-checkbox.svg);
}
div.checkbox.active[data-type='radio']::before {
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-radio.svg);
}
div.checkbox.active::after {
  box-shadow: 0 0 0 0 "%colorScheme";
}
div.checkbox.active.focus::after, div.checkbox.active.clicked::after {
  background: "%colorScheme";
  box-shadow: 0 0 0 20px "%colorScheme";
}
div.checkbox > input[type='checkbox'] {
  display: none;
}

.dark div.checkbox::after {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
}
.dark div.checkbox.focus::after, .dark div.checkbox.clicked::after {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.5);
}
.dark div.checkbox.active::before {
  background-color: "%textColor";
}
.dark div.checkbox.active::after {
  box-shadow: 0 0 0 0 "%textColor";
}
.dark div.checkbox.active.focus::after, .dark div.checkbox.active.clicked::after {
  background: "%textColor";
  box-shadow: 0 0 0 20px "%textColor";
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body, input, textarea, select, button {
  font-size: 14px;
  font-family: "%fontFamily", sans-serif;
  color: "%textColor";
  font-weight: "%fontWeightNormal";
}

ul {
  list-style: none;
}

strong {
  font-weight: "%fontWeightBold";
}

a {
  color: "%textColor";
  text-decoration: none;
}

body {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body::before {
  content: "";
  position: relative;
  display: block;
  height: 1px;
}

div.modal {
  position: relative;
  width: 500px;
  height: 400px;
  background: #fff;
  box-shadow: 0 12px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  user-select: none;
  transform: scale(0.7);
  z-index: 2;
  transition: transform 0.3s;
}
div.modal.visible {
  transform: scale(1);
}
div.modal > h1 {
  position: relative;
  color: #fff;
  font-size: 150%;
  font-weight: "%fontWeightLight";
  height: 54px;
  padding: 14px 75px 0 55px;
  background-color: "%colorScheme";
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
div.modal > h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: no-repeat center/24px;
  background-color: #fff;
}
div.modal > h1::before {
  -webkit-mask-position: 20px center;
}
div.modal > a.close {
  position: absolute;
  top: 6px;
  right: 15px;
  display: block;
  width: 42px;
  height: 42px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
  z-index: 2;
}
div.modal > a.close::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: no-repeat center/24px;
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-close.svg);
  background-color: #fff;
}
div.modal > a.close:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
div.modal > a.preview, div.modal > span.preview {
  display: block;
  font-size: 140%;
  font-weight: "%fontWeightNormal";
  margin: 30px 30px 20px 30px;
  background-color: rgba(0, 0, 0, 0.05);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 17px 15px;
}
div.modal > a.preview > img, div.modal > a.preview > span.icon, div.modal > span.preview > img, div.modal > span.preview > span.icon {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 20px 0 0;
}
div.modal > a.preview > span.icon::before, div.modal > span.preview > span.icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: no-repeat center/24px;
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-%bookmarksDirIcon.svg);
  background-color: "%bookmarksDirColor";
}
div.modal > a.preview {
  transition: background-color 0.3s;
  cursor: pointer;
}
div.modal > a.preview:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
div.modal > a.preview > span.icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: no-repeat center/24px;
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-demo.svg);
  background-color: transparent;
}
div.modal > a.preview > span.icon[data-color='1']::before {
  background-color: #37bf99;
}
div.modal > a.preview > span.icon[data-color='2']::before {
  background-color: #d737d5;
}
div.modal > a.preview > span.icon[data-color='3']::before {
  background-color: #3e6bf2;
}
div.modal > a.preview > span.icon[data-color='4']::before {
  background-color: #f4572f;
}
div.modal > a.preview > span.icon[data-color='5']::before {
  background-color: #f74b58;
}
div.modal > a.preview > span.icon[data-color='6']::before {
  background-color: #f5a2bf;
}
div.modal > a.preview > span.icon[data-color='7']::before {
  background-color: #1a90ba;
}
div.modal > a.preview > span.icon[data-color='8']::before {
  background-color: #b4bd0e;
}
div.modal > a.preview > span.icon[data-color='9']::before {
  background-color: #fdde32;
}
div.modal > a.preview > span.icon[data-color='10']::before {
  background-color: #8ccbce;
}
div.modal > a.preview + a.previewUrl {
  display: block;
  margin: -15px 30px 20px 30px;
  font-size: 80%;
  font-weight: "%fontWeightMedium";
  opacity: 0.7;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
div.modal[data-type='updateUrls'] > h1::before {
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-update.svg);
}
div.modal[data-type='updateUrls'] > p {
  position: relative;
  text-align: center;
  margin-top: 40px;
  font-size: 140%;
  line-height: 170%;
}
div.modal[data-type='updateUrls'] > p.success {
  padding: 30px 0 80px;
}
div.modal[data-type='updateUrls'] > p.success::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: no-repeat center/48px;
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-check.svg);
  background-color: #5eba7d;
}
div.modal[data-type='updateUrls'] > p.success::before {
  -webkit-mask-position-y: bottom;
}
div.modal[data-type='updateUrls'] > div.progressBar {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  height: 3px;
  margin: 40px 30px 0;
}
div.modal[data-type='updateUrls'] > div.progressBar > div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: "%colorScheme";
  transition: width 0.5s;
}
div.modal[data-type='updateUrls'] > span.progressLabel {
  display: block;
  text-align: center;
  font-size: 120%;
  margin-top: 20px;
  opacity: 0.6;
}
div.modal[data-type='updateUrls'] > span.progressLabel > span {
  margin: 0 3px;
}
div.modal[data-type='updateUrls'] > svg.loading {
  margin: 54px auto 0;
  transition: margin-top 0.5s;
}
div.modal[data-type='updateUrls'] > div#urlList {
  height: calc(100% - 54px - 57px);
}
div.modal[data-type='updateUrls'] > div#urlList > ul {
  margin: 12px 0;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li {
  transition: background 0.3s;
  padding: 0 16px 7px 16px;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li:hover {
  background: #f5f5f5;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > div.checkbox {
  display: inline-block;
  vertical-align: top;
  margin: 10px 16px 0 0;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > img {
  vertical-align: top;
  display: inline-block;
  width: 16px;
  margin: 11px 18px 0 0;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > strong {
  display: inline-block;
  width: calc(100% - 70px);
  line-height: 40px;
  margin-bottom: -10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > a, div.modal[data-type='updateUrls'] > div#urlList > ul > li > span {
  position: relative;
  display: block;
  margin-left: 70px;
  line-height: 20px;
  width: calc(100% - 36px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 22px;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > span, div.modal[data-type='updateUrls'] > div#urlList > ul > li > a > span {
  transition: opacity 0.5s;
  opacity: 0.6;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > a {
  transition: color 0.5s;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > a:hover {
  color: "%colorScheme";
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > a:last-of-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: no-repeat center/16px;
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-check.svg);
  background-color: #5eba7d;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > a:first-of-type {
  text-decoration: line-through;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > a:first-of-type::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: no-repeat center/16px;
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-close.svg);
  background-color: #f99;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > a::before {
  -webkit-mask-position: 0 center !important;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > span {
  font-style: italic;
}
div.modal[data-type='updateUrls'].urlCheckLoading {
  transition: width 0.5s, height 0.5s, margin-top 0.5s;
}
div.modal[data-type='updateUrls'].urlCheckList {
  width: 600px;
  height: 600px;
  max-height: 100%;
}
div.modal[data-type='updateUrls'].urlCheckList::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  z-index: 2;
  background: #f5f5f5;
}
div.modal[data-type='updateUrls'].urlCheckList > svg.loading {
  margin-top: 150px;
}
div.modal[data-type='delete'] > p, div.modal[data-type='hide'] > p, div.modal[data-type='openChildren'] > p {
  padding: 30px 30px 5px 30px;
  font-size: 140%;
  line-height: 170%;
}
div.modal[data-type='delete'] > h1::before {
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-delete.svg);
}
div.modal[data-type='hide'] > h1::before {
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-hide.svg);
}
div.modal[data-type='openChildren'] > h1::before {
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-newTab.svg);
}
div.modal[data-type='infos'] > h1::before {
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-info.svg);
}
div.modal[data-type='infos'] > ul {
  display: flex;
  flex-flow: row;
  font-size: 120%;
  margin-top: 70px;
  padding: 0 30px;
  justify-content: space-between;
}
div.modal[data-type='infos'] > ul > li {
  position: relative;
}
div.modal[data-type='infos'] > ul > li.tooltip {
  position: relative;
  cursor: help;
  background-size: 16px;
  padding-right: 18px;
}
div.modal[data-type='infos'] > ul > li.tooltip::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: no-repeat center/16px;
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-info.svg);
  background-color: "%textColor";
}
div.modal[data-type='infos'] > ul > li.tooltip::before {
  opacity: 0.5;
  -webkit-mask-position: right center;
}
div.modal[data-type='infos'] > ul > li > ul {
  position: absolute;
  top: 27px;
  right: -14px;
  background: #333;
  color: #fff;
  font-size: 70%;
  padding: 4px 10px;
  transform: translate3d(0, -5px, 0);
  transition: opacity 0.3s, transform 0.3s;
}
div.modal[data-type='infos'] > ul > li > ul::before {
  content: "";
  position: absolute;
  top: -14px;
  right: 15px;
  border: 7px solid transparent;
  border-bottom-color: #333;
}
div.modal[data-type='infos'] > ul > li > ul > li {
  white-space: nowrap;
  margin: 5px 0;
}
div.modal[data-type='infos'] > ul > li:hover > ul {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
div.modal[data-type='edit'] > ul, div.modal[data-type='add'] > ul {
  padding: 2px 30px;
}
div.modal[data-type='edit'] > ul > li, div.modal[data-type='add'] > ul > li {
  margin: 20px 0 30px 0;
}
div.modal[data-type='edit'] > ul > li > label, div.modal[data-type='add'] > ul > li > label {
  font-size: 140%;
  display: inline-block;
  width: 80px;
}
div.modal[data-type='edit'] > ul > li > input, div.modal[data-type='add'] > ul > li > input {
  display: inline-block;
  background: transparent;
  font-size: 120%;
  width: calc(100% - 80px);
  padding: 5px 8px;
  outline: none;
  box-shadow: none;
  transition: border-color 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
div.modal[data-type='edit'] > ul > li > input.error, div.modal[data-type='add'] > ul > li > input.error {
  border-color: #f99;
}
div.modal[data-type='edit'] > ul > li > input:focus, div.modal[data-type='add'] > ul > li > input:focus {
  border-color: rgba(0, 0, 0, 0.25);
}
div.modal[data-type='edit'] > h1::before {
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-edit.svg);
}
div.modal[data-type='add'] > h1::before {
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-add.svg);
}
div.modal[data-type='add'] h2 {
  margin: 0 0 40px 0;
  font-weight: "%fontWeightThin";
  font-size: 200%;
}
div.modal[data-type='add'] > ul {
  transition: opacity 0.5s, transform 0.5s;
  margin: 10px 0 0 0;
  transform: translate3d(0, 15px, 0);
}
div.modal[data-type='add'] > ul.visible {
  transform: translate3d(0, 0, 0);
}
div.modal[data-type='add'] > menu:not(.buttons) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 30px);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 30px;
  transition: opacity 0.2s, transform 0.2s;
}
div.modal[data-type='add'] > menu:not(.buttons).hidden {
  transform: translate3d(0, -40px, 0);
}
div.modal[data-type='add'] > menu:not(.buttons) > a {
  position: relative;
  display: block;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  transition: box-shadow 0.5s;
  cursor: pointer;
}
div.modal[data-type='add'] > menu:not(.buttons) > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-mask: no-repeat center/36px;
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/none.svg);
  background-color: "%textColor";
}
div.modal[data-type='add'] > menu:not(.buttons) > a::before {
  transition: opacity 0.5s, background-color 0.5s;
  opacity: 0.7;
}
div.modal[data-type='add'] > menu:not(.buttons) > a::after {
  content: attr(title);
  position: absolute;
  display: block;
  bottom: -30px;
  left: -50%;
  width: 200%;
  padding: 40px 0 0 0;
  font-size: 120%;
  text-align: center;
  color: "%textColor";
  transition: color 0.5s;
}
div.modal[data-type='add'] > menu:not(.buttons) > a:hover {
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.15);
}
div.modal[data-type='add'] > menu:not(.buttons) > a:hover::before {
  opacity: 1;
  background-color: "%colorScheme";
}
div.modal[data-type='add'] > menu:not(.buttons) > a:hover::after {
  color: "%colorScheme";
}
div.modal[data-type='add'] > menu:not(.buttons) > a[data-type='bookmark']::before {
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-bookmark.svg);
}
div.modal[data-type='add'] > menu:not(.buttons) > a[data-type='dir']::before {
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-dir-1.svg);
}
div.modal[data-type='add'] > menu:not(.buttons) > a[data-type='separator']::before {
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-separator.svg);
}
div.modal[data-type='add'] > menu.buttons > a.action {
  display: none;
}
div.modal[data-type='add'] > menu.buttons > a.action.visible {
  display: inline-block;
}
div.modal > menu.buttons {
  position: absolute;
  bottom: 16px;
  right: 20px;
  z-index: 3;
}
div.modal > menu.buttons > a {
  position: relative;
  display: inline-block;
  padding: 5px 10px 4px;
  margin: 0 5px;
  color: "%colorScheme";
  font-weight: "%fontWeightBold";
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}
div.modal > menu.buttons > a::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: "%colorScheme";
  transition: opacity 0.5s;
}
div.modal > menu.buttons > a:hover::before {
  opacity: 0.15;
}
div.modal.dark {
  background: #444;
}
div.modal.dark > a.preview, div.modal.dark > span.preview {
  background: rgba(255, 255, 255, 0.05);
}
div.modal.dark[data-type='edit'] > ul > li > input, div.modal.dark[data-type='add'] > ul > li > input {
  border-color: rgba(255, 255, 255, 0.1);
}
div.modal.dark[data-type='edit'] > ul > li > input.error, div.modal.dark[data-type='add'] > ul > li > input.error {
  border-color: rgba(255, 153, 153, 0.5);
}
div.modal.dark[data-type='edit'] > ul > li > input:focus, div.modal.dark[data-type='add'] > ul > li > input:focus {
  border-color: rgba(255, 255, 255, 0.2);
}
div.modal.dark[data-type='add'] > menu:not(.buttons) > a {
  background-color: #555;
}
div.modal.dark[data-type='add'] > menu:not(.buttons) > a::before, div.modal.dark[data-type='add'] > menu:not(.buttons) > a::after {
  opacity: 0.5;
  transition: opacity 0.5s;
}
div.modal.dark[data-type='add'] > menu:not(.buttons) > a:hover::before {
  opacity: 1;
  background-color: "%textColor";
}
div.modal.dark[data-type='add'] > menu:not(.buttons) > a:hover::after {
  opacity: 1;
  color: "%textColor";
}
div.modal.dark[data-type='add'] > menu.buttons > a.action {
  display: none;
}
div.modal.dark[data-type='add'] > menu.buttons > a.action.visible {
  display: inline-block;
}
div.modal.dark[data-type='infos'] > h1::before {
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-info.svg);
}
div.modal.dark[data-type='infos'] > ul > li > ul {
  background: #222;
  color: #eee;
}
div.modal.dark[data-type='infos'] > ul > li > ul::before {
  border-bottom-color: #222;
}
div.modal.dark[data-type='updateUrls'] > div#urlList > ul > li:hover {
  background: #555;
}
div.modal.dark[data-type='updateUrls'] > div#urlList > ul > li > a:hover {
  color: "%textColor";
}
div.modal.dark[data-type='updateUrls'] > div#urlList > ul > li > a:hover > span {
  opacity: 0.9;
}
div.modal.dark[data-type='updateUrls'] > div.progressBar {
  background: rgba(255, 255, 255, 0.1);
}
div.modal.dark[data-type='updateUrls'] > div.progressBar > div {
  background: "%textColor";
}
div.modal.dark[data-type='updateUrls'].urlCheckList::after {
  background: #555;
}
div.modal.dark > menu.buttons > a {
  color: "%textColor";
}
div.modal.dark > menu.buttons > a::before {
  background: "%textColor";
}

body.ee div.modal > h1 {
  background: linear-gradient(45deg, #7b5fa4 0%, #2b35c8 100%);
}

/*# sourceMappingURL=overlay.css.map */
