div.modal[data-type='infos'] > ul > li > ul, div.modal > menu > a::before {
  opacity: 0;
  pointer-events: none;
}

@keyframes container-rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes left-spin {
  from, to {
    transform: rotate(130deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}
@keyframes right-spin {
  from, to {
    transform: rotate(-130deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
@keyframes fill-unfill-rotate {
  12.5% {
    transform: rotate(135deg);
  }
  25% {
    transform: rotate(270deg);
  }
  37.5% {
    transform: rotate(405deg);
  }
  50% {
    transform: rotate(540deg);
  }
  62.5% {
    transform: rotate(675deg);
  }
  75% {
    transform: rotate(810deg);
  }
  87.5% {
    transform: rotate(945deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
div.loading {
  display: block;
  position: relative;
  width: 36px;
  height: 36px;
  animation: container-rotate 1568ms linear infinite;
}
div.loading > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-color: "%colorScheme";
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
div.loading > div > div.circle-clipper {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100%;
  overflow: hidden;
  float: left;
}
div.loading > div > div.circle-clipper > div {
  width: 200%;
  height: 100%;
  border: 3px solid "%colorScheme";
  border-bottom-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
div.loading > div > div.circle-clipper.left > div {
  left: 0;
  border-right-color: transparent;
  transform: rotate(129deg);
  animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
div.loading > div > div.circle-clipper.right > div {
  left: -100%;
  border-left-color: transparent;
  transform: rotate(-129deg);
  animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
div.loading > div > div.gap-patch {
  position: absolute;
  top: 0;
  left: 45%;
  width: 10%;
  height: 100%;
  border-color: inherit;
  overflow: hidden;
}
div.loading > div > div.gap-patch > div {
  width: 1000%;
  left: -450%;
}

div.scrollBox {
  position: relative;
  overflow: hidden;
}
div.scrollBox > div.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  padding: 4px 0;
  height: 100%;
  transition: opacity 0.5s, background 0.3s;
  cursor: pointer;
  z-index: 2;
}
div.scrollBox > div.scrollbar.inactive {
  display: none;
}
div.scrollBox > div.scrollbar.hidden:not(:hover) {
  opacity: 0;
}
div.scrollBox > div.scrollbar > div {
  position: absolute;
  top: 0;
  right: 3px;
  width: 5px;
  height: 0;
  background: #ccc;
  border-radius: 3px;
  transition: transform 0.3s, width 0.3s, height 0.3s, border-radius 0.3s, background 0.3s;
}
div.scrollBox > div.scrollbar:hover {
  background: #f2f2f2;
}
div.scrollBox > div.scrollbar:hover > div {
  width: 8px;
  border-radius: 6px;
  background: #bbb;
}
div.scrollBox.scrollDrag > div.scrollbar {
  background: #f2f2f2;
  opacity: 1;
}
div.scrollBox.scrollDrag > div.scrollbar > div {
  width: 8px;
  border-radius: 6px;
  background: #bbb;
}
div.scrollBox.scrollDrag > div.scrollbar > div {
  transition: none;
}
div.scrollBox.scrollTrackpad > div.scrollbar > div {
  transition: none;
}

div.checkbox {
  position: relative;
  width: 18px;
  height: 18px;
  border: 2px solid #6d6d6d;
  border-radius: 2px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: background 0.3s, border-color 0.3s;
}
div.checkbox::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 1px);
  width: 2px;
  height: 2px;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
  transition: background 0.2s, box-shadow 0.2s, opacity 0.5s;
  opacity: 0.2;
}
div.checkbox.focus::before, div.checkbox.clicked::before {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 0 22px rgba(0, 0, 0, 0.5);
}
div.checkbox.clicked::before {
  opacity: 0;
}
div.checkbox.active {
  background-color: "%colorScheme";
  background-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-check.webp);
  border-color: "%colorScheme";
}
div.checkbox.active::before {
  box-shadow: 0 0 0 0 "%colorScheme";
}
div.checkbox.active.focus::before, div.checkbox.active.clicked::before {
  background: "%colorScheme";
  box-shadow: 0 0 0 22px "%colorScheme";
}
div.checkbox > input[type='checkbox'] {
  display: none;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, input, textarea, select, button {
  font-size: 14px;
  font-family: "%fontFamily", sans-serif;
  color: "%textColor";
  font-weight: "%fontWeightNormal";
}

ul {
  list-style: none;
}

strong {
  font-weight: "%fontWeightBold";
}

a {
  color: "%textColor";
  text-decoration: none;
}

body {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body::before {
  content: "";
  position: relative;
  display: block;
  height: 1px;
}

div.modal {
  position: relative;
  width: 500px;
  height: 400px;
  background: #fff;
  box-shadow: 0 12px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 2;
  transform: scale(0.7);
  transition: transform 0.3s;
}
div.modal.visible {
  transform: scale(1);
}
div.modal > h1 {
  color: #fff;
  font-size: 170%;
  font-weight: "%fontWeightLight";
  height: 60px;
  padding: 15px 75px 14px 55px;
  background: "%colorScheme" url(chrome-extension://__MSG_@@extension_id__/img/bookmark.webp) no-repeat 20px center;
  background-size: 24px;
}
div.modal > a.close {
  position: absolute;
  top: 9px;
  right: 20px;
  display: block;
  width: 42px;
  height: 42px;
  background: url(chrome-extension://__MSG_@@extension_id__/img/icon-close.webp) no-repeat center;
  background-size: 22px;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
  z-index: 2;
}
div.modal > a.close:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
div.modal > a.preview, div.modal > span.preview {
  display: block;
  font-size: 140%;
  font-weight: "%fontWeightNormal";
  margin: 30px 30px 20px 30px;
  background-color: rgba(0, 0, 0, 0.05);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 17px 15px;
}
div.modal > a.preview > img, div.modal > a.preview > span.icon, div.modal > span.preview > img, div.modal > span.preview > span.icon {
  vertical-align: top;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 20px 0 0;
}
div.modal > a.preview > span.icon, div.modal > span.preview > span.icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url(chrome-extension://__MSG_@@extension_id__/img/%bookmarksDirIcon.webp);
}
div.modal > a.preview {
  transition: background-color 0.3s;
  cursor: pointer;
}
div.modal > a.preview:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
div.modal > a.preview + a.previewUrl {
  display: block;
  margin: -15px 30px 20px 30px;
  font-size: 80%;
  font-weight: "%fontWeightMedium";
  opacity: 0.7;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}
div.modal[data-type='updateUrls'] > p {
  text-align: center;
  margin-top: 40px;
  font-size: 140%;
  line-height: 170%;
}
div.modal[data-type='updateUrls'] > p.success {
  padding: 20px 0 70px;
  background: url(chrome-extension://__MSG_@@extension_id__/img/icon-success.webp) no-repeat center bottom/32px;
}
div.modal[data-type='updateUrls'] > div.progressBar {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  height: 3px;
  margin: 40px 30px 0;
}
div.modal[data-type='updateUrls'] > div.progressBar > div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: "%colorScheme";
  transition: width 0.5s;
}
div.modal[data-type='updateUrls'] > span.progressLabel {
  display: block;
  text-align: center;
  font-size: 120%;
  margin-top: 20px;
  opacity: 0.6;
}
div.modal[data-type='updateUrls'] > span.progressLabel > span {
  margin: 0 3px;
}
div.modal[data-type='updateUrls'] > div.loading {
  margin: 60px auto 0;
  transition: margin-top 0.5s;
}
div.modal[data-type='updateUrls'] > div#urlList {
  height: calc(100% - 60px - 57px);
  transition: box-shadow 0.3s;
}
div.modal[data-type='updateUrls'] > div#urlList::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12px;
  pointer-events: none;
  box-shadow: none;
  transition: box-shadow 0.3s;
  z-index: 3;
}
div.modal[data-type='updateUrls'] > div#urlList::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 12px;
  pointer-events: none;
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  z-index: 3;
}
div.modal[data-type='updateUrls'] > div#urlList.scrolled::before {
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
div.modal[data-type='updateUrls'] > div#urlList.scrolledEnd::after {
  box-shadow: none;
}
div.modal[data-type='updateUrls'] > div#urlList > ul {
  margin: 12px 0;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li {
  transition: background 0.3s;
  padding: 0 16px 7px 16px;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li:hover {
  background: #f5f5f5;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > div.checkbox {
  display: inline-block;
  vertical-align: top;
  margin: 10px 16px 0 0;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > img {
  vertical-align: top;
  display: inline-block;
  width: 16px;
  margin: 11px 20px 0 0;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > strong {
  display: inline-block;
  width: calc(100% - 70px);
  line-height: 40px;
  margin-bottom: -10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > a, div.modal[data-type='updateUrls'] > div#urlList > ul > li > span {
  display: block;
  margin-left: 70px;
  line-height: 20px;
  width: calc(100% - 36px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 18px;
  opacity: 0.6;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > a {
  transition: color 0.5s;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 0 center;
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > a:hover {
  color: "%colorScheme";
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > a:last-of-type {
  background-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-success.webp);
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > a:first-of-type {
  text-decoration: line-through;
  background-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-error.webp);
}
div.modal[data-type='updateUrls'] > div#urlList > ul > li > span {
  font-style: italic;
}
div.modal[data-type='updateUrls'] > div#urlList:not(.scrollDrag) > ul {
  transition: transform 0.3s;
}
div.modal[data-type='updateUrls'].urlCheckLoading {
  transition: width 0.5s, height 0.5s, margin-top 0.5s;
}
div.modal[data-type='updateUrls'].urlCheckList {
  width: 600px;
  height: 600px;
  max-height: 100%;
}
div.modal[data-type='updateUrls'].urlCheckList::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  z-index: 2;
  background: #f5f5f5;
}
div.modal[data-type='updateUrls'].urlCheckList > div.loading {
  margin-top: 150px;
}
div.modal[data-type='delete'] > p, div.modal[data-type='hide'] > p, div.modal[data-type='openChildren'] > p {
  padding: 30px 30px 5px 30px;
  font-size: 140%;
  line-height: 170%;
}
div.modal[data-type='infos'] > ul {
  display: flex;
  flex-flow: row;
  font-size: 120%;
  margin-top: 70px;
  padding: 0 30px;
  justify-content: space-between;
}
div.modal[data-type='infos'] > ul > li {
  position: relative;
}
div.modal[data-type='infos'] > ul > li.tooltip {
  cursor: help;
  background: url(chrome-extension://__MSG_@@extension_id__/img/icon-infos.webp) no-repeat right center;
  background-size: 16px;
  padding-right: 18px;
}
div.modal[data-type='infos'] > ul > li > ul {
  position: absolute;
  top: 27px;
  right: -14px;
  background: #333;
  color: #fff;
  font-size: 70%;
  padding: 4px 10px;
  transform: translate3d(0, -5px, 0);
  transition: opacity 0.3s, transform 0.3s;
}
div.modal[data-type='infos'] > ul > li > ul::before {
  content: "";
  position: absolute;
  top: -14px;
  right: 15px;
  border: 7px solid transparent;
  border-bottom-color: #333;
}
div.modal[data-type='infos'] > ul > li > ul > li {
  white-space: nowrap;
  margin: 5px 0;
}
div.modal[data-type='infos'] > ul > li:hover > ul {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
div.modal[data-type='edit'] > ul {
  padding: 2px 30px;
}
div.modal[data-type='edit'] > ul > li {
  margin: 20px 0 30px 0;
}
div.modal[data-type='edit'] > ul > li > label {
  font-size: 140%;
  display: inline-block;
  width: 80px;
}
div.modal[data-type='edit'] > ul > li > input {
  display: inline-block;
  font-size: 120%;
  width: calc(100% - 80px);
  padding: 5px 8px;
  outline: none;
  box-shadow: none;
  transition: border-color 0.5s;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
div.modal[data-type='edit'] > ul > li > input.error {
  border-color: #f99;
}
div.modal[data-type='edit'] > ul > li > input:focus {
  border-color: rgba(0, 0, 0, 0.25);
}
div.modal > menu {
  position: absolute;
  bottom: 16px;
  right: 20px;
  z-index: 3;
}
div.modal > menu > a {
  position: relative;
  display: inline-block;
  padding: 5px 10px 4px;
  margin: 0 5px;
  color: "%colorScheme";
  font-weight: "%fontWeightBold";
  text-transform: uppercase;
  border-radius: 3px;
  cursor: pointer;
}
div.modal > menu > a::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: "%colorScheme";
  transition: opacity 0.5s;
}
div.modal > menu > a:hover::before {
  opacity: 0.15;
}

/*# sourceMappingURL=overlay.css.map */
