div.modal[data-type='infos'] > ul:not(.breadcrumb) > li > ul, div.modal[data-type='add'] > ul, div.modal[data-type='add'] > menu.hidden[data-name='select'], div.modal > menu.buttons > a::before {
  opacity: 0;
  pointer-events: none; }

div.modal[data-type='add'] > ul.visible {
  opacity: 1;
  pointer-events: auto; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

@keyframes dash {
  0% {
    stroke-dashoffset: 100.53096; }
  50% {
    stroke-dashoffset: 25.13274;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 100.53096;
    transform: rotate(450deg); } }

svg.loading {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  animation: rotator 1.5s linear infinite; }
  svg.loading > circle {
    stroke-dasharray: 100.53096;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: "%colorScheme";
    animation: dash 1.5s ease-in-out infinite; }

body.dark svg.loading > circle {
  stroke: "%textColor"; }

body.highContrast:not(.dark) svg.loading > circle {
  stroke: "%textColor"; }

.scrollBox {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  outline: none;
  background-color: #ccc;
  -webkit-background-clip: text;
  transition: background-color 0.3s; }
  .scrollBox::-webkit-scrollbar {
    width: "%scrollBarWidth";
    background: transparent; }
  .scrollBox::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: inherit; }
  .scrollBox::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px; }
  .scrollBox.hideScrollbar {
    background-color: transparent !important; }

body.dark .scrollBox {
  background-color: #999; }

div.checkbox {
  position: relative;
  cursor: pointer; }
  div.checkbox > input[type='checkbox'] {
    display: none; }
  div.checkbox[data-style="default"] {
    width: 20px;
    height: 20px; }
    div.checkbox[data-style="default"]::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/22px;
      background-color: "%textColor"; }
    div.checkbox[data-style="default"]::before {
      transition: -webkit-mask 0.3s, background-color 0.3s; }
    div.checkbox[data-style="default"][data-type='checkbox']::before {
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-checkbox-inactive.svg); }
    div.checkbox[data-style="default"][data-type='radio']::before {
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-radio-inactive.svg); }
    div.checkbox[data-style="default"]::after {
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: calc(50% - 1px);
      width: 2px;
      height: 2px;
      border-radius: 50%;
      pointer-events: none;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
      transition: background 0.2s, box-shadow 0.2s, opacity 0.5s;
      opacity: 0.2; }
    div.checkbox[data-style="default"].focus::after, div.checkbox[data-style="default"].clicked::after {
      background: rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.5); }
    div.checkbox[data-style="default"].clicked::after {
      opacity: 0; }
    div.checkbox[data-style="default"].active::before {
      background-color: "%colorScheme"; }
    div.checkbox[data-style="default"].active[data-type='checkbox']::before {
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-checkbox.svg); }
    div.checkbox[data-style="default"].active[data-type='radio']::before {
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-radio.svg); }
    div.checkbox[data-style="default"].active::after {
      box-shadow: 0 0 0 0 "%colorScheme"; }
    div.checkbox[data-style="default"].active.focus::after, div.checkbox[data-style="default"].active.clicked::after {
      background: "%colorScheme";
      box-shadow: 0 0 0 20px "%colorScheme"; }
  div.checkbox[data-style="switch"] {
    width: 32px;
    height: 14px;
    transition: padding-left 0.2s, opacity 0.2s; }
    div.checkbox[data-style="switch"]::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 14px;
      background: rgba(0, 0, 0, 0.2);
      transition: background 0.2s, opacity 0.2s; }
    div.checkbox[data-style="switch"]::after {
      content: "";
      position: relative;
      display: block;
      top: -3px;
      left: -3px;
      width: 20px;
      height: 20px;
      background-color: #fff;
      transition: background-color 0.2s;
      box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
      border-radius: 50%; }
    div.checkbox[data-style="switch"].active {
      padding-left: 18px; }
      div.checkbox[data-style="switch"].active::before {
        opacity: 0.4; }
      div.checkbox[data-style="switch"].active::before, div.checkbox[data-style="switch"].active::after {
        background-color: "%colorScheme"; }

html[dir='rtl'] div.checkbox[data-style="switch"] {
  transition: padding-right 0.2s, opacity 0.2s; }
  html[dir='rtl'] div.checkbox[data-style="switch"]::after {
    left: unset;
    right: -3px;
    box-shadow: -1px 1px 7px rgba(0, 0, 0, 0.4); }
  html[dir='rtl'] div.checkbox[data-style="switch"].active {
    padding-left: unset;
    padding-right: 18px; }

body.highContrast:not(.dark) div.checkbox[data-style="default"].active::before {
  background-color: "%textColor"; }

body.highContrast:not(.dark) div.checkbox[data-style="default"].active::after {
  box-shadow: 0 0 0 0 "%textColor"; }

body.highContrast:not(.dark) div.checkbox[data-style="default"].active.focus::after, body.highContrast:not(.dark) div.checkbox[data-style="default"].active.clicked::after {
  background: "%textColor";
  box-shadow: 0 0 0 20px "%textColor"; }

body.highContrast:not(.dark) div.checkbox[data-style="switch"].active::before, body.highContrast:not(.dark) div.checkbox[data-style="switch"].active::after {
  background-color: "%textColor"; }

body.dark div.checkbox[data-style="default"]::after {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5); }

body.dark div.checkbox[data-style="default"].focus::after, body.dark div.checkbox[data-style="default"].clicked::after {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.5); }

body.dark div.checkbox[data-style="default"].active::before {
  background-color: "%textColor"; }

body.dark div.checkbox[data-style="default"].active::after {
  box-shadow: 0 0 0 0 "%textColor"; }

body.dark div.checkbox[data-style="default"].active.focus::after, body.dark div.checkbox[data-style="default"].active.clicked::after {
  background: "%textColor";
  box-shadow: 0 0 0 20px "%textColor"; }

body.dark div.checkbox[data-style="switch"]::before {
  background: rgba(255, 255, 255, 0.15); }

body.dark div.checkbox[data-style="switch"]::after {
  background-color: #aaa; }

body.dark div.checkbox[data-style="switch"].active::before, body.dark div.checkbox[data-style="switch"].active::after {
  background-color: #fff; }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body, input, textarea, select, button {
  font-size: 14px;
  font-family: "%fontFamily", sans-serif;
  color: "%textColor";
  font-weight: "%fontWeightNormal"; }

ul, menu {
  list-style: none; }

strong {
  font-weight: "%fontWeightBold"; }

a {
  color: "%textColor";
  text-decoration: none; }

body {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center; }
  body::before {
    content: "";
    position: relative;
    display: block;
    height: 1px; }
  body.noAnimations *, body.noAnimations *::before, body.noAnimations *::after {
    transition: none !important; }

div.modal[data-type='keyboardShortcuts']::after, div.modal[data-type='shareInfoDesc']::after, div.modal.urlCheckResults[data-type='checkBookmarks']::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  z-index: 2;
  background: #f5f5f5; }

div.modal {
  position: relative;
  width: 600px;
  height: 500px;
  background: #fff;
  box-shadow: 0 12px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  user-select: none;
  transform: scale(0.7);
  z-index: 2;
  transition: transform 0.3s; }
  div.modal.visible {
    transform: scale(1); }
  div.modal > header {
    position: relative;
    color: "%foregroundColor";
    height: "%overlayHeaderHeight";
    padding: 0 75px 0 52px;
    background-color: "%colorScheme";
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 2; }
    div.modal > header::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/24px;
      background-color: "%foregroundColor"; }
    div.modal > header::before {
      -webkit-mask-position: center;
      width: 50px;
      height: "%overlayHeaderHeight";
      left: 5px; }
    div.modal > header > h1 {
      font-size: 150%;
      font-weight: "%fontWeightNormal";
      line-height: "%overlayHeaderHeight"; }
    div.modal > header > a.close {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 15px;
      display: block;
      width: 34px;
      height: 34px;
      cursor: pointer;
      border-radius: 50%;
      transition: background-color 0.3s;
      z-index: 2; }
      div.modal > header > a.close::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-mask: no-repeat center/24px;
        -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-close.svg);
        background-color: "%foregroundColor"; }
      div.modal > header > a.close:hover {
        background-color: rgba(255, 255, 255, 0.2); }
  div.modal > a.preview, div.modal > span.preview {
    display: block;
    font-size: 140%;
    font-weight: "%fontWeightNormal";
    margin: 30px 30px 20px 30px;
    background-color: rgba(0, 0, 0, 0.05);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 17px 15px; }
    div.modal > a.preview > img, div.modal > a.preview > span.icon, div.modal > span.preview > img, div.modal > span.preview > span.icon {
      position: relative;
      vertical-align: top;
      display: inline-block;
      width: 24px;
      height: 24px;
      margin: 0 20px 0 0; }
    div.modal > a.preview > span.icon::before, div.modal > span.preview > span.icon::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/24px;
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-%bookmarksDirIcon.svg);
      background-color: "%bookmarksDirColor"; }
  div.modal > a.preview {
    transition: background-color 0.3s;
    cursor: pointer; }
    div.modal > a.preview:hover {
      background-color: rgba(0, 0, 0, 0.1); }
    div.modal > a.preview > span.icon::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/24px;
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-demo.svg);
      background-color: transparent; }
    div.modal > a.preview > span.icon[data-color='1']::before {
      background-color: #37bf99; }
    div.modal > a.preview > span.icon[data-color='2']::before {
      background-color: #d737d5; }
    div.modal > a.preview > span.icon[data-color='3']::before {
      background-color: #3e6bf2; }
    div.modal > a.preview > span.icon[data-color='4']::before {
      background-color: #f4572f; }
    div.modal > a.preview > span.icon[data-color='5']::before {
      background-color: #f74b58; }
    div.modal > a.preview > span.icon[data-color='6']::before {
      background-color: #f5a2bf; }
    div.modal > a.preview > span.icon[data-color='7']::before {
      background-color: #1a90ba; }
    div.modal > a.preview > span.icon[data-color='8']::before {
      background-color: #b4bd0e; }
    div.modal > a.preview > span.icon[data-color='9']::before {
      background-color: #fdde32; }
    div.modal > a.preview > span.icon[data-color='10']::before {
      background-color: #8ccbce; }
    div.modal > a.preview + a.previewUrl {
      display: block;
      margin: -15px 30px 20px 30px;
      font-size: 80%;
      font-weight: "%fontWeightMedium";
      opacity: 0.7;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer; }
  div.modal > div.info {
    margin: 30px 30px 0 30px;
    padding: 20px 0 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    clear: both; }
    div.modal > div.info > h3 {
      font-size: 100%;
      font-weight: "%fontWeightMedium"; }
    div.modal > div.info > p {
      margin: 5px 0 0 0;
      user-select: text;
      max-height: 120px;
      overflow: auto; }
    div.modal > div.info + ul {
      margin-top: 25px;
      padding-top: 30px; }
  div.modal p.premium {
    position: relative;
    padding: 95px 0 0 0; }
    div.modal p.premium::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/48px;
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-premium.svg);
      background-color: "%textColor"; }
    div.modal p.premium::before {
      -webkit-mask-position-y: 20px;
      pointer-events: none; }
    div.modal p.premium > span {
      display: block;
      margin-bottom: 25px; }
    div.modal p.premium > a {
      font-weight: "%fontWeightMedium";
      cursor: pointer;
      color: "%colorScheme";
      font-size: 80%; }
  div.modal[data-type='keyboardShortcuts'] {
    width: 700px;
    height: 650px;
    max-height: 100%; }
    div.modal[data-type='keyboardShortcuts'] > header::before {
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-keyboard.svg); }
    div.modal[data-type='keyboardShortcuts'] > div.scrollBox {
      height: calc(100% - %overlayHeaderHeight - 57px); }
      div.modal[data-type='keyboardShortcuts'] > div.scrollBox > div {
        background: #fff;
        padding: 30px 30px 5px 30px; }
        div.modal[data-type='keyboardShortcuts'] > div.scrollBox > div > h3 {
          font-weight: "%fontWeightMedium";
          margin: 0 0 10px 0; }
        div.modal[data-type='keyboardShortcuts'] > div.scrollBox > div > a {
          position: relative;
          font-weight: "%fontWeightMedium";
          cursor: pointer;
          color: "%colorScheme";
          padding-left: 16px; }
          div.modal[data-type='keyboardShortcuts'] > div.scrollBox > div > a::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 7px;
            height: 7px;
            border-top: 2px solid "%colorScheme";
            border-right: 2px solid "%colorScheme";
            transform: rotateZ(45deg); }
        div.modal[data-type='keyboardShortcuts'] > div.scrollBox > div > ul {
          margin-top: 20px;
          padding-top: 20px;
          border-top: 1px solid rgba(0, 0, 0, 0.1); }
          div.modal[data-type='keyboardShortcuts'] > div.scrollBox > div > ul > li {
            padding: 0 0 25px 0; }
            div.modal[data-type='keyboardShortcuts'] > div.scrollBox > div > ul > li > strong {
              font-size: 80%;
              font-weight: normal;
              margin-left: -2px; }
              div.modal[data-type='keyboardShortcuts'] > div.scrollBox > div > ul > li > strong > i {
                display: inline-block;
                border: 1px solid rgba(0, 0, 0, 0.1);
                background: rgba(0, 0, 0, 0.05);
                font-style: normal;
                padding: 2px 4px;
                border-radius: 2px;
                margin: 0 2px; }
            div.modal[data-type='keyboardShortcuts'] > div.scrollBox > div > ul > li > span {
              display: block;
              margin-top: 5px; }
  div.modal[data-type='delete'] > p, div.modal[data-type='hide'] > p, div.modal[data-type='openChildren'] > p {
    padding: 30px 30px 5px 30px;
    font-size: 140%;
    line-height: 170%; }
  div.modal[data-type='delete'] > header::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-delete.svg); }
  div.modal[data-type='hide'] > header::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-hide.svg); }
  div.modal[data-type='openChildren'] > header::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-newTab.svg); }
  div.modal[data-type='infos'] > header::before, div.modal[data-type='shareInfoDesc'] > header::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-info.svg); }
  div.modal[data-type='shareInfoDesc'] {
    width: 500px;
    height: 300px;
    max-height: 100%; }
    div.modal[data-type='shareInfoDesc'][data-value='activity'] {
      width: 600px;
      height: 550px; }
    div.modal[data-type='shareInfoDesc'] > div.scrollBox {
      height: calc(100% - %overlayHeaderHeight - 57px);
      font-size: 120%;
      line-height: 150%; }
      div.modal[data-type='shareInfoDesc'] > div.scrollBox > p {
        padding: 20px 30px 5px 30px;
        background: #fff; }
      div.modal[data-type='shareInfoDesc'] > div.scrollBox > ul {
        padding: 0 30px;
        background: #fff; }
        div.modal[data-type='shareInfoDesc'] > div.scrollBox > ul > li {
          position: relative;
          padding-left: 10px;
          font-size: 80%; }
          div.modal[data-type='shareInfoDesc'] > div.scrollBox > ul > li::before {
            content: "-";
            position: absolute;
            left: 0; }
  div.modal[data-type='infos'] > ul.breadcrumb {
    font-size: 80%;
    margin: 0 30px 20px 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    float: right; }
    div.modal[data-type='infos'] > ul.breadcrumb::after {
      content: "";
      clear: both;
      display: block; }
    div.modal[data-type='infos'] > ul.breadcrumb::before {
      content: "";
      position: absolute;
      left: 0;
      width: 60px;
      height: 24px;
      background: linear-gradient(to right, #fff 0%, transparent 100%);
      z-index: 3; }
    div.modal[data-type='infos'] > ul.breadcrumb > li {
      position: relative;
      display: inline-block;
      height: 24px;
      line-height: 24px;
      padding: 0 5px 0 8px;
      background: rgba(0, 0, 0, 0.05); }
      div.modal[data-type='infos'] > ul.breadcrumb > li + li {
        padding-left: 25px; }
      div.modal[data-type='infos'] > ul.breadcrumb > li:last-child {
        margin-right: 12px; }
      div.modal[data-type='infos'] > ul.breadcrumb > li::before, div.modal[data-type='infos'] > ul.breadcrumb > li::after {
        content: "";
        position: absolute;
        z-index: 2; }
      div.modal[data-type='infos'] > ul.breadcrumb > li::before {
        top: -6px;
        right: -36px;
        border: 18px solid transparent;
        border-left-color: #fff; }
      div.modal[data-type='infos'] > ul.breadcrumb > li::after {
        top: 0;
        right: -24px;
        border: 12px solid transparent;
        border-left-color: rgba(0, 0, 0, 0.05); }
  div.modal[data-type='infos'] > ul:not(.breadcrumb) {
    display: flex;
    flex-flow: row;
    font-size: 120%;
    margin: 40px 30px 0 30px;
    padding: 40px 0 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    clear: both; }
    div.modal[data-type='infos'] > ul:not(.breadcrumb) > li {
      position: relative; }
      div.modal[data-type='infos'] > ul:not(.breadcrumb) > li.tooltip {
        position: relative;
        cursor: help;
        background-size: 16px;
        padding-right: 18px; }
        div.modal[data-type='infos'] > ul:not(.breadcrumb) > li.tooltip::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-mask: no-repeat center/16px;
          -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-info.svg);
          background-color: "%textColor"; }
        div.modal[data-type='infos'] > ul:not(.breadcrumb) > li.tooltip::before {
          opacity: 0.5;
          -webkit-mask-position: right center; }
      div.modal[data-type='infos'] > ul:not(.breadcrumb) > li > ul {
        position: absolute;
        top: 27px;
        right: -10px;
        background: #444;
        color: #fff;
        font-size: 65%;
        padding: 2px 5px;
        border-radius: 2px;
        transform: translate3d(0, -5px, 0);
        transition: opacity 0.3s, transform 0.3s; }
        div.modal[data-type='infos'] > ul:not(.breadcrumb) > li > ul::before {
          content: "";
          position: absolute;
          top: -14px;
          right: 10px;
          border: 7px solid transparent;
          border-bottom-color: #444; }
        div.modal[data-type='infos'] > ul:not(.breadcrumb) > li > ul > li {
          white-space: nowrap;
          margin: 5px 0; }
      div.modal[data-type='infos'] > ul:not(.breadcrumb) > li:hover > ul {
        opacity: 1;
        transform: translate3d(0, 0, 0); }
  div.modal[data-type='edit'] > ul, div.modal[data-type='add'] > ul {
    padding: 2px 30px; }
    div.modal[data-type='edit'] > ul > li, div.modal[data-type='add'] > ul > li {
      margin: 10px 0 20px 0; }
      div.modal[data-type='edit'] > ul > li > span, div.modal[data-type='add'] > ul > li > span {
        margin-top: 20px;
        font-size: 120%;
        line-height: 150%; }
      div.modal[data-type='edit'] > ul > li > label, div.modal[data-type='add'] > ul > li > label {
        display: block;
        font-size: 100%;
        font-weight: "%fontWeightMedium"; }
      div.modal[data-type='edit'] > ul > li > input, div.modal[data-type='edit'] > ul > li > textarea, div.modal[data-type='edit'] > ul > li > select, div.modal[data-type='add'] > ul > li > input, div.modal[data-type='add'] > ul > li > textarea, div.modal[data-type='add'] > ul > li > select {
        width: 100%;
        max-width: 400px;
        background: transparent;
        font-size: 120%;
        padding: 5px 8px;
        margin-top: 5px;
        border-radius: 5px;
        outline: none;
        box-shadow: none;
        transition: border-color 0.5s;
        border: 1px solid rgba(0, 0, 0, 0.15); }
        div.modal[data-type='edit'] > ul > li > input.error, div.modal[data-type='edit'] > ul > li > textarea.error, div.modal[data-type='edit'] > ul > li > select.error, div.modal[data-type='add'] > ul > li > input.error, div.modal[data-type='add'] > ul > li > textarea.error, div.modal[data-type='add'] > ul > li > select.error {
          border-color: #f99; }
        div.modal[data-type='edit'] > ul > li > input:focus, div.modal[data-type='edit'] > ul > li > textarea:focus, div.modal[data-type='edit'] > ul > li > select:focus, div.modal[data-type='add'] > ul > li > input:focus, div.modal[data-type='add'] > ul > li > textarea:focus, div.modal[data-type='add'] > ul > li > select:focus {
          border-color: rgba(0, 0, 0, 0.3); }
  div.modal[data-type='edit'] > header::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-edit.svg); }
  div.modal[data-type='edit'] > ul > li.info > textarea {
    max-width: none;
    height: 60px;
    resize: none;
    margin-bottom: 3px; }
  div.modal[data-type='edit'] > ul > li.info > span {
    opacity: 0;
    font-size: 80%;
    color: #f99;
    transition: opacity 0.5s; }
  div.modal[data-type='edit'] > ul > li.info.active > span {
    opacity: 1; }
  div.modal[data-type='add'] > header::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-add.svg); }
  div.modal[data-type='add'] h2 {
    margin: 0 0 40px 0;
    font-weight: "%fontWeightThin";
    font-size: 200%; }
  div.modal[data-type='add'] > ul {
    transition: opacity 0.5s, transform 0.5s;
    margin: 10px 0 0 0;
    transform: translate3d(0, 15px, 0); }
    div.modal[data-type='add'] > ul.visible {
      transform: translate3d(0, 0, 0); }
    div.modal[data-type='add'] > ul > li > span {
      margin-top: -20px; }
  div.modal[data-type='add'] > menu[data-name='select'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px;
    transition: opacity 0.2s, transform 0.2s; }
    div.modal[data-type='add'] > menu[data-name='select'].hidden {
      transform: translate3d(0, -40px, 0); }
    div.modal[data-type='add'] > menu[data-name='select'] > a {
      position: relative;
      display: block;
      width: 86px;
      height: 86px;
      border-radius: 50%;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      background-color: #f5f5f5;
      transition: box-shadow 0.5s;
      cursor: pointer; }
      div.modal[data-type='add'] > menu[data-name='select'] > a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-mask: no-repeat center/36px;
        -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/none.svg);
        background-color: "%textColor"; }
      div.modal[data-type='add'] > menu[data-name='select'] > a::before {
        transition: opacity 0.5s, background-color 0.5s;
        opacity: 0.7; }
      div.modal[data-type='add'] > menu[data-name='select'] > a::after {
        content: attr(title);
        position: absolute;
        display: block;
        bottom: -30px;
        left: -50%;
        width: 200%;
        padding: 40px 0 0 0;
        font-size: 120%;
        text-align: center;
        color: "%textColor";
        transition: color 0.5s; }
      div.modal[data-type='add'] > menu[data-name='select'] > a.hover {
        box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.15); }
        div.modal[data-type='add'] > menu[data-name='select'] > a.hover::before {
          opacity: 1;
          background-color: "%colorScheme"; }
        div.modal[data-type='add'] > menu[data-name='select'] > a.hover::after {
          color: "%colorScheme"; }
      div.modal[data-type='add'] > menu[data-name='select'] > a[data-type='bookmark']::before {
        -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-bookmark.svg); }
      div.modal[data-type='add'] > menu[data-name='select'] > a[data-type='dir']::before {
        -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-dir-1.svg); }
      div.modal[data-type='add'] > menu[data-name='select'] > a[data-type='separator']::before {
        -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-separator.svg); }
  div.modal[data-type='add'] > menu.buttons > a.action {
    display: none; }
    div.modal[data-type='add'] > menu.buttons > a.action.visible {
      display: inline-block; }
  div.modal > menu.buttons {
    position: absolute;
    bottom: 16px;
    right: 20px;
    z-index: 3; }
    div.modal > menu.buttons > a {
      position: relative;
      display: inline-block;
      padding: 5px 10px 4px;
      margin: 0 5px;
      color: "%colorScheme";
      font-weight: "%fontWeightBold";
      text-transform: uppercase;
      border-radius: 3px;
      cursor: pointer; }
      div.modal > menu.buttons > a::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        background: "%colorScheme";
        transition: opacity 0.5s; }
      div.modal > menu.buttons > a:hover::before {
        opacity: 0.15; }

div.modal[data-type='checkBookmarks'] > header::before {
  -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-update.svg); }

div.modal[data-type='checkBookmarks'] > p {
  position: relative;
  text-align: center;
  margin-top: 40px;
  font-size: 140%;
  line-height: 170%; }
  div.modal[data-type='checkBookmarks'] > p.success {
    padding: 90px 0 80px; }
    div.modal[data-type='checkBookmarks'] > p.success::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/48px;
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-check.svg);
      background-color: #5eba7d; }
    div.modal[data-type='checkBookmarks'] > p.success::before {
      -webkit-mask-position-y: bottom; }

div.modal[data-type='checkBookmarks'] > div.error {
  position: relative;
  text-align: center;
  margin-top: 50px;
  line-height: 150%;
  padding: 70px 30px 0; }
  div.modal[data-type='checkBookmarks'] > div.error::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask: no-repeat center/48px;
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-info.svg);
    background-color: #f5c525; }
  div.modal[data-type='checkBookmarks'] > div.error::before {
    -webkit-mask-position-y: top; }
  div.modal[data-type='checkBookmarks'] > div.error > h3 {
    font-size: 160%;
    font-weight: "%fontWeightNormal";
    margin-bottom: 25px; }

div.modal[data-type='checkBookmarks'] > div.progressBar {
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  height: 3px;
  margin: 40px 30px 0; }
  div.modal[data-type='checkBookmarks'] > div.progressBar > div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: "%colorScheme";
    transition: width 0.1s linear; }

div.modal[data-type='checkBookmarks'] > span.progressLabel {
  display: block;
  text-align: center;
  font-size: 120%;
  margin-top: 20px;
  opacity: 0.6; }
  div.modal[data-type='checkBookmarks'] > span.progressLabel > span {
    margin: 0 3px; }

div.modal[data-type='checkBookmarks'] > svg.loading {
  margin: 80px auto 0; }

div.modal[data-type='checkBookmarks'] > menu.categories {
  position: absolute;
  top: "%overlayHeaderHeight";
  left: 0;
  width: 180px;
  height: calc(100% - %overlayHeaderHeight - 57px);
  padding-top: 20px;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: rgba(0, 0, 0, 0.15); }
  div.modal[data-type='checkBookmarks'] > menu.categories > li {
    position: relative;
    height: 40px; }
    div.modal[data-type='checkBookmarks'] > menu.categories > li::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/20px;
      background-color: "%textColor"; }
    div.modal[data-type='checkBookmarks'] > menu.categories > li::before {
      left: 10px;
      width: 20px;
      -webkit-mask-position-x: 0; }
    div.modal[data-type='checkBookmarks'] > menu.categories > li[data-name='changed']::before {
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-update-2.svg); }
    div.modal[data-type='checkBookmarks'] > menu.categories > li[data-name='broken']::before {
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-broken.svg); }
    div.modal[data-type='checkBookmarks'] > menu.categories > li[data-name='duplicate']::before {
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-duplicate.svg); }
    div.modal[data-type='checkBookmarks'] > menu.categories > li.active {
      background: #f5f5f5; }
      div.modal[data-type='checkBookmarks'] > menu.categories > li.active::after {
        content: "";
        position: absolute;
        border: 1px solid rgba(0, 0, 0, 0.15);
        background: #fff;
        top: 0;
        bottom: 0;
        margin: auto;
        right: -9px;
        width: 16px;
        height: 16px;
        transform: rotateZ(45deg); }
    div.modal[data-type='checkBookmarks'] > menu.categories > li > a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-left: 40px;
      line-height: 40px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer; }
      div.modal[data-type='checkBookmarks'] > menu.categories > li > a > span {
        font-size: 80%;
        margin-left: 5px;
        vertical-align: top;
        opacity: 0.8; }

div.modal[data-type='checkBookmarks'] > div[id^='results_'] {
  position: relative;
  height: calc(100% - %overlayHeaderHeight - 57px);
  margin-left: 180px;
  display: none; }
  div.modal[data-type='checkBookmarks'] > div[id^='results_'].visible {
    display: block; }
  div.modal[data-type='checkBookmarks'] > div[id^='results_'] > p {
    position: relative;
    min-height: 100%;
    background: #fff;
    text-align: center;
    padding: 50px 0 0 0; }
    div.modal[data-type='checkBookmarks'] > div[id^='results_'] > p > span {
      position: relative;
      display: inline-block;
      font-size: 140%;
      padding-left: 40px; }
      div.modal[data-type='checkBookmarks'] > div[id^='results_'] > p > span::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-mask: no-repeat center/32px;
        -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-check.svg);
        background-color: "%textColor"; }
      div.modal[data-type='checkBookmarks'] > div[id^='results_'] > p > span::before {
        -webkit-mask-position-x: 0;
        opacity: 0.4; }
  div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul {
    position: relative;
    min-height: 100%;
    background: #fff; }
    div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li {
      position: relative;
      padding: 17px 11px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      transition: height 0.3s, padding 0.3s, opacity 0.25s; }
      div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li:last-child {
        border: none; }
      div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li.hidden {
        height: 0 !important;
        padding: 0 11px;
        opacity: 0; }
      div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > div.checkbox {
        display: inline-block;
        vertical-align: top;
        margin: 0 14px 0 0; }
      div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > img {
        vertical-align: top;
        display: inline-block;
        width: 16px;
        margin: 1px 14px 0 0; }
      div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > strong, div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > a.info {
        display: inline-block;
        font-weight: "%fontWeightBold";
        width: calc(100% - 94px);
        vertical-align: top;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li a.urlCheckAction {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 10px;
        display: block;
        width: 32px;
        height: 32px;
        cursor: pointer;
        border-radius: 50%;
        transition: background-color 0.3s;
        z-index: 2; }
        div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li a.urlCheckAction::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-mask: no-repeat center/18px;
          -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-delete.svg);
          background-color: "%textColor"; }
        div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li a.urlCheckAction:hover {
          background-color: #f5f5f5; }
      div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > ul[data-type='urls'] {
        margin: 0 30px 0 65px; }
        div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > ul[data-type='urls'] > li {
          position: relative;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis; }
          div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > ul[data-type='urls'] > li > a {
            line-height: 20px;
            font-size: 80%; }
          div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > ul[data-type='urls'] > li:first-child > a {
            text-decoration: line-through; }
      div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > ul[data-type='duplicates'] {
        margin: 0 0 0 22px; }
        div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > ul[data-type='duplicates'] > li {
          position: relative;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 15px 0 0 0;
          padding-left: 32px;
          transition: height 0.3s, margin 0.3s, opacity 0.25s; }
          div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > ul[data-type='duplicates'] > li.hidden {
            height: 0 !important;
            margin: 0;
            opacity: 0; }
          div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > ul[data-type='duplicates'] > li > strong {
            font-weight: "%fontWeightMedium"; }
          div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > ul[data-type='duplicates'] > li > a.urlCheckAction {
            right: unset;
            left: 0;
            margin: 0;
            width: 26px;
            height: 26px; }
            div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > ul[data-type='duplicates'] > li > a.urlCheckAction::before {
              -webkit-mask-size: 16px; }
          div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > ul[data-type='duplicates'] > li > ul.breadcrumb {
            font-size: 80%;
            margin-top: 3px; }
            div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > ul[data-type='duplicates'] > li > ul.breadcrumb > li {
              display: inline-block; }
              div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > ul[data-type='duplicates'] > li > ul.breadcrumb > li:not(:last-child)::after {
                content: ">";
                margin: 0 4px;
                opacity: 0.7; }
  div.modal[data-type='checkBookmarks'] > div[id^='results_']#results_changed > ul > li > a.urlCheckAction::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-check.svg);
    -webkit-mask-size: 22px; }

div.modal[data-type='checkBookmarks'].urlCheckLoading {
  transition: width 0.5s, height 0.5s; }

div.modal[data-type='checkBookmarks'].urlCheckResults {
  width: 900px;
  height: 700px;
  max-height: 100%; }
  div.modal[data-type='checkBookmarks'].urlCheckResults > svg.loading {
    transition: margin-top 0.5s;
    margin-top: 210px; }

div.modal[data-type='checkBookmarks'] > menu.buttons > a.urlCheckAction {
  display: none; }
  div.modal[data-type='checkBookmarks'] > menu.buttons > a.urlCheckAction.visible {
    display: inline-block; }

html[dir='rtl'] div.modal[data-type='checkBookmarks'] > div.progressBar > div {
  left: unset;
  right: 0; }

html[dir='rtl'] div.modal[data-type='checkBookmarks'] > menu.categories {
  left: unset;
  right: 0;
  border-left-width: 1px;
  border-left-style: solid;
  border-right: none; }
  html[dir='rtl'] div.modal[data-type='checkBookmarks'] > menu.categories > li::before {
    left: unset;
    right: 10px;
    -webkit-mask-position-x: right; }
  html[dir='rtl'] div.modal[data-type='checkBookmarks'] > menu.categories > li.active::after {
    left: -9px;
    right: unset; }
  html[dir='rtl'] div.modal[data-type='checkBookmarks'] > menu.categories > li > a {
    padding-right: 40px;
    padding-left: 0; }
    html[dir='rtl'] div.modal[data-type='checkBookmarks'] > menu.categories > li > a > span {
      margin-right: 5px;
      margin-left: 0; }

html[dir='rtl'] div.modal[data-type='checkBookmarks'] > div[id^='results_'] {
  margin-right: 180px;
  margin-left: 0; }
  html[dir='rtl'] div.modal[data-type='checkBookmarks'] > div[id^='results_'] > p > span {
    padding-right: 40px;
    padding-left: 0; }
    html[dir='rtl'] div.modal[data-type='checkBookmarks'] > div[id^='results_'] > p > span::before {
      -webkit-mask-position-x: right; }
  html[dir='rtl'] div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > div.checkbox {
    margin-left: 14px;
    margin-right: 0; }
  html[dir='rtl'] div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > img {
    margin-left: 14px;
    margin-right: 0; }
  html[dir='rtl'] div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > ul[data-type='urls'] {
    margin-left: 30px;
    margin-right: 65px; }
  html[dir='rtl'] div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > ul[data-type='duplicates'] {
    margin-right: 22px;
    margin-left: 0; }
    html[dir='rtl'] div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > ul[data-type='duplicates'] > li {
      padding-right: 32px;
      padding-left: 0; }
      html[dir='rtl'] div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li > ul[data-type='duplicates'] > li > a.urlCheckAction {
        right: 0;
        left: unset; }
  html[dir='rtl'] div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li a.urlCheckAction {
    left: 10px;
    right: unset; }

body.highContrast:not(.dark) div.modal[data-type='checkBookmarks'] > div.progressBar > div {
  background: "%textColor"; }

body.dark div.modal[data-type='checkBookmarks'] > menu.categories {
  border-color: rgba(255, 255, 255, 0.15); }
  body.dark div.modal[data-type='checkBookmarks'] > menu.categories > li.active {
    background: #4d4d4d; }
    body.dark div.modal[data-type='checkBookmarks'] > menu.categories > li.active::after {
      border-color: rgba(255, 255, 255, 0.15);
      background: #3d3d3d; }

body.dark div.modal[data-type='checkBookmarks'] > div[id^='results_'] > p, body.dark div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul {
  background: #3d3d3d; }

body.dark div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li {
  border-bottom-color: rgba(255, 255, 255, 0.15); }
  body.dark div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li a.urlCheckAction:hover {
    background-color: #4d4d4d; }

body.dark div.modal[data-type='checkBookmarks'] > div.progressBar {
  background: rgba(255, 255, 255, 0.1); }
  body.dark div.modal[data-type='checkBookmarks'] > div.progressBar > div {
    background: "%textColor"; }

body.dark div.modal[data-type='checkBookmarks'].urlCheckResults::after {
  background: #4d4d4d; }

html[dir='rtl'] div.modal > header {
  padding: 0 52px 0 75px; }
  html[dir='rtl'] div.modal > header::before {
    left: unset;
    right: 5px; }
  html[dir='rtl'] div.modal > header > a.close {
    right: unset;
    left: 15px; }

html[dir='rtl'] div.modal > a.preview > img, html[dir='rtl'] div.modal > a.preview > span.icon, html[dir='rtl'] div.modal > span.preview > img, html[dir='rtl'] div.modal > span.preview > span.icon {
  margin: 0 0 0 20px; }

html[dir='rtl'] div.modal[data-type='openChildren'] > header::before {
  transform: scaleX(-1); }

html[dir='rtl'] div.modal[data-type='shareInfoDesc'] > div.scrollBox > ul > li {
  padding-right: 10px;
  padding-left: 0; }
  html[dir='rtl'] div.modal[data-type='shareInfoDesc'] > div.scrollBox > ul > li::before {
    left: unset;
    right: 0; }

html[dir='rtl'] div.modal[data-type='infos'] > ul.breadcrumb {
  float: left; }
  html[dir='rtl'] div.modal[data-type='infos'] > ul.breadcrumb::before {
    left: unset;
    right: 0;
    transform: scaleX(-1); }
  html[dir='rtl'] div.modal[data-type='infos'] > ul.breadcrumb > li {
    padding-right: 8px;
    padding-left: 5px; }
    html[dir='rtl'] div.modal[data-type='infos'] > ul.breadcrumb > li + li {
      padding-left: 5px;
      padding-right: 25px; }
    html[dir='rtl'] div.modal[data-type='infos'] > ul.breadcrumb > li:last-child {
      margin-right: 0;
      margin-left: 12px; }
    html[dir='rtl'] div.modal[data-type='infos'] > ul.breadcrumb > li::before {
      right: unset;
      left: -36px;
      transform: scaleX(-1); }
    html[dir='rtl'] div.modal[data-type='infos'] > ul.breadcrumb > li::after {
      top: 0;
      right: unset;
      left: -24px;
      transform: scaleX(-1); }

html[dir='rtl'] div.modal[data-type='infos'] > ul:not(.breadcrumb) > li.tooltip {
  padding-right: 0;
  padding-left: 18px; }
  html[dir='rtl'] div.modal[data-type='infos'] > ul:not(.breadcrumb) > li.tooltip::before {
    -webkit-mask-position-x: left; }

html[dir='rtl'] div.modal[data-type='infos'] > ul:not(.breadcrumb) > li > ul {
  right: unset;
  left: -10px; }
  html[dir='rtl'] div.modal[data-type='infos'] > ul:not(.breadcrumb) > li > ul::before {
    left: 10px;
    right: unset; }

html[dir='rtl'] div.modal[data-type='keyboardShortcuts'] > div.scrollBox > div > a {
  padding-left: 0;
  padding-right: 16px; }
  html[dir='rtl'] div.modal[data-type='keyboardShortcuts'] > div.scrollBox > div > a::before {
    left: unset;
    right: 0;
    transform: scaleX(-1) rotateZ(45deg); }

html[dir='rtl'] div.modal > menu.buttons {
  right: unset;
  left: 20px; }

body.highContrast:not(.dark) div.modal > header > a.close:hover {
  background-color: rgba(0, 0, 0, 0.07); }

body.highContrast:not(.dark) div.modal p.premium > a {
  color: "%textColor"; }

body.highContrast:not(.dark) div.modal[data-type='add'] > menu[data-name='select'] > a.hover::before {
  background-color: "%textColor"; }

body.highContrast:not(.dark) div.modal[data-type='add'] > menu[data-name='select'] > a.hover::after {
  color: "%textColor"; }

body.highContrast:not(.dark) div.modal[data-type='add'] > menu.buttons > a.action {
  display: none; }
  body.highContrast:not(.dark) div.modal[data-type='add'] > menu.buttons > a.action.visible {
    display: inline-block; }

body.highContrast:not(.dark) div.modal[data-type='keyboardShortcuts'] > div.scrollBox > div > a {
  color: "%textColor"; }
  body.highContrast:not(.dark) div.modal[data-type='keyboardShortcuts'] > div.scrollBox > div > a::before {
    border-color: "%textColor"; }

body.highContrast:not(.dark) div.modal > menu.buttons > a {
  color: "%textColor"; }
  body.highContrast:not(.dark) div.modal > menu.buttons > a::before {
    background: "%textColor"; }

body.dark div.modal {
  background: #3d3d3d; }
  body.dark div.modal > a.preview, body.dark div.modal > span.preview {
    background: rgba(255, 255, 255, 0.05); }
  body.dark div.modal > div.info {
    border-color: rgba(255, 255, 255, 0.1); }
  body.dark div.modal p.premium > a {
    color: "%textColor"; }
  body.dark div.modal[data-type='edit'] > ul > li.info, body.dark div.modal[data-type='add'] > ul > li.info {
    border-color: rgba(255, 255, 255, 0.1); }
  body.dark div.modal[data-type='edit'] > ul > li > input, body.dark div.modal[data-type='edit'] > ul > li > textarea, body.dark div.modal[data-type='edit'] > ul > li > select, body.dark div.modal[data-type='add'] > ul > li > input, body.dark div.modal[data-type='add'] > ul > li > textarea, body.dark div.modal[data-type='add'] > ul > li > select {
    border-color: rgba(255, 255, 255, 0.1); }
    body.dark div.modal[data-type='edit'] > ul > li > input > option, body.dark div.modal[data-type='edit'] > ul > li > textarea > option, body.dark div.modal[data-type='edit'] > ul > li > select > option, body.dark div.modal[data-type='add'] > ul > li > input > option, body.dark div.modal[data-type='add'] > ul > li > textarea > option, body.dark div.modal[data-type='add'] > ul > li > select > option {
      background: #4d4d4d; }
    body.dark div.modal[data-type='edit'] > ul > li > input.error, body.dark div.modal[data-type='edit'] > ul > li > textarea.error, body.dark div.modal[data-type='edit'] > ul > li > select.error, body.dark div.modal[data-type='add'] > ul > li > input.error, body.dark div.modal[data-type='add'] > ul > li > textarea.error, body.dark div.modal[data-type='add'] > ul > li > select.error {
      border-color: rgba(255, 153, 153, 0.5); }
    body.dark div.modal[data-type='edit'] > ul > li > input:focus, body.dark div.modal[data-type='edit'] > ul > li > textarea:focus, body.dark div.modal[data-type='edit'] > ul > li > select:focus, body.dark div.modal[data-type='add'] > ul > li > input:focus, body.dark div.modal[data-type='add'] > ul > li > textarea:focus, body.dark div.modal[data-type='add'] > ul > li > select:focus {
      border-color: rgba(255, 255, 255, 0.25); }
  body.dark div.modal[data-type='add'] > menu:not(.buttons) > a {
    background-color: #4d4d4d; }
    body.dark div.modal[data-type='add'] > menu:not(.buttons) > a::before, body.dark div.modal[data-type='add'] > menu:not(.buttons) > a::after {
      opacity: 0.5;
      transition: opacity 0.5s; }
    body.dark div.modal[data-type='add'] > menu:not(.buttons) > a:hover::before {
      opacity: 1;
      background-color: "%textColor"; }
    body.dark div.modal[data-type='add'] > menu:not(.buttons) > a:hover::after {
      opacity: 1;
      color: "%textColor"; }
  body.dark div.modal[data-type='add'] > menu.buttons > a.action {
    display: none; }
    body.dark div.modal[data-type='add'] > menu.buttons > a.action.visible {
      display: inline-block; }
  body.dark div.modal[data-type='infos'] > header::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-info.svg); }
  body.dark div.modal[data-type='infos'] > ul.breadcrumb::before {
    background: linear-gradient(to right, #3d3d3d 0%, transparent 100%); }
  body.dark div.modal[data-type='infos'] > ul.breadcrumb > li {
    background: rgba(255, 255, 255, 0.08); }
    body.dark div.modal[data-type='infos'] > ul.breadcrumb > li::before {
      border-left-color: #3d3d3d; }
    body.dark div.modal[data-type='infos'] > ul.breadcrumb > li::after {
      border-left-color: rgba(255, 255, 255, 0.08); }
  body.dark div.modal[data-type='infos'] > ul:not(.breadcrumb) {
    border-color: rgba(255, 255, 255, 0.1); }
    body.dark div.modal[data-type='infos'] > ul:not(.breadcrumb) > li > ul {
      background: #222;
      color: #eee; }
      body.dark div.modal[data-type='infos'] > ul:not(.breadcrumb) > li > ul::before {
        border-bottom-color: #222; }
  body.dark div.modal[data-type='shareInfoDesc']::after, body.dark div.modal[data-type='keyboardShortcuts']::after {
    background: #4d4d4d; }
  body.dark div.modal[data-type='shareInfoDesc'] > div.scrollBox > *, body.dark div.modal[data-type='keyboardShortcuts'] > div.scrollBox > * {
    background: #3d3d3d; }
  body.dark div.modal[data-type='keyboardShortcuts'] > div.scrollBox > div > a {
    color: "%textColor"; }
    body.dark div.modal[data-type='keyboardShortcuts'] > div.scrollBox > div > a::before {
      border-color: "%textColor"; }
  body.dark div.modal[data-type='keyboardShortcuts'] > div.scrollBox > div > ul {
    border-color: rgba(255, 255, 255, 0.1); }
    body.dark div.modal[data-type='keyboardShortcuts'] > div.scrollBox > div > ul > li > strong > i {
      display: inline-block;
      border: 1px solid rgba(255, 255, 255, 0.05);
      background: rgba(255, 255, 255, 0.05); }
  body.dark div.modal > menu.buttons > a {
    color: "%textColor"; }
    body.dark div.modal > menu.buttons > a::before {
      background: "%textColor"; }

/*# sourceMappingURL=overlay.css.map */