@keyframes container-rotate {
  to {
    transform: rotate(360deg);
  }
}
@keyframes left-spin {
  from, to {
    transform: rotate(130deg);
  }
  50% {
    transform: rotate(-5deg);
  }
}
@keyframes right-spin {
  from, to {
    transform: rotate(-130deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
@keyframes fill-unfill-rotate {
  12.5% {
    transform: rotate(135deg);
  }
  25% {
    transform: rotate(270deg);
  }
  37.5% {
    transform: rotate(405deg);
  }
  50% {
    transform: rotate(540deg);
  }
  62.5% {
    transform: rotate(675deg);
  }
  75% {
    transform: rotate(810deg);
  }
  87.5% {
    transform: rotate(945deg);
  }
  to {
    transform: rotate(1080deg);
  }
}
div.loading {
  display: block;
  position: relative;
  width: 36px;
  height: 36px;
  animation: container-rotate 1568ms linear infinite;
}
div.loading > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-color: #009688;
  animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
div.loading > div > div.circle-clipper {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100%;
  overflow: hidden;
  float: left;
}
div.loading > div > div.circle-clipper > div {
  width: 200%;
  height: 100%;
  border: 3px solid #009688;
  border-bottom-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
div.loading > div > div.circle-clipper.left > div {
  left: 0;
  border-right-color: transparent;
  transform: rotate(129deg);
  animation: left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
div.loading > div > div.circle-clipper.right > div {
  left: -100%;
  border-left-color: transparent;
  transform: rotate(-129deg);
  animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
div.loading > div > div.gap-patch {
  position: absolute;
  top: 0;
  left: 45%;
  width: 10%;
  height: 100%;
  border-color: inherit;
  overflow: hidden;
}
div.loading > div > div.gap-patch > div {
  width: 1000%;
  left: -450%;
}

div.scrollBox {
  position: relative;
  overflow: hidden;
}
div.scrollBox > div.scrollbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  padding: 4px 0;
  height: 100%;
  transition: opacity 0.5s, background 0.3s;
  cursor: pointer;
  z-index: 2;
}
div.scrollBox > div.scrollbar.inactive {
  display: none;
}
div.scrollBox > div.scrollbar.hidden:not(:hover) {
  opacity: 0;
}
div.scrollBox > div.scrollbar > div {
  position: absolute;
  top: 0;
  right: 3px;
  width: 5px;
  height: 0;
  background: #ccc;
  border-radius: 3px;
  transition: transform 0.3s, width 0.3s, height 0.3s, border-radius 0.3s, background 0.3s;
}
div.scrollBox > div.scrollbar:hover {
  background: #f2f2f2;
}
div.scrollBox > div.scrollbar:hover > div {
  width: 8px;
  border-radius: 6px;
  background: #bbb;
}
div.scrollBox.scrollDrag > div.scrollbar {
  background: #f2f2f2;
  opacity: 1;
}
div.scrollBox.scrollDrag > div.scrollbar > div {
  width: 8px;
  border-radius: 6px;
  background: #bbb;
}
div.scrollBox.scrollDrag > div.scrollbar > div {
  transition: none;
}
div.scrollBox.scrollTrackpad > div.scrollbar > div {
  transition: none;
}

div.contextmenu {
  position: absolute;
  top: 0;
  background: #fff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  opacity: 0;
  pointer-events: none;
  transform: translate3d(0, -20px, 0);
  transition: opacity 0.3s, transform 0.3s;
  z-index: 4;
}
div.contextmenu[data-type='list'] {
  left: -9999px;
  margin: 0 20px;
}
div.contextmenu[data-type='settings'] {
  right: 8px;
  margin-top: -7px;
}
div.contextmenu.visible {
  pointer-events: auto;
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
div.contextmenu.visible.top {
  transform: translate3d(0, -40px, 0);
}
div.contextmenu > ul > li > a {
  position: relative;
  display: block;
  line-height: 40px;
  padding: 0 12px;
  cursor: pointer;
  transition: background 0.3s;
}
div.contextmenu > ul > li > a > span {
  vertical-align: top;
  display: inline-block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #d2d2d2;
  margin: 6px 12px 0 0;
  transition: background-color 0.3s;
  background-position: center;
  background-size: 16px;
  background-repeat: no-repeat;
}
div.contextmenu > ul > li > a[data-type='delete'] > span {
  background-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-delete.png);
}
div.contextmenu > ul > li > a[data-type='edit'] > span {
  background-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-edit.png);
}
div.contextmenu > ul > li > a[data-type='infos'] > span {
  background-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-infos.png);
}
div.contextmenu > ul > li > a[data-type='newTab'] {
  margin-bottom: 10px;
}
div.contextmenu > ul > li > a[data-type='newTab']::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -5px;
  background: rgba(0, 0, 0, 0.1);
}
div.contextmenu > ul > li > a[data-type='newTab'] > span {
  background-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-newTab.png);
}
div.contextmenu > ul > li > a[data-type='settings'] > span {
  background-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-settings.png);
}
div.contextmenu > ul > li > a[data-type='bookmarkManager'] > span {
  background-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-bookmarkManager.png);
}
div.contextmenu > ul > li > a[data-type='updateUrls'] > span {
  background-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-update.png);
}
div.contextmenu > ul > li > a[data-type='toggleFix'] {
  margin-top: 10px;
}
div.contextmenu > ul > li > a[data-type='toggleFix']::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  left: 0;
  top: -5px;
  background: rgba(0, 0, 0, 0.1);
}
div.contextmenu > ul > li > a[data-type='toggleFix'] > span {
  background-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-pin.png);
}
div.contextmenu > ul > li > a:hover {
  background-color: #f7f7f7;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #666;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body::after {
  content: "Cancel";
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 500%;
  font-weight: 200;
  color: #009688;
  top: 0;
  left: 350px;
  height: 100%;
  width: calc(100% - 700px);
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 5px, rgba(200, 200, 200, 0.3) 5px, rgba(200, 200, 200, 0.3) 10px);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
body.isDragged::after {
  opacity: 1;
}
body.isDragged.dragCancel::after {
  color: rgba(102, 102, 102, 0.8);
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 5px, rgba(255, 170, 170, 0.3) 5px, rgba(255, 170, 170, 0.3) 10px);
}

a {
  color: #666;
  text-decoration: none;
}

ul {
  list-style: none;
}

section#sidebar {
  position: relative;
  width: 350px;
  background: #fff;
  box-shadow: 15px 0 50px rgba(0, 0, 0, 0.15);
}
section#sidebar > header {
  position: relative;
  height: 60px;
  padding: 18px 16px 0 16px;
  background: #fff;
  transition: box-shadow 0.2s;
  z-index: 3;
}
section#sidebar > header > span {
  padding: 4px 0;
  vertical-align: top;
  display: inline-block;
}
section#sidebar > header > span > span {
  display: inline-block;
  vertical-align: top;
  margin: -5px 5px 0 0;
  font-weight: 300;
  font-size: 150%;
  color: #009688;
}
section#sidebar > header > a.settings {
  vertical-align: top;
  display: block;
  width: 48px;
  height: 48px;
  float: right;
  margin: -13px -8px 0 0;
  background: url(chrome-extension://__MSG_@@extension_id__/img/icon-settings.png) no-repeat center;
  background-size: 32px;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}
section#sidebar > header > a.settings:hover, section#sidebar > header > a.settings.active {
  transform: rotateZ(60deg);
  background-color: #f7f7f7;
}

div#bookmarkBox {
  height: calc(100% - 60px);
}
div#bookmarkBox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 12px;
  pointer-events: none;
  box-shadow: inset 0 2px 0 -1px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  z-index: 3;
}
div#bookmarkBox.scrolled::before {
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.3);
}
div#bookmarkBox > ul {
  margin: 12px 0;
}
div#bookmarkBox > ul a {
  display: block;
  line-height: 40px;
  padding: 0 16px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  transition: background 0.3s;
  position: relative;
}
div#bookmarkBox > ul a:hover {
  background: #f7f7f7;
}
div#bookmarkBox > ul a.dir, div#bookmarkBox > ul a.active {
  font-weight: 400;
}
div#bookmarkBox > ul a > img {
  vertical-align: top;
  display: inline-block;
  width: 16px;
  margin: 11px 20px 0 0;
  visibility: hidden;
}
div#bookmarkBox > ul a > img[src] {
  visibility: visible;
}
div#bookmarkBox > ul a > span.drag {
  display: none;
  position: absolute;
  top: 10%;
  right: 15px;
  width: 30px;
  height: 80%;
  background: url(chrome-extension://__MSG_@@extension_id__/img/icon-drag.png) no-repeat;
  background-position: 5px center;
  background-size: 60px 20px;
  border-radius: 2px;
}
div#bookmarkBox > ul a > span.drag:hover {
  background-position: -35px center;
  background-color: #009688;
}
div#bookmarkBox > ul a + ul {
  padding-left: 25px;
  height: 0;
  transition: height 0.5s;
  overflow: hidden;
}
div#bookmarkBox > ul a.opened + ul {
  height: auto;
}
div#bookmarkBox > ul li.isDragged {
  width: calc(100% - 5px);
  border: 3px dashed rgba(0, 0, 0, 0.2);
  pointer-events: none;
}
div#bookmarkBox > ul li.isDragged > a {
  visibility: hidden;
  line-height: 35px;
}
div#bookmarkBox > ul li.dragInitial {
  display: none;
}

a.dragHelper {
  display: block;
  line-height: 40px;
  padding: 0 16px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  text-overflow: ellipsis;
  transition: background 0.3s;
  position: absolute;
  background: #f7f7f7;
  padding-right: 46px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
  transition: none;
  z-index: 3;
}
a.dragHelper:hover {
  background: #f7f7f7;
}
a.dragHelper.dir, a.dragHelper.active {
  font-weight: 400;
}
a.dragHelper > img {
  vertical-align: top;
  display: inline-block;
  width: 16px;
  margin: 11px 20px 0 0;
  visibility: hidden;
}
a.dragHelper > img[src] {
  visibility: visible;
}
a.dragHelper > span.drag {
  display: none;
  position: absolute;
  top: 10%;
  right: 15px;
  width: 30px;
  height: 80%;
  background: url(chrome-extension://__MSG_@@extension_id__/img/icon-drag.png) no-repeat;
  background-position: 5px center;
  background-size: 60px 20px;
  border-radius: 2px;
}
a.dragHelper > span.drag:hover {
  background-position: -35px center;
  background-color: #009688;
}
a.dragHelper > span.drag {
  display: block;
  background-position: -35px center;
  background-color: #009688;
}
a.dragHelper.snap {
  transition: 0.2s;
  box-shadow: none;
  background: #fff;
}

div#shareUserdata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: #009688;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
}
div#shareUserdata.hidden {
  opacity: 0;
  pointer-events: none;
}
div#shareUserdata > div {
  padding: 20px;
  text-align: center;
  color: #fff;
}
div#shareUserdata > div > h2 {
  font-size: 250%;
  font-weight: 300;
  margin-bottom: 50px;
}
div#shareUserdata > div > p {
  font-size: 120%;
  margin: 20px 0;
}
div#shareUserdata > div > p > span {
  text-decoration: underline;
}
div#shareUserdata > div > a {
  font-size: 120%;
  color: #fff;
  display: inline-block;
  margin: 40px 20px 0;
  font-weight: 400;
  padding: 5px 10px;
  transition: background 0.5s;
  border-radius: 2px;
  cursor: pointer;
}
div#shareUserdata > div > a:hover {
  background: rgba(255, 255, 255, 0.2);
}

body.dragCancel div#bookmarkBox > ul li.isDragged {
  display: none;
}
body.entriesUnlocked div#bookmarkBox > ul ul a {
  padding-right: 46px;
}
body.entriesUnlocked div#bookmarkBox > ul ul a > span.drag {
  display: block;
}
body.entriesUnlocked div.contextmenu > ul > li > a[data-type='toggleFix'] > span {
  background: transparent;
}
body.loaded div#bookmarkBox:not(.scrollDrag):not(.scrollTrackpad) > ul {
  transition: transform 0.3s;
}

/*# sourceMappingURL=sidebar.css.map */
