div.contextmenu, div.tooltip, body::after, section#sidebar > header > div.searchBox, section#sidebar > header.searchVisible > a.search, section#sidebar.loading > div.scrollBox, section#sidebar.loading > div.filter, div#shareUserdata.hidden {
  opacity: 0;
  pointer-events: none; }

div.contextmenu.visible, div.tooltip.visible, section#sidebar > header.searchVisible > div.searchBox {
  opacity: 1;
  pointer-events: auto; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

@keyframes dash {
  0% {
    stroke-dashoffset: 100.53096; }
  50% {
    stroke-dashoffset: 25.13274;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 100.53096;
    transform: rotate(450deg); } }

svg.loading {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  animation: rotator 1.5s linear infinite; }
  svg.loading > circle {
    stroke-dasharray: 100.53096;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: "%colorScheme";
    animation: dash 1.5s ease-in-out infinite; }

body.dark svg.loading > circle {
  stroke: "%textColor"; }

div.scrollBox {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  outline: none;
  background-color: #ccc;
  -webkit-background-clip: text;
  transition: background-color 0.3s; }
  div.scrollBox::-webkit-scrollbar {
    width: 11px;
    background: transparent; }
  div.scrollBox::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: inherit; }
  div.scrollBox::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px; }
  div.scrollBox.hideScrollbar {
    background-color: transparent !important; }

body.dark div.scrollBox {
  background-color: #999; }

div.contextmenu {
  position: absolute;
  top: 0;
  min-width: 240px;
  background: #fff;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  transform: translate3d(0, -20px, 0);
  transition: opacity 0.3s, transform 0.3s;
  z-index: 4; }
  div.contextmenu[data-type='list'], div.contextmenu[data-type='separator'] {
    left: -9999px;
    margin: 0 0 0 10px;
    min-width: 260px; }
  div.contextmenu[data-type='menu'] {
    right: -93px;
    margin-top: -2px; }
  div.contextmenu[data-type='sort'] {
    right: -57px;
    margin-top: -2px; }
  div.contextmenu.visible {
    transform: translate3d(0, 0, 0); }
    div.contextmenu.visible.top {
      transform: translate3d(0, -40px, 0); }
  div.contextmenu > ul.icons {
    background: #f4f4f4;
    padding: 4px 2px 6px 2px; }
    div.contextmenu > ul.icons > li {
      display: inline-block; }
      div.contextmenu > ul.icons > li.right {
        float: right; }
      div.contextmenu > ul.icons > li > a {
        position: relative;
        display: block;
        width: 36px;
        height: 36px;
        cursor: pointer;
        border-radius: 50%;
        margin: 0 3px;
        transition: background-color 0.3s; }
        div.contextmenu > ul.icons > li > a::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-mask: no-repeat center/22px;
          background-color: #ccc; }
        div.contextmenu > ul.icons > li > a:hover {
          background-color: #ededed; }
        div.contextmenu > ul.icons > li > a[data-name='delete']::before {
          -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-delete.svg);
          -webkit-mask-size: 20px; }
        div.contextmenu > ul.icons > li > a[data-name='edit']::before {
          -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-edit.svg); }
        div.contextmenu > ul.icons > li > a[data-name='infos']::before {
          -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-info.svg); }
        div.contextmenu > ul.icons > li > a[data-name='add']::before {
          -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-add.svg); }
        div.contextmenu > ul.icons > li > a[data-name='pin']::before {
          -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-pin.svg);
          -webkit-mask-size: 16px; }
        div.contextmenu > ul.icons > li > a[data-name='unpin']::before {
          -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-unpin.svg);
          -webkit-mask-size: 16px; }
        div.contextmenu > ul.icons > li > a[data-name='show']::before {
          -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-show.svg); }
        div.contextmenu > ul.icons > li > a[data-name='hide']::before {
          -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-hide.svg); }
        div.contextmenu > ul.icons > li > a[data-name='settings']::before {
          -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-settings.svg); }
        div.contextmenu > ul.icons > li > a[data-name='bookmarkManager']::before {
          -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-star.svg); }
  div.contextmenu > ul.list > li {
    position: relative; }
    div.contextmenu > ul.list > li > div.checkbox {
      position: absolute;
      z-index: 2;
      top: 13px;
      left: 14px; }
      div.contextmenu > ul.list > li > div.checkbox + a {
        padding-left: 50px; }
        div.contextmenu > ul.list > li > div.checkbox + a::before {
          display: none; }
      div.contextmenu > ul.list > li > div.checkbox:hover + a {
        color: "%colorScheme"; }
    div.contextmenu > ul.list > li > a {
      position: relative;
      display: block;
      line-height: 45px;
      padding: 0 12px 0 42px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
      transition: color 0.3s; }
      div.contextmenu > ul.list > li > a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-mask: no-repeat center/20px;
        background-color: #ccc; }
      div.contextmenu > ul.list > li > a::before {
        -webkit-mask-position: 12px center;
        transition: background-color 0.3s, opacity 0.3s; }
      div.contextmenu > ul.list > li > a:hover {
        color: "%colorScheme"; }
        div.contextmenu > ul.list > li > a:hover::before {
          background-color: "%colorScheme";
          opacity: 0.8; }
      div.contextmenu > ul.list > li > a[data-name='newTab']::before, div.contextmenu > ul.list > li > a[data-name='openChildren']::before {
        -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-newTab.svg); }
      div.contextmenu > ul.list > li > a[data-name='newTabIncognito']::before {
        -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-incognito.svg); }
      div.contextmenu > ul.list > li > a[data-name='deleteSeparator']::before {
        -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-delete.svg); }
      div.contextmenu > ul.list > li > a[data-name='updateUrls']::before {
        -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-update.svg); }
      div.contextmenu > ul.list > li > a[data-name='showInDir']::before {
        -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-showInDir.svg); }

section#sidebar[data-pos='right'] div.contextmenu[data-type='menu'], section#sidebar[data-pos='right'] div.contextmenu[data-type='sort'] {
  right: 0; }

body.dark div.contextmenu {
  background: #555; }
  body.dark div.contextmenu > ul.list > li > a {
    transition: opacity 0.3s;
    opacity: 0.7; }
    body.dark div.contextmenu > ul.list > li > a::before {
      background-color: #999; }
    body.dark div.contextmenu > ul.list > li > a:hover {
      color: "%textColor";
      opacity: 1; }
      body.dark div.contextmenu > ul.list > li > a:hover::before {
        background-color: "%textColor";
        opacity: 0.8; }
  body.dark div.contextmenu > ul.icons {
    background: #5d5d5d; }
    body.dark div.contextmenu > ul.icons > li > a::before {
      background-color: #999; }
    body.dark div.contextmenu > ul.icons > li > a:hover {
      background-color: dimgray; }

div.tooltip {
  position: absolute;
  background: #444;
  border-radius: 2px;
  color: #fff;
  padding: 2px 4px 3px;
  max-width: 300px;
  font-size: 70%;
  z-index: 2;
  transform: translate3d(-5px, 0, 0);
  transition: opacity 0.3s, transform 0.3s; }
  div.tooltip.visible {
    transform: translate3d(0, 0, 0) !important; }
  div.tooltip::before {
    content: "";
    position: absolute;
    top: calc(50% - 6px);
    left: -12px;
    border: 6px solid transparent;
    border-right-color: #444; }
  div.tooltip > h3 {
    font-weight: "%fontWeightNormal"; }
  div.tooltip > span {
    opacity: 0.7;
    word-wrap: break-word; }

body.dark div.tooltip {
  color: #eee;
  background: #222; }
  body.dark div.tooltip::before {
    border-right-color: #222; }

section#sidebar[data-pos='right'] ~ div.tooltip {
  transform: translate3d(5px, 0, 0); }
  section#sidebar[data-pos='right'] ~ div.tooltip::before {
    left: auto;
    right: -12px;
    border-right-color: transparent;
    border-left-color: #444; }

div.checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer; }
  div.checkbox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask: no-repeat center/22px;
    background-color: "%textColor"; }
  div.checkbox::before {
    transition: -webkit-mask 0.3s, background-color 0.3s; }
  div.checkbox[data-type='checkbox']::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-checkbox-inactive.svg); }
  div.checkbox[data-type='radio']::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-radio-inactive.svg); }
  div.checkbox::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 1px);
    width: 2px;
    height: 2px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    transition: background 0.2s, box-shadow 0.2s, opacity 0.5s;
    opacity: 0.2; }
  div.checkbox.focus::after, div.checkbox.clicked::after {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.5); }
  div.checkbox.clicked::after {
    opacity: 0; }
  div.checkbox.active::before {
    background-color: "%colorScheme"; }
  div.checkbox.active[data-type='checkbox']::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-checkbox.svg); }
  div.checkbox.active[data-type='radio']::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-radio.svg); }
  div.checkbox.active::after {
    box-shadow: 0 0 0 0 "%colorScheme"; }
  div.checkbox.active.focus::after, div.checkbox.active.clicked::after {
    background: "%colorScheme";
    box-shadow: 0 0 0 20px "%colorScheme"; }
  div.checkbox > input[type='checkbox'] {
    display: none; }

body.dark div.checkbox::after {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5); }

body.dark div.checkbox.focus::after, body.dark div.checkbox.clicked::after {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.5); }

body.dark div.checkbox.active::before {
  background-color: "%textColor"; }

body.dark div.checkbox.active::after {
  box-shadow: 0 0 0 0 "%textColor"; }

body.dark div.checkbox.active.focus::after, body.dark div.checkbox.active.clicked::after {
  background: "%textColor";
  box-shadow: 0 0 0 20px "%textColor"; }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

body, input, textarea, select, button {
  font-size: 14px;
  font-family: "%fontFamily", sans-serif;
  color: "%textColor";
  font-weight: "%fontWeightNormal"; }

ul {
  list-style: none; }

strong {
  font-weight: "%fontWeightBold"; }

a {
  color: "%textColor";
  text-decoration: none; }

body {
  width: 100%;
  height: 100%;
  overflow: hidden; }
  body::after {
    content: attr(data-dragCancel);
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 500%;
    font-weight: "%fontWeightExtraLight";
    color: "%colorScheme";
    top: 0;
    left: "%sidebarWidth";
    height: 100%;
    width: calc(100% - %sidebarWidth - %sidebarWidth);
    background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 5px, rgba(200, 200, 200, 0.3) 5px, rgba(200, 200, 200, 0.3) 10px);
    transition: 0.5s; }
  body.isDragged::after {
    opacity: 1; }
  body.isDragged.dragCancel::after {
    color: rgba(102, 102, 102, 0.8);
    background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 5px, rgba(255, 153, 153, 0.3) 5px, rgba(255, 153, 153, 0.3) 10px); }
  body.noAnimations *, body.noAnimations *::before, body.noAnimations *::after {
    transition: none !important; }
  body.dark::after {
    color: "%textColor";
    background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 5px, rgba(0, 0, 0, 0.2) 5px, rgba(0, 0, 0, 0.2) 10px); }
  body.dark.isDragged.dragCancel::after {
    color: #f99;
    background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 5px, rgba(0, 0, 0, 0.2) 5px, rgba(0, 0, 0, 0.2) 10px); }

body > textarea {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  z-index: -1; }

a.dragHelper {
  display: flex;
  align-items: center;
  font-size: "%bookmarksFontSize";
  line-height: "%bookmarksLineHeight";
  padding: 0 "%bookmarksHorizontalPadding";
  white-space: nowrap;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  position: absolute;
  background: #f5f5f5;
  padding-right: 46px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
  transition: none;
  z-index: 3; }
  a.dragHelper.hover:not(.separator) {
    background: #f5f5f5; }
  a.dragHelper.dragHover {
    background: #f5f5f5; }
  a.dragHelper.mark {
    background: "%colorScheme";
    color: #fff; }
  a.dragHelper.active {
    font-weight: "%fontWeightMedium"; }
  a.dragHelper.dir {
    font-weight: "%fontWeightBold"; }
  a.dragHelper.separator {
    height: "%bookmarksLineHeight";
    cursor: default; }
    a.dragHelper.separator > span.label {
      position: relative;
      width: 100%;
      height: 100%; }
      a.dragHelper.separator > span.label::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.15); }
  a.dragHelper > span.copied {
    position: absolute;
    top: -20px;
    left: calc(%bookmarksIconSize + %bookmarksHorizontalPadding + 10px);
    background: #5eba7d;
    color: #fff;
    font-size: 80%;
    font-weight: "%fontWeightBold";
    line-height: normal;
    padding: 3px 5px;
    pointer-events: none;
    opacity: 0;
    transform: translate3d(0, 5px, 0);
    transition: opacity 0.3s, transform 0.3s; }
    a.dragHelper > span.copied::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: calc(50% - 5px);
      border: 5px solid transparent;
      border-top-color: #5eba7d; }
  a.dragHelper.copied {
    background: rgba(94, 186, 125, 0.2) !important; }
    a.dragHelper.copied > span.copied {
      opacity: 1;
      transform: translate3d(0, 0, 0); }
  a.dragHelper > img, a.dragHelper > span.icon {
    position: relative;
    display: inline-block;
    width: "%bookmarksIconSize";
    height: "%bookmarksIconSize";
    margin: 0 "%bookmarksHorizontalPadding" 0 0;
    pointer-events: none;
    flex-shrink: 0; }
  a.dragHelper > img {
    visibility: hidden; }
    a.dragHelper > img[src] {
      visibility: visible; }
  a.dragHelper.dir > span.icon {
    width: "%directoriesIconSize";
    height: "%directoriesIconSize"; }
    a.dragHelper.dir > span.icon::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/"%directoriesIconSize";
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-%bookmarksDirIcon.svg);
      background-color: "%bookmarksDirColor"; }
  a.dragHelper.link > span.icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask: no-repeat center/"%bookmarksIconSize";
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-demo.svg);
    background-color: transparent; }
  a.dragHelper.link > span.icon[data-color='1']::before {
    background-color: #37bf99; }
  a.dragHelper.link > span.icon[data-color='2']::before {
    background-color: #d737d5; }
  a.dragHelper.link > span.icon[data-color='3']::before {
    background-color: #3e6bf2; }
  a.dragHelper.link > span.icon[data-color='4']::before {
    background-color: #f4572f; }
  a.dragHelper.link > span.icon[data-color='5']::before {
    background-color: #f74b58; }
  a.dragHelper.link > span.icon[data-color='6']::before {
    background-color: #f5a2bf; }
  a.dragHelper.link > span.icon[data-color='7']::before {
    background-color: #1a90ba; }
  a.dragHelper.link > span.icon[data-color='8']::before {
    background-color: #b4bd0e; }
  a.dragHelper.link > span.icon[data-color='9']::before {
    background-color: #fdde32; }
  a.dragHelper.link > span.icon[data-color='10']::before {
    background-color: #8ccbce; }
  a.dragHelper > span.label {
    text-overflow: ellipsis;
    overflow: hidden;
    pointer-events: none; }
    a.dragHelper > span.label[data-num]::after {
      content: " " attr(data-num); }
  a.dragHelper > span.drag {
    display: none;
    position: absolute;
    top: calc(50% - 12px);
    right: 15px;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.5s; }
    a.dragHelper > span.drag::before {
      transition: inherit; }
    a.dragHelper > span.drag:hover {
      background-color: rgba(0, 0, 0, 0.1); }
  a.dragHelper > span.drag {
    display: block;
    background-color: rgba(0, 0, 0, 0.1); }
    a.dragHelper > span.drag::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/18px;
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-reorder.svg);
      background-color: #999; }
  a.dragHelper.snap {
    transition: 0.2s;
    box-shadow: none;
    background: #fff; }

section#sidebar {
  position: relative;
  width: "%sidebarWidth";
  background: #fff;
  box-shadow: 15px 0 50px rgba(0, 0, 0, 0.15);
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
  z-index: 2; }
  section#sidebar[data-pos='right'] {
    float: right;
    box-shadow: -15px 0 50px rgba(0, 0, 0, 0.15); }
  section#sidebar > header {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 5px 12px 0 12px;
    background: "%colorScheme";
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    flex-shrink: 0;
    z-index: 3; }
    section#sidebar > header > h1 {
      display: inline-block;
      color: #fff;
      font-weight: "%fontWeightNormal";
      font-size: 100%;
      margin: 5px 0 0 0;
      transition: transform 0.5s; }
      section#sidebar > header > h1 > strong {
        font-weight: "%fontWeightLight";
        font-size: 150%; }
      section#sidebar > header > h1 > span {
        opacity: 0.7;
        font-size: 90%;
        display: inline-block;
        margin: 0 0 0 3px; }
        section#sidebar > header > h1 > span.hidden {
          display: none; }
    section#sidebar > header > a {
      position: relative;
      vertical-align: top;
      display: block;
      width: 36px;
      height: 36px;
      float: right;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s, opacity 0.5s; }
      section#sidebar > header > a::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-mask: no-repeat center/22px;
        background-color: #fff; }
      section#sidebar > header > a:hover, section#sidebar > header > a.active {
        background-color: rgba(255, 255, 255, 0.2); }
      section#sidebar > header > a.menu {
        margin-right: -2px; }
    section#sidebar > header > div.searchBox {
      position: absolute;
      top: 10px;
      left: 16px;
      width: calc(100% - 105px);
      height: 30px;
      background-color: rgba(255, 255, 255, 0.2);
      transform: translate3d(20px, 0, 0);
      transition: transform 0.3s, opacity 0.3s; }
      section#sidebar > header > div.searchBox > input[type='text'] {
        vertical-align: top;
        display: inline-block;
        height: 100%;
        width: calc(100% - 30px);
        outline: none;
        border: 0;
        background: transparent;
        color: #fff;
        padding: 0 7px; }
        section#sidebar > header > div.searchBox > input[type='text']::-webkit-input-placeholder {
          color: #fff;
          opacity: 0.7; }
      section#sidebar > header > div.searchBox > a.searchClose {
        position: relative;
        vertical-align: top;
        display: inline-block;
        height: 30px;
        width: 30px;
        cursor: pointer;
        transition: background-color 0.3s; }
        section#sidebar > header > div.searchBox > a.searchClose:hover {
          background-color: rgba(255, 255, 255, 0.2); }
    section#sidebar > header.searchVisible > h1 {
      transform: translate3d(-200%, 0, 0);
      pointer-events: none;
      transition: transform 0.5s; }
    section#sidebar > header.searchVisible > div.searchBox {
      transform: translate3d(0, 0, 0);
      transition: transform 0.5s 0.1s, opacity 0.5s 0.1s; }
  section#sidebar > div.filter {
    position: absolute;
    top: 50px;
    left: 11px;
    width: calc(100% - 22px);
    background: #f5f5f5;
    padding: 10px "%bookmarksHorizontalPadding" 5px;
    border-radius: 0 0 5px 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 2; }
    section#sidebar > div.filter.hidden {
      display: none; }
    section#sidebar > div.filter > a[data-direction] {
      position: relative;
      display: inline-block;
      cursor: pointer;
      margin: 0 10px 5px 0;
      padding-left: 18px; }
      section#sidebar > div.filter > a[data-direction]::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-mask: no-repeat center/24px;
        -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-arrow-up.svg);
        background-color: "%textColor"; }
      section#sidebar > div.filter > a[data-direction]::before {
        width: 14px;
        height: 14px;
        margin: 1px 0 0 0;
        transition: transform 0.5s; }
      section#sidebar > div.filter > a[data-direction][data-direction="DESC"]::before {
        transform: rotateZ(180deg); }
    section#sidebar > div.filter > ul {
      float: right;
      margin-bottom: 5px; }
      section#sidebar > div.filter > ul > li {
        position: relative; }
        section#sidebar > div.filter > ul > li + li {
          margin-top: 5px; }
        section#sidebar > div.filter > ul > li > div.checkbox {
          position: absolute;
          z-index: 2;
          width: 16px;
          height: 16px;
          top: 0;
          left: 0; }
          section#sidebar > div.filter > ul > li > div.checkbox::before {
            -webkit-mask-size: 18px; }
          section#sidebar > div.filter > ul > li > div.checkbox + a {
            padding-left: 22px;
            cursor: pointer; }
            section#sidebar > div.filter > ul > li > div.checkbox + a::before {
              display: none; }
    section#sidebar > div.filter::after {
      content: "";
      display: block;
      clear: both; }
  section#sidebar > div.scrollBox {
    display: none; }
    section#sidebar > div.scrollBox.active {
      display: block; }
    section#sidebar > div.scrollBox > p {
      font-size: 120%;
      padding: 30px 20px;
      font-style: italic;
      max-width: 350px;
      margin: 0 auto; }
    section#sidebar > div.scrollBox.scrolled ~ div.filter {
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }
    section#sidebar > div.scrollBox.scrolled:not([data-direction='up']) ~ div.filter {
      transform: translate3d(0, -100%, 0);
      box-shadow: none; }
    section#sidebar > div.scrollBox > ul {
      position: relative;
      margin: 9px 0;
      z-index: 1; }
      section#sidebar > div.scrollBox > ul a {
        display: flex;
        align-items: center;
        font-size: "%bookmarksFontSize";
        line-height: "%bookmarksLineHeight";
        padding: 0 "%bookmarksHorizontalPadding";
        white-space: nowrap;
        cursor: pointer;
        transition: background 0.3s, color 0.3s;
        position: relative; }
        section#sidebar > div.scrollBox > ul a.hover:not(.separator) {
          background: #f5f5f5; }
        section#sidebar > div.scrollBox > ul a.dragHover {
          background: #f5f5f5; }
        section#sidebar > div.scrollBox > ul a.mark {
          background: "%colorScheme";
          color: #fff; }
        section#sidebar > div.scrollBox > ul a.active {
          font-weight: "%fontWeightMedium"; }
        section#sidebar > div.scrollBox > ul a.dir {
          font-weight: "%fontWeightBold"; }
        section#sidebar > div.scrollBox > ul a.separator {
          height: "%bookmarksLineHeight";
          cursor: default; }
          section#sidebar > div.scrollBox > ul a.separator > span.label {
            position: relative;
            width: 100%;
            height: 100%; }
            section#sidebar > div.scrollBox > ul a.separator > span.label::after {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              width: 100%;
              height: 1px;
              background: rgba(0, 0, 0, 0.15); }
        section#sidebar > div.scrollBox > ul a > span.copied {
          position: absolute;
          top: -20px;
          left: calc(%bookmarksIconSize + %bookmarksHorizontalPadding + 10px);
          background: #5eba7d;
          color: #fff;
          font-size: 80%;
          font-weight: "%fontWeightBold";
          line-height: normal;
          padding: 3px 5px;
          pointer-events: none;
          opacity: 0;
          transform: translate3d(0, 5px, 0);
          transition: opacity 0.3s, transform 0.3s; }
          section#sidebar > div.scrollBox > ul a > span.copied::after {
            content: "";
            position: absolute;
            bottom: -10px;
            left: calc(50% - 5px);
            border: 5px solid transparent;
            border-top-color: #5eba7d; }
        section#sidebar > div.scrollBox > ul a.copied {
          background: rgba(94, 186, 125, 0.2) !important; }
          section#sidebar > div.scrollBox > ul a.copied > span.copied {
            opacity: 1;
            transform: translate3d(0, 0, 0); }
        section#sidebar > div.scrollBox > ul a > img, section#sidebar > div.scrollBox > ul a > span.icon {
          position: relative;
          display: inline-block;
          width: "%bookmarksIconSize";
          height: "%bookmarksIconSize";
          margin: 0 "%bookmarksHorizontalPadding" 0 0;
          pointer-events: none;
          flex-shrink: 0; }
        section#sidebar > div.scrollBox > ul a > img {
          visibility: hidden; }
          section#sidebar > div.scrollBox > ul a > img[src] {
            visibility: visible; }
        section#sidebar > div.scrollBox > ul a.dir > span.icon {
          width: "%directoriesIconSize";
          height: "%directoriesIconSize"; }
          section#sidebar > div.scrollBox > ul a.dir > span.icon::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-mask: no-repeat center/"%directoriesIconSize";
            -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-%bookmarksDirIcon.svg);
            background-color: "%bookmarksDirColor"; }
        section#sidebar > div.scrollBox > ul a.link > span.icon::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-mask: no-repeat center/"%bookmarksIconSize";
          -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-demo.svg);
          background-color: transparent; }
        section#sidebar > div.scrollBox > ul a.link > span.icon[data-color='1']::before {
          background-color: #37bf99; }
        section#sidebar > div.scrollBox > ul a.link > span.icon[data-color='2']::before {
          background-color: #d737d5; }
        section#sidebar > div.scrollBox > ul a.link > span.icon[data-color='3']::before {
          background-color: #3e6bf2; }
        section#sidebar > div.scrollBox > ul a.link > span.icon[data-color='4']::before {
          background-color: #f4572f; }
        section#sidebar > div.scrollBox > ul a.link > span.icon[data-color='5']::before {
          background-color: #f74b58; }
        section#sidebar > div.scrollBox > ul a.link > span.icon[data-color='6']::before {
          background-color: #f5a2bf; }
        section#sidebar > div.scrollBox > ul a.link > span.icon[data-color='7']::before {
          background-color: #1a90ba; }
        section#sidebar > div.scrollBox > ul a.link > span.icon[data-color='8']::before {
          background-color: #b4bd0e; }
        section#sidebar > div.scrollBox > ul a.link > span.icon[data-color='9']::before {
          background-color: #fdde32; }
        section#sidebar > div.scrollBox > ul a.link > span.icon[data-color='10']::before {
          background-color: #8ccbce; }
        section#sidebar > div.scrollBox > ul a > span.label {
          text-overflow: ellipsis;
          overflow: hidden;
          pointer-events: none; }
          section#sidebar > div.scrollBox > ul a > span.label[data-num]::after {
            content: " " attr(data-num); }
        section#sidebar > div.scrollBox > ul a > span.drag {
          display: none;
          position: absolute;
          top: calc(50% - 12px);
          right: 15px;
          width: 24px;
          height: 24px;
          border-radius: 2px;
          cursor: pointer;
          transition: background-color 0.5s; }
          section#sidebar > div.scrollBox > ul a > span.drag::before {
            transition: inherit; }
          section#sidebar > div.scrollBox > ul a > span.drag:hover {
            background-color: rgba(0, 0, 0, 0.1); }
        section#sidebar > div.scrollBox > ul a + ul {
          padding-left: "%bookmarksDirIndentation";
          height: 0;
          overflow: hidden; }
        section#sidebar > div.scrollBox > ul a.opened + ul {
          height: auto; }
        section#sidebar > div.scrollBox > ul a.opened:not(.animated) + ul {
          overflow: visible; }
      section#sidebar > div.scrollBox > ul > li.pinned + li:not(.pinned) {
        margin-top: 7px;
        padding-top: 7px;
        border-top: 1px solid rgba(0, 0, 0, 0.15); }
      section#sidebar > div.scrollBox > ul li {
        position: relative; }
        section#sidebar > div.scrollBox > ul li.hidden > a {
          opacity: 0.3;
          font-style: italic; }
          section#sidebar > div.scrollBox > ul li.hidden > a:hover, section#sidebar > div.scrollBox > ul li.hidden > a.active {
            opacity: 0.5; }
        section#sidebar > div.scrollBox > ul li.isDragged {
          width: calc(100% - 5px);
          border: 3px dashed rgba(0, 0, 0, 0.2);
          pointer-events: none; }
          section#sidebar > div.scrollBox > ul li.isDragged > a {
            visibility: hidden;
            line-height: calc(%bookmarksLineHeight - 6px); }
            section#sidebar > div.scrollBox > ul li.isDragged > a > img {
              visibility: hidden; }
        section#sidebar > div.scrollBox > ul li.dragInitial {
          display: none; }
      section#sidebar > div.scrollBox > ul.hideRoot > li:not(.pinned) > a {
        display: none; }
      section#sidebar > div.scrollBox > ul.hideRoot > li:not(.pinned) > ul {
        padding-left: 0; }
  section#sidebar.openedOnce > header > a.search::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-search.svg); }
  section#sidebar.openedOnce > header > a.sort::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-sort.svg); }
  section#sidebar.openedOnce > header > a.menu::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-menu-1.svg); }
  section#sidebar.openedOnce > header > div.searchBox > a.searchClose::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask: no-repeat center/18px;
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-close.svg);
    background-color: #fff; }
  section#sidebar.openedOnce > div.scrollBox > ul a > span.drag::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask: no-repeat center/18px;
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-reorder.svg);
    background-color: #ccc; }
  section#sidebar.openedOnce > div.scrollBox > ul a > span.drag:hover::before {
    background-color: #999; }
  section#sidebar.entriesUnlocked[data-sort='custom'] > div.scrollBox > ul > li.pinned > a > span.drag {
    display: block; }
  section#sidebar.entriesUnlocked[data-sort='custom'] > div.scrollBox > ul ul a {
    padding-right: 46px; }
    section#sidebar.entriesUnlocked[data-sort='custom'] > div.scrollBox > ul ul a > span.drag {
      display: block; }
  section#sidebar.loading > svg.loading {
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 18px); }

body.dark section#sidebar {
  background: #444; }
  body.dark section#sidebar > div.filter {
    background: #555; }
  body.dark section#sidebar > div.scrollBox > ul li.isDragged {
    width: calc(100% - 5px);
    border-color: rgba(255, 255, 255, 0.2); }
  body.dark section#sidebar > div.scrollBox > ul > li.pinned + li:not(.pinned) {
    border-top: 1px solid rgba(255, 255, 255, 0.15); }
  body.dark section#sidebar > div.scrollBox > ul a.hover:not(.separator) {
    background: #555; }
  body.dark section#sidebar > div.scrollBox > ul a.separator > span.label::after {
    background: rgba(255, 255, 255, 0.15); }
  body.dark section#sidebar > div.scrollBox > ul a > span.drag::before {
    background-color: #999; }
  body.dark section#sidebar > div.scrollBox > ul a > span.drag:hover {
    background-color: rgba(255, 255, 255, 0.1); }
    body.dark section#sidebar > div.scrollBox > ul a > span.drag:hover::before {
      background-color: #ccc; }
  body.dark section#sidebar > div.scrollBox > ul a.hover:not(.separator) {
    background: #555; }
  body.dark section#sidebar > div.scrollBox > ul a > span.drag::before {
    background-color: #999; }
  body.dark section#sidebar > div.scrollBox > ul a > span.drag:hover {
    background-color: rgba(255, 255, 255, 0.1); }
    body.dark section#sidebar > div.scrollBox > ul a > span.drag:hover::before {
      background-color: #ccc; }
  body.dark section#sidebar ~ a.dragHelper {
    background: #555; }
    body.dark section#sidebar ~ a.dragHelper.hover:not(.separator) {
      background: #555; }
    body.dark section#sidebar ~ a.dragHelper.separator > span.label::after {
      background: rgba(255, 255, 255, 0.15); }
    body.dark section#sidebar ~ a.dragHelper > span.drag::before {
      background-color: #999; }
    body.dark section#sidebar ~ a.dragHelper > span.drag:hover {
      background-color: rgba(255, 255, 255, 0.1); }
      body.dark section#sidebar ~ a.dragHelper > span.drag:hover::before {
        background-color: #ccc; }

body.ee section#sidebar > header {
  background: linear-gradient(45deg, #7b5fa4 0%, #2b35c8 100%); }

div#shareUserdata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: "%colorScheme";
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s; }
  div#shareUserdata > div {
    padding: 20px;
    text-align: center;
    color: #fff; }
    div#shareUserdata > div > h2 {
      font-size: 250%;
      font-weight: "%fontWeightNormal";
      margin-bottom: 50px; }
    div#shareUserdata > div > p {
      font-size: 120%;
      margin: 20px 0; }
      div#shareUserdata > div > p > strong {
        text-decoration: underline; }
    div#shareUserdata > div > a {
      font-size: 120%;
      color: #fff;
      display: inline-block;
      margin: 40px 20px 0;
      font-weight: "%fontWeightBold";
      padding: 5px 10px;
      transition: background 0.5s;
      border-radius: 2px;
      cursor: pointer; }
      div#shareUserdata > div > a:hover {
        background: rgba(255, 255, 255, 0.2); }

body.dragCancel section#sidebar > div.scrollBox > ul li.isDragged {
  display: none; }

/*# sourceMappingURL=sidebar.css.map */