body::before, body::after {
  opacity: 0;
  pointer-events: none; }

body.success::before, body.success::after, body.initLoading::before, body.loading::before {
  opacity: 1;
  pointer-events: auto; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

@keyframes dash {
  0% {
    stroke-dashoffset: 100.53096; }
  50% {
    stroke-dashoffset: 25.13274;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 100.53096;
    transform: rotate(450deg); } }

svg.loading {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  animation: rotator 1.5s linear infinite; }
  svg.loading > circle {
    stroke-dasharray: 100.53096;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: #7b5fa4;
    animation: dash 1.5s ease-in-out infinite; }

body.dark svg.loading > circle {
  stroke: #666; }

div.checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer; }
  div.checkbox::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask: no-repeat center/22px;
    background-color: #666; }
  div.checkbox::before {
    transition: -webkit-mask 0.3s, background-color 0.3s; }
  div.checkbox[data-type='checkbox']::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-checkbox-inactive.svg); }
  div.checkbox[data-type='radio']::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-radio-inactive.svg); }
  div.checkbox::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 1px);
    width: 2px;
    height: 2px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    transition: background 0.2s, box-shadow 0.2s, opacity 0.5s;
    opacity: 0.2; }
  div.checkbox.focus::after, div.checkbox.clicked::after {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.5); }
  div.checkbox.clicked::after {
    opacity: 0; }
  div.checkbox.active::before {
    background-color: #7b5fa4; }
  div.checkbox.active[data-type='checkbox']::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-checkbox.svg); }
  div.checkbox.active[data-type='radio']::before {
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-radio.svg); }
  div.checkbox.active::after {
    box-shadow: 0 0 0 0 #7b5fa4; }
  div.checkbox.active.focus::after, div.checkbox.active.clicked::after {
    background: #7b5fa4;
    box-shadow: 0 0 0 20px #7b5fa4; }
  div.checkbox > input[type='checkbox'] {
    display: none; }

body.dark div.checkbox::after {
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5); }

body.dark div.checkbox.focus::after, body.dark div.checkbox.clicked::after {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.5); }

body.dark div.checkbox.active::before {
  background-color: #666; }

body.dark div.checkbox.active::after {
  box-shadow: 0 0 0 0 #666; }

body.dark div.checkbox.active.focus::after, body.dark div.checkbox.active.clicked::after {
  background: #666;
  box-shadow: 0 0 0 20px #666; }

.color-picker {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background: #fff;
  padding: 10px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3); }
  .color-picker > input[type='range'] {
    margin: 10px 0 0 0;
    background: none;
    background-image: url(chrome-extension://__MSG_@@extension_id__/img/settings/alpha.webp);
    cursor: ew-resize; }
    .color-picker > input[type='range']::-webkit-slider-runnable-track {
      background: transparent;
      height: 100%;
      z-index: 1; }
    .color-picker > input[type='range']::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: calc(100% + 4px);
      width: 4px;
      margin: -2px 0;
      background: #fff;
      border-radius: 0;
      border: 1px solid #000; }
  .color-picker > div {
    display: flex;
    flex-direction: row-reverse; }
    .color-picker > div i {
      display: block;
      position: absolute; }
    .color-picker > div > .color-picker-h {
      position: relative;
      width: 20px;
      height: 150px;
      cursor: ns-resize;
      background-image: linear-gradient(to top, red 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, red 100%);
      background-size: 100% 100%; }
      .color-picker > div > .color-picker-h i {
        top: 0;
        left: -2px;
        right: -2px;
        height: 4px;
        background: #fff;
        border: 1px solid #000; }
    .color-picker > div > .color-picker-sv {
      position: relative;
      width: 150px;
      height: 150px;
      margin-right: 10px;
      background-image: linear-gradient(to top, #000, transparent), linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
      background-size: 100% 100%;
      cursor: crosshair; }
      .color-picker > div > .color-picker-sv i {
        color: #000;
        top: -4px;
        right: -4px;
        z-index: 3;
        width: 8px;
        height: 8px; }
        .color-picker > div > .color-picker-sv i::after, .color-picker > div > .color-picker-sv i::before {
          content: "";
          position: absolute;
          display: block;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border: 1px solid;
          border-color: inherit;
          border-radius: 100%; }
        .color-picker > div > .color-picker-sv i::before {
          top: -1px;
          right: -1px;
          bottom: -1px;
          left: -1px;
          border-color: #fff; }

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

body, input, textarea, select, button {
  font-size: 14px;
  font-family: "%fontFamily", sans-serif;
  color: #666;
  font-weight: "%fontWeightNormal"; }

ul {
  list-style: none; }

strong {
  font-weight: "%fontWeightBold"; }

a {
  color: #666;
  text-decoration: none; }

body {
  background: #f2f2f2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

body > header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: url(chrome-extension://__MSG_@@extension_id__/img/icon/icon.webp), linear-gradient(45deg, #7b5fa4 0%, #2b35c8 100%);
  background-repeat: no-repeat;
  background-size: 40px, 100%;
  background-position: 30px center, 0 0;
  box-shadow: inset 0 -12px 15px -10px rgba(0, 0, 0, 0.5); }
  body > header > svg {
    position: absolute;
    top: calc(50% - 13px);
    left: 70px;
    width: 26px;
    height: 26px;
    stroke: rgba(255, 255, 255, 0.5);
    fill: none; }

h2 {
  font-size: 180%;
  font-weight: "%fontWeightLight";
  color: #666; }

h3 {
  font-size: 180%;
  font-weight: "%fontWeightNormal";
  color: #7b5fa4;
  margin: 0 0 30px 0; }
  h3:not(:first-of-type) {
    padding: 30px 0 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }

section#content {
  position: relative;
  width: 100%;
  margin-top: 50px;
  height: calc(100vh - 50px);
  padding: 40px 0 25px; }
  section#content > div {
    position: relative;
    height: 100%;
    background: #fff;
    max-width: 850px;
    margin: 0 auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 4; }
    section#content > div > header {
      position: relative;
      padding: 8px 20px;
      height: 45px;
      box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.2);
      z-index: 2; }
      section#content > div > header > h2 {
        display: inline-block; }
      section#content > div > header > button {
        position: relative;
        display: inline-block;
        border: 0;
        outline: 0;
        cursor: pointer;
        float: right; }
        section#content > div > header > button.save {
          background: linear-gradient(45deg, #7b5fa4 0%, #2b35c8 100%);
          color: #fff;
          padding: 5px 10px;
          font-size: 110%; }
        section#content > div > header > button.restore {
          background: transparent;
          margin: 3px 15px 0;
          width: 24px;
          height: 24px; }
          section#content > div > header > button.restore::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            -webkit-mask: no-repeat center/24px;
            -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-update.svg);
            background-color: #aaa; }
        section#content > div > header > button.hidden {
          display: none; }
    section#content > div > div.scrollBox {
      height: calc(100% - 50px); }
      section#content > div > div.scrollBox > div {
        background: #fff;
        min-height: 100%;
        padding: 20px; }
  section#content hr {
    margin: 30px 0;
    background: rgba(0, 0, 0, 0.1);
    height: 1px;
    border: none; }

body > footer {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  font-size: 90%; }
  body > footer > a#copyright > strong {
    transition: color 0.5s; }
  body > footer > a#copyright:hover > strong {
    color: #2b35c8; }

body::before, body::after {
  position: fixed; }

body::after {
  content: attr(data-successtext);
  top: 50px;
  left: calc(50% - 300px);
  width: 600px;
  padding: 40px;
  text-align: center;
  font-size: 140%;
  color: #fff;
  background: #5eba7d;
  transform: translate3d(0, -50px, 0);
  transition: opacity 0.5s, transform 0.5s;
  z-index: 99; }

body::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  transition: opacity 0.3s;
  z-index: 98; }

body.success::after {
  transform: translate3d(0, 0, 0); }

body.loading > svg.loading {
  position: fixed;
  top: calc(50% - 18px);
  left: calc(50% - 18px);
  z-index: 99; }

div.scrollBox {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  outline: none;
  background-color: #ccc;
  -webkit-background-clip: text;
  transition: background-color 0.3s; }
  div.scrollBox::-webkit-scrollbar {
    width: 11px;
    background: transparent; }
  div.scrollBox::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: inherit; }
  div.scrollBox::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 20px; }
  div.scrollBox.hideScrollbar {
    background-color: transparent !important; }

body.dark div.scrollBox {
  background-color: #999; }

body > header > svg {
  stroke: none;
  fill: rgba(255, 255, 255, 0.4); }

section#content > a.back {
  position: absolute;
  top: 10px;
  left: 40px;
  font-size: 120%;
  color: #aaa;
  padding: 10px 12px 10px 20px; }
  section#content > a.back::before {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    width: 12px;
    height: 12px;
    border-top: 2px solid #aaa;
    border-left: 2px solid #aaa;
    transform: rotateZ(-45deg); }
  section#content > a.back.hidden {
    display: none; }

section#content > div.hidden {
  display: none; }

section#content > div[data-name='overview'] > div.scrollBox > div > p {
  font-size: 120%;
  line-height: 170%;
  margin: 0 0 20px 0; }

section#content > div[data-name='overview'] > div.scrollBox > div > span.progressLabel {
  display: block;
  text-align: right;
  font-size: 120%;
  font-weight: "%fontWeightNormal";
  color: #aaa; }

section#content > div[data-name='overview'] > div.scrollBox > div > ul > li {
  position: relative;
  padding: 15px 0;
  border-bottom: 1px solid #f2f2f2; }
  section#content > div[data-name='overview'] > div.scrollBox > div > ul > li > strong {
    display: inline-block;
    vertical-align: top;
    margin: 3px 0 0 0;
    font-size: 120%;
    font-weight: "%fontWeightNormal"; }
  section#content > div[data-name='overview'] > div.scrollBox > div > ul > li > a.edit {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    margin: -3px 0 0 7px;
    border-radius: 50%;
    transition: background 0.5s; }
    section#content > div[data-name='overview'] > div.scrollBox > div > ul > li > a.edit::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/20px;
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-edit.svg);
      background-color: #7b5fa4; }
    section#content > div[data-name='overview'] > div.scrollBox > div > ul > li > a.edit:hover {
      background: rgba(0, 0, 0, 0.1); }
  section#content > div[data-name='overview'] > div.scrollBox > div > ul > li > svg.progress {
    position: absolute;
    top: calc(50% - 16px);
    right: 0; }
    section#content > div[data-name='overview'] > div.scrollBox > div > ul > li > svg.progress > circle {
      fill: transparent;
      stroke-width: 3px;
      transform: rotateZ(-90deg);
      transform-origin: 16px 16px;
      stroke: rgba(0, 0, 0, 0.1); }
      section#content > div[data-name='overview'] > div.scrollBox > div > ul > li > svg.progress > circle + circle {
        stroke: #7b5fa4; }
  section#content > div[data-name='overview'] > div.scrollBox > div > ul > li > span.progress {
    display: block;
    position: absolute;
    top: calc(50% - 7px);
    right: 40px;
    width: 32px;
    height: 14px;
    font-size: 80%;
    color: #aaa;
    text-align: right; }
  section#content > div[data-name='overview'] > div.scrollBox > div > ul > li > span[data-status] {
    display: block;
    position: absolute;
    top: calc(50% - 13px);
    right: 85px;
    width: 26px;
    height: 26px; }
  section#content > div[data-name='overview'] > div.scrollBox > div > ul > li > span[data-status='released']::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask: no-repeat center/26px;
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-check.svg);
    background-color: #5eba7d; }
  section#content > div[data-name='overview'] > div.scrollBox > div > ul > li > span[data-status='draft']::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask: no-repeat center/26px;
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-close.svg);
    background-color: #f99; }
  section#content > div[data-name='overview'] > div.scrollBox > div > ul > li > span[data-status='incomplete']::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask: no-repeat center/26px;
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-info.svg);
    background-color: #f5c525; }

section#content > div[data-name='overview'] > div.scrollBox > div > select.languages {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  height: 28px;
  padding: 0 5px;
  margin: 30px 0 20px 0;
  background: rgba(0, 0, 0, 0.02);
  cursor: pointer; }

section#content > div[data-name='langvars'] > div.scrollBox > div > div.notice {
  position: relative;
  font-size: 120%;
  line-height: 170%;
  background: rgba(123, 95, 164, 0.2);
  padding: 7px 10px 7px 50px;
  margin: 0 0 10px 0; }
  section#content > div[data-name='langvars'] > div.scrollBox > div > div.notice::before {
    content: "!";
    position: absolute;
    top: 22px;
    left: 17px;
    color: #7b5fa4;
    font-weight: "%fontWeightBold";
    font-size: 300%; }
  section#content > div[data-name='langvars'] > div.scrollBox > div > div.notice > p {
    margin: 0 0 10px 0; }

section#content > div[data-name='langvars'] > div.scrollBox > div > div.category {
  position: relative;
  padding: 15px 0 15px 20px;
  border-bottom: 1px solid #f2f2f2; }
  section#content > div[data-name='langvars'] > div.scrollBox > div > div.category::before {
    content: "+";
    position: absolute;
    top: 15px;
    left: 0;
    font-size: 120%;
    color: #2b35c8;
    font-weight: "%fontWeightBold"; }
  section#content > div[data-name='langvars'] > div.scrollBox > div > div.category > a {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 40px; }
  section#content > div[data-name='langvars'] > div.scrollBox > div > div.category > strong {
    display: inline-block;
    vertical-align: top;
    font-weight: "%fontWeightMedium";
    color: #2b35c8;
    font-size: 120%; }
  section#content > div[data-name='langvars'] > div.scrollBox > div > div.category > span.amountInfo {
    position: relative;
    display: block;
    float: right;
    margin: 2px 0 0 0;
    color: #aaa; }
  section#content > div[data-name='langvars'] > div.scrollBox > div > div.category > span.requiredInfo {
    display: inline-block;
    font-size: 80%;
    margin: 4px 0 0 10px;
    color: #aaa; }
  section#content > div[data-name='langvars'] > div.scrollBox > div > div.category.incomplete > span.amountInfo {
    padding-left: 21px; }
    section#content > div[data-name='langvars'] > div.scrollBox > div > div.category.incomplete > span.amountInfo::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/18px;
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-info.svg);
      background-color: #f5c525; }
    section#content > div[data-name='langvars'] > div.scrollBox > div > div.category.incomplete > span.amountInfo::before {
      -webkit-mask-position-x: left; }
  section#content > div[data-name='langvars'] > div.scrollBox > div > div.category.incomplete > ul > li.empty > label {
    padding-left: 22px; }
    section#content > div[data-name='langvars'] > div.scrollBox > div > div.category.incomplete > ul > li.empty > label::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-mask: no-repeat center/18px;
      -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-info.svg);
      background-color: #f5c525; }
    section#content > div[data-name='langvars'] > div.scrollBox > div > div.category.incomplete > ul > li.empty > label::before {
      -webkit-mask-position-x: left; }
  section#content > div[data-name='langvars'] > div.scrollBox > div > div.category.incomplete > ul > li.empty > textarea {
    border: 1px solid #f5c525; }
  section#content > div[data-name='langvars'] > div.scrollBox > div > div.category > ul {
    display: none; }
  section#content > div[data-name='langvars'] > div.scrollBox > div > div.category.active::before {
    content: "-"; }
  section#content > div[data-name='langvars'] > div.scrollBox > div > div.category.active > ul {
    position: relative;
    display: block;
    margin: 15px 0 0 0; }
    section#content > div[data-name='langvars'] > div.scrollBox > div > div.category.active > ul::before {
      content: "";
      position: absolute;
      top: -5px;
      left: -12px;
      width: 1px;
      height: calc(100% + 10px);
      background: #7b5fa4;
      opacity: 0.5; }
    section#content > div[data-name='langvars'] > div.scrollBox > div > div.category.active > ul > li > label {
      position: relative;
      display: inline-block; }
    section#content > div[data-name='langvars'] > div.scrollBox > div > div.category.active > ul > li > span {
      display: block;
      width: 100%;
      background: #f2f2f2;
      padding: 4px 5px;
      margin: 2px 0 4px;
      font-style: italic;
      font-size: 80%; }
      section#content > div[data-name='langvars'] > div.scrollBox > div > div.category.active > ul > li > span > span {
        font-weight: "%fontWeightMedium";
        color: #2b35c8;
        margin: 0 3px 0 0; }
    section#content > div[data-name='langvars'] > div.scrollBox > div > div.category.active > ul > li > textarea {
      display: block;
      width: 100%;
      max-width: 100%;
      height: 50px;
      padding: 4px 5px;
      margin: 2px 0 12px 0;
      border: none;
      outline: none;
      background: #f2f2f2; }

section#content > div[data-name='unavailable'] > div.scrollBox > div > p {
  position: relative;
  text-align: center;
  margin-top: 30px;
  background: #f2f2f2;
  line-height: 150%;
  padding: 90px 30px 30px; }
  section#content > div[data-name='unavailable'] > div.scrollBox > div > p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-mask: no-repeat center/48px;
    -webkit-mask-image: url(chrome-extension://__MSG_@@extension_id__/img/icon-info.svg);
    background-color: #f5c525; }
  section#content > div[data-name='unavailable'] > div.scrollBox > div > p::before {
    pointer-events: none;
    -webkit-mask-position-y: 20px; }

section#content > div.loading > div, section#content > div.loading > header > * {
  display: none; }

section#content > div.loading > svg.loading {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 18px); }

/*# sourceMappingURL=translation.css.map */