body > div#redeviation-bs-indicator[data-theme='focus'] > div {
  transition: opacity 0.1s, transform 0.1s; }

body > iframe#redeviation-bs-sidebar[data-theme='focus'] {
  transition: none; }

body > iframe#redeviation-bs-overlay[data-theme='focus'] {
  transition: none; }
