
body > header {
  position: relative;
  width: 100%;
  height: $settingsHeaderHeight;
  background: $gradient;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 8px;
    width: $settingsHeaderHeight;
    height: $settingsHeaderHeight;
    background: img('icon/icon.webp') no-repeat center / 40px;
  }

  > h1 {
    @include mask('icon-settings', $textColorInverted, 22px);
    position: relative;
    display: inline-flex;
    font-size: 150%;
    margin: 10px 0 0 70px;
    padding: 0 0 0 30px;
    color: $textColorInverted;
    font-weight: $__fontWeightLight;

    &::before {
      -webkit-mask-position-x: left;
      opacity: 0.7;
    }

    > span {
      cursor: pointer;

      + span {
        position: relative;
        margin-left: 24px;

        &::before {
          content: "";
          position: absolute;
          top: 8px;
          left: -14px;
          border: 5px solid transparent;
          border-left-color: $textColorInverted;
          opacity: 0.5;
        }
      }

      &:last-child {
        pointer-events: none;
      }
    }
  }

  &[data-type='appearance'] > h1::before {
    @include maskImage('settings/icon-appearance');
    -webkit-mask-size: 22px;
  }

  &[data-type='newtab'] > h1::before {
    @include maskImage('settings/icon-newtab');
    -webkit-mask-size: 18px;
  }

  &[data-type='language'] > h1::before {
    @include maskImage('settings/icon-translate');
    -webkit-mask-size: 22px;
  }

  &[data-type='feedback'] > h1::before {
    @include maskImage('settings/icon-feedback');
    -webkit-mask-size: 18px;
  }

  &[data-type='infos'] > h1::before {
    @include maskImage('icon-info');
    -webkit-mask-size: 22px;
  }

  &[data-type='premium'] > h1::before {
    @include maskImage('icon-premium');
    -webkit-mask-size: 22px;
  }

  &[data-type='export'] > h1::before {
    @include maskImage('settings/icon-importExport');
    -webkit-mask-size: 26px;
  }

  > menu {
    display: inline-block;
    margin: 10px 30px 0 0;
    float: right;

    > li {
      display: inline-block;

      > button {
        position: relative;
        display: inline-block;
        vertical-align: top;
        border: 0;
        outline: 0;
        cursor: pointer;

        &.save {
          @include mask('icon-info', $colorNotice, 21px);
          position: relative;
          background: $contentBackground;
          color: $mainColor;
          padding: 4px 8px;
          font-weight: $__fontWeightMedium;
          font-size: 100%;
          border-radius: 5px;
          box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
          transition: box-shadow 1s, padding 0.5s;
          z-index: 2;

          &::before {
            -webkit-mask-position-x: 6px;
            @extend %hidden;
            transition: opacity 0.5s;
          }

          &.highlight {
            box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5), 0 0 0 100px $colorNotice;
          }

          &.info {
            padding-left: 32px;

            &::before {
              opacity: 1;
            }
          }
        }

        &.restore {
          @include mask('icon-update', $textColorInverted, 24px);
          background: transparent;
          margin: 2px 0 0 10px;
          width: 24px;
          height: 24px;
        }

        &.hidden {
          display: none;
        }
      }
    }
  }
}

body > div.dialog {
  position: absolute;
  top: $settingsHeaderHeight;
  width: 300px;
  padding: 12px 10px;
  text-align: center;
  background: $contentBackground;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));
  transition: opacity 0.3s, transform 0.3s;
  transform: translate3d(-12px, -10px, 0);
  z-index: 5;
  @extend %hidden;

  &.visible {
    @extend %visible;
    transform: translate3d(-12px, 0, 0);
  }

  &::before {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color: $contentBackground;
    top: -20px;
    right: 20px;
  }

  > p {
    line-height: 140%;
  }

  > a {
    position: relative;
    display: inline-block;
    color: $mainColorAlt;
    padding: 3px 5px 3px 15px;
    margin-bottom: 5px;
    font-weight: $__fontWeightMedium;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 7px;
      height: 7px;
      border-top: 2px solid $mainColorAlt;
      border-left: 2px solid $mainColorAlt;
      transform: rotateZ(135deg);
    }
  }

  > span {
    @include mask(null, $textColor, 16px);
    position: relative;
    display: inline-block;
    padding: 6px 10px 5px 30px;
    margin: 10px 0 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    &::before {
      width: 16px;
      left: 8px;
    }
  }

  &[data-type='behaviour'] > span::before {
    @include maskImage('icon-settings');
  }

  &[data-type='appearance'] > span::before {
    @include maskImage('settings/icon-appearance');
  }

  &[data-type='newtab'] > span::before {
    @include maskImage('settings/icon-newtab');
    -webkit-mask-size: 14px;
  }
}

@import "../../rtl/include/settings/header";