
body[data-type^='newtab'] {

  > section#wrapper > main {

    div.faviconOptions {
      display: grid;
      grid-template-columns: auto 1fr;

      @media (max-width: 1280px) {
        grid-template-columns: 1fr;
      }

      > h2 {
        grid-column: 1/-1;
      }

      > div {

        > div {

          + div {
            margin-top: 15px;
          }
        }
      }

      > aside {
        position: relative;
        justify-self: right;
        width: 100%;
        max-width: 600px;
        height: 80px;
        background-image: img('settings/mockup-left.png'), img('settings/mockup-right.png'), img('settings/mockup-middle.png');
        background-repeat: no-repeat, no-repeat, repeat-x;
        background-position: left 0, right 0, left 0;
        background-size: auto 80px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

        @media (max-width: 1280px) {
          justify-self: left;
          grid-row: 2;
          margin-bottom: 20px;
        }

        > canvas {
          position: absolute;
          top: 12px;
          left: 95px;
          width: 20px;
          height: 20px;
        }

        > span {
          position: absolute;
          top: 13px;
          left: 126px;
        }
      }
    }
  }
}

@import "../../rtl/include/settings/newtab";