
body[data-type^='sidebar'] {

  > section#wrapper > main {

    div.preview {
      display: flex;
      flex-flow: row wrap;
      background: $mainColor2;
      padding: 0;
      overflow: hidden;

      strong {
        display: block;
        color: $textColorInverted;
        font-weight: $__fontWeightNormal;
        padding: 12px 20px 0;

        &.large {
          font-size: 110%;
        }
      }

      > div {
        width: 50%;

        > div.box {
          background: $contentBackground;
          padding: 15px 20px;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
          border-radius: 6px;
          margin: 15px 20px 15px 15px;
        }

        > div.video {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: inset 0 0 10px 10px $mainColor2;
            z-index: 2;
          }

          &.disabled {
            @include mask("icon-close", rgba($colorError, 0.3), 300px);

            &::before {
              z-index: 3;
            }

            > video {
              opacity: 0.7;
            }
          }

          > video {
            width: 100%;
          }

          &:has(> span.setup) {
            cursor: pointer;
          }

          > span.setup {
            @extend %button;
            position: absolute;
            bottom: 5%;
            left: 50%;
            z-index: 3;
            transform: translate(-50%, 0);
            background: $mainColor3;
            transition: transform 0.2s, box-shadow 0.2s;
          }

          &:hover {
            > span.setup {
              box-shadow: 0 3px 30px $mainColor3, 0 5px 20px rgba(0, 0, 0, 0.2);
              transform: scale(1.1) translate(-45%, 0);
            }
          }
        }
      }
    }

    a.keyboardShortcut {
      @include mask('icon-keyboard', $textColorInverted, 20px);
      padding-left: 40px;
      margin-top: 20px;

      &::before {
        -webkit-mask-position-x: 10px;
      }
    }

    div.toggleArea {
      position: relative;
      margin: 40px 0 15px;
      padding: 90px 25px 20px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      overflow: hidden;

      &.hidden {
        display: none;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-image: img('settings/mockup-left.png'), img('settings/mockup-right.png'), img('settings/mockup-middle.png');
        background-repeat: no-repeat, no-repeat, repeat-x;
        background-position: left 0, right 0, left 0;
        background-size: auto 60px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        z-index: 2;
      }

      > div[data-type='preview'] {
        position: absolute;
        top: 60px;
        width: 20px;
        height: calc(100% - 60px);

        > div {
          @include mask('icon-bookmark', $textColorInverted, 100%);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
          transition: width 0.2s, height 0.2s, top 0.2s, border-radius 0.2s;
          cursor: ns-resize;

          &.fullHeight {
            cursor: default;
          }

          &.dragging {
            transition: none;
          }
        }

        > span {
          @include mask('icon-arrow-sketch', $textColor, 100%);
          position: absolute;
          top: 0;
          display: block;
          white-space: nowrap;
          padding: 8px;
          font-size: 90%;
          font-weight: $__fontWeightMedium;
          transition: opacity 0.3s;
          @extend %hidden;

          &::before {
            width: 26px;
            -webkit-mask-position: 0 -4px;
          }
        }

        > div:not(.fullHeight) ~ span {
          @extend %visible;
        }
      }

      > div.hidden {
        display: none;
      }

      &[data-type='left'] {
        padding-left: 75px;

        > div[data-type='preview'] {
          left: 0;

          > div:not(.fullHeight) {
            border-radius: 0 12px 12px 0;
          }

          > span {
            padding-left: 32px;
            left: calc(100% + 3px);

            &::before {
              transform: scaleX(-1) scaleY(-1);
            }
          }
        }
      }

      &[data-type='right'] {
        padding-right: 75px;

        > div[data-type='preview'] {
          right: 0;

          > div:not(.fullHeight) {
            border-radius: 12px 0 0 12px;
          }

          > span {
            padding-right: 32px;
            right: calc(100% + 3px);

            &::before {
              transform: scaleY(-1);
              left: unset;
              right: 0;
            }
          }
        }
      }
    }

    div.filterOptions {
      display: flex;
      flex-flow: row wrap;
      column-gap: 20px;
      margin-top: 30px;

      &.hidden {
        display: none;
      }

      > div {
        width: calc(50% - 10px);

        &.patternExplanation {
          margin-top: 25px;

          ul.bulletList {
            line-height: 200%;
          }

          em {
            position: relative;
            font-size: 120%;
            font-style: normal;
            line-height: normal;
            font-weight: $__fontWeightBold;
            padding: 0 5px;
            background: rgba(0, 0, 0, 0.02);
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            color: $textColor;
          }
        }
      }
    }
  }
}

@import "../../rtl/include/settings/sidebar";