div.tab[data-name='language'] > div[data-name='translate'] {

  div.translationInfo {

    &::before {
      top: 25px;
      bottom: unset;
    }

    > hr {
      margin-left: 40px;
    }

    > div {
      display: flex;
      flex-flow: row wrap;
      padding: 0 0 0 40px;

      > label {
        display: inline-block;
        order: 2;
      }

      > div.checkbox {
        display: inline-block;
        vertical-align: top;
        margin: -1px 10px 0 0;
        order: 1;
      }
    }
  }

  > div {
    display: none;

    &.visible {
      display: block;
    }
  }

  > div.overview {

    div.box {
      cursor: pointer;

      > select {
        margin: 0;
      }

      > div.progress {
        position: relative;
        width: 200px;
        height: 3px;
        margin: 15px 0 0 0;
        background: rgba(0, 0, 0, 0.1);

        > div {
          position: absolute;
          top: 0;
          left: 0;
          width: auto;
          height: 100%;
          background: $mainColor2;
        }

        &::before {
          content: attr(data-value);
          position: absolute;
          top: -5px;
          right: -50px;
          width: 50px;
          padding: 0 0 0 5px;
          font-size: 80%;
          color: $textColorLight;
        }
      }

      > span {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 20px;
        width: 20px;
        height: 20px;
        cursor: help;
      }

      &[data-status='released'] > span {
        @include mask('icon-check', $colorSuccess, 24px);
      }

      &[data-status='incomplete'] > span {
        @include mask('icon-check', $colorNotice, 22px);
      }

      &[data-status='draft'] > span {
        @include mask('icon-close', $colorError, 24px);
      }

      &.mark {

        > strong {
          color: $textColorInverted;
          padding: 3px 7px 4px;
        }

        &[data-status='released'] > strong {
          background: $colorSuccess;
        }

        &[data-status='draft'] > strong {
          background: $colorError;
        }

        &[data-status='incomplete'] > strong {
          background: $colorNotice;
        }
      }
    }
  }

  > div.langvars {

    &.loading {

      > div.notice {
        display: none;
      }
    }

    > svg.loading {
      position: absolute;
      top: 30%;
      left: calc(50% - 18px);
    }

    div.box {
      cursor: pointer;

      > strong {
        display: inline-block;
        vertical-align: top;
        font-weight: $__fontWeightMedium;
        color: $textColor;
        font-size: 120%;
      }

      > span.amountInfo {
        position: relative;
        display: block;
        float: right;
        margin: 2px 0 0 0;
        color: $textColorLight;
      }

      > span.requiredInfo {
        display: inline-block;
        font-size: 80%;
        margin: 4px 0 0 10px;
        color: $textColorLight;
      }

      &.incomplete {

        > span.amountInfo > span {
          color: $textColorInverted;
          background: $colorError;
          font-weight: $__fontWeightMedium;
          padding: 0 3px;
          font-size: 90%;
        }
      }

      > ul {
        display: none;
      }
    }
  }

  > div.category {
    position: relative;
    max-width: 1280px;
    margin: 0 0 20px;
    line-height: 140%;

    > header {
      position: sticky;
      top: 0;
      background: $contentBackground;
      box-shadow: 0 5px 7px -2px rgba(0, 0, 0, 0.1);
      padding: 12px 20px;
      border-radius: 10px;
      z-index: 4;

      > span.amountInfo {
        float: right;
        margin-right: 15px;
      }

      > a {
        position: relative;
        cursor: pointer;

        &.back {
          padding: 5px 5px 5px 17px;

          &::before {
            content: "";
            position: absolute;
            top: 8px;
            left: 0;
            width: 10px;
            height: 10px;
            border-top: 2px solid $textColorLight;
            border-left: 2px solid $textColorLight;
            transform: rotateZ(-45deg);
          }
        }

        &.goto {
          float: right;
          display: inline-block;
          width: 26px;
          height: 26px;
          border-radius: 50%;
          margin: -5px 0 0 3px;
          transition: background 0.5s;

          &:hover {
            background: $contentBackground2;
          }

          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 8px;
            display: block;
            border-top: 3px solid $textColorLight;
            border-right: 3px solid $textColorLight;
            width: 10px;
            height: 10px;
          }

          &[data-value='up']::after {
            transform: rotateZ(-45deg);
            top: 10px;
          }

          &[data-value='down']::after {
            transform: rotateZ(135deg);
            top: 6px;
          }
        }
      }
    }

    > ul {
      margin-top: 20px;

      > li {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 10px 0;
        background: $contentBackground;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-bottom: 20px;

        &:first-child {
          border: none;
        }

        > div {
          position: relative;
          width: 40%;
          padding: 0 12px;

          &:first-of-type::after {
            content: "";
            position: absolute;
            top: 28px;
            right: -4px;
            width: 12px;
            height: 12px;
            border-top: 2px solid rgba(0, 0, 0, 0.1);
            border-right: 2px solid rgba(0, 0, 0, 0.1);
            transform: rotateZ(45deg);
          }

          > span, > textarea {
            border-radius: 7px;
            background: rgba(0, 0, 0, 0.05);
            padding: 7px 10px;
            line-height: 150%;
          }

          > span {
            display: block;
            min-height: 70px;
            user-select: text;
          }

          > textarea {
            height: 70px;
            margin: 0;
            resize: none;
            overflow: hidden;
            transition: box-shadow 0.5s, background 0.5s;
          }

          > footer.breadcrumb {
            display: flex;
            font-size: 80%;
            margin: 7px 0 0 0;

            > label {
              margin: 0 5px 0 0;
            }

            > div {
              display: flex;

              > span {
                position: relative;
                display: block;
                height: 20px;
                line-height: 20px;
                padding: 0 1px 0 4px;
                background: rgba(0, 0, 0, 0.05);

                + span {
                  padding-left: 18px;
                }

                &:last-child {
                  margin-right: 12px;
                }

                &::before, &::after {
                  content: "";
                  position: absolute;
                  z-index: 2;
                }

                &::before {
                  top: -4px;
                  right: -28px;
                  border: 14px solid transparent;
                  border-left-color: $contentBackground;
                }

                &::after {
                  top: 0;
                  right: -20px;
                  border: 10px solid transparent;
                  border-left-color: rgba(0, 0, 0, 0.05);
                }
              }
            }
          }

          + div {
            width: 60%;
          }
        }

        > span.desc {
          display: none;
        }

        &.mark {

          > div > span {
            box-shadow: 0 0 0 2px $mainColor3;
          }

          > span.desc {
            position: relative;
            display: block;
            margin: 10px 20px 15px;
            padding: 7px 10px;
            font-size: 90%;
            line-height: 150%;
            border-radius: 10px;
            background: $textColor;
            color: $textColorInverted;

            &::before {
              content: "";
              position: absolute;
              bottom: -20px;
              left: 30px;
              border: 10px solid transparent;
              border-top-color: $textColor;
            }
          }
        }
      }
    }
  }

  > div.thanks {

    blockquote {
      @include mask('settings/icon-quote', $textColorLight, 20px);
      position: relative;
      padding: 10px 0 0 36px;
      margin: 0 0 30px 0;
      line-height: 150%;

      &::before {
        -webkit-mask-position: 0 12px;
      }

      > footer {
        font-weight: $__fontWeightMedium;
        font-size: 90%;
        margin-top: 7px;

        &::before {
          content: "\2013";
          margin: 0 4px 0 0;
        }
      }
    }

    input[type='email'] {
      width: 180px;
      margin: 0;
    }

    p.submitWrapper {
      margin-top: 40px;

      > a {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        transition: padding 0.3s;
        cursor: pointer;

        &.close {
          margin: 3px 0 0 12px;
          padding: 2px 4px;
        }

        &.loading {
          padding-right: 40px;
          pointer-events: none;

          > svg.loading {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 10px;
            margin: auto;
            width: 16px;
            height: 16px;

            > circle {
              stroke: $textColorInverted;
            }
          }
        }
      }
    }
  }
}

@import "../../rtl/include/settings/translation";