[data-theme='glass'] {
  backdrop-filter: blur("%backgroundBlur"); }
  [data-theme='glass'] div.modal {
    background: rgba(255, 255, 255, %backgroundTransparency);
    backdrop-filter: blur("%backgroundBlur");
    transition: transform 0.15s; }
    [data-theme='glass'] div.modal:not(.visible) {
      transform: scale(0.9); }
    [data-theme='glass'] div.modal > header {
      color: "%textColor";
      box-shadow: none;
      background: none; }
      [data-theme='glass'] div.modal > header::before {
        background: "%textColor"; }
      [data-theme='glass'] div.modal > header > h1 {
        font-size: 140%; }
      [data-theme='glass'] div.modal > header > a.close::before {
        background: "%textColor"; }
      [data-theme='glass'] div.modal > header > a.close:hover {
        background-color: "%hoverColor"; }
    [data-theme='glass'] div.modal > div.scrollBox {
      height: calc(100% - %overlayHeaderHeight - 57px); }
    [data-theme='glass'] div.modal[data-type='keyboardShortcuts']::after, [data-theme='glass'] div.modal.urlCheckResults[data-type='checkBookmarks']::after, [data-theme='glass'] div.modal[data-type='searchEngine']::after {
      background: rgba(0, 0, 0, 0.03); }
    [data-theme='glass'] div.modal[data-type='checkBookmarks'] > menu.categories > li.active {
      background-color: "%hoverColor"; }
      [data-theme='glass'] div.modal[data-type='checkBookmarks'] > menu.categories > li.active::after {
        right: -4px;
        width: 10px;
        height: 10px;
        border: none;
        border-top: 3px solid "%textColor";
        border-right: 3px solid "%textColor";
        background: none; }
    [data-theme='glass'] div.modal[data-type='checkBookmarks'] > div[id^='results_'] > p, [data-theme='glass'] div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul {
      background: transparent; }
    [data-theme='glass'] div.modal[data-type='checkBookmarks'] > div[id^='results_'] > ul > li a.urlCheckAction:hover {
      background-color: "%hoverColor"; }
    [data-theme='glass'] div.modal[data-type='infos'] > ul.breadcrumb::before {
      display: none; }
    [data-theme='glass'] div.modal[data-type='infos'] > ul.breadcrumb > li + li {
      padding-left: 18px; }
    [data-theme='glass'] div.modal[data-type='infos'] > ul.breadcrumb > li::after {
      display: none; }
    [data-theme='glass'] div.modal[data-type='infos'] > ul.breadcrumb > li:last-child {
      margin-right: 0; }
      [data-theme='glass'] div.modal[data-type='infos'] > ul.breadcrumb > li:last-child::before {
        display: none; }
    [data-theme='glass'] div.modal[data-type='infos'] > ul.breadcrumb > li:not(:last-child)::before {
      top: 0;
      bottom: 0;
      margin: auto;
      width: 0;
      height: 0;
      right: -12px;
      border: 4px solid transparent;
      border-left-color: "%textColor"; }

html[dir='rtl'] [data-theme='glass'] div.modal[data-type='checkBookmarks'] > menu.categories > li.active::after {
  right: unset;
  left: -4px;
  border: none;
  border-left: 3px solid "%textColor";
  border-bottom: 3px solid "%textColor"; }

html[dir='rtl'] [data-theme='glass'] div.modal[data-type='infos'] > ul.breadcrumb > li + li {
  padding-right: 18px; }

html[dir='rtl'] [data-theme='glass'] div.modal[data-type='infos'] > ul.breadcrumb > li:last-child {
  margin-left: 0; }

html[dir='rtl'] [data-theme='glass'] div.modal[data-type='infos'] > ul.breadcrumb > li:not(:last-child)::before {
  right: unset;
  left: -12px; }

.dark[data-theme='glass'] div.modal {
  background: rgba(0, 0, 0, %backgroundTransparency); }
  .dark[data-theme='glass'] div.modal[data-type='keyboardShortcuts']::after, .dark[data-theme='glass'] div.modal.urlCheckResults[data-type='checkBookmarks']::after, .dark[data-theme='glass'] div.modal[data-type='searchEngine']::after {
    background: rgba(255, 255, 255, 0.1); }
  .dark[data-theme='glass'] div.modal[data-type='edit'] > ul > li > input, .dark[data-theme='glass'] div.modal[data-type='edit'] > ul > li > textarea, .dark[data-theme='glass'] div.modal[data-type='edit'] > ul > li > select, .dark[data-theme='glass'] div.modal[data-type='add'] > ul > li > input, .dark[data-theme='glass'] div.modal[data-type='add'] > ul > li > textarea, .dark[data-theme='glass'] div.modal[data-type='add'] > ul > li > select {
    border-color: rgba(255, 255, 255, 0.15); }
  .dark[data-theme='glass'] div.modal > a.preview, .dark[data-theme='glass'] div.modal > span.preview {
    background: rgba(255, 255, 255, 0.1); }
