[data-theme='glass'] section#sidebar {
  background: rgba(255, 255, 255, %backgroundTransparency);
  backdrop-filter: blur("%backgroundBlur"); }
  [data-theme='glass'] section#sidebar > header {
    background: none;
    box-shadow: none;
    color: "%textColor"; }
    [data-theme='glass'] section#sidebar > header > h1 {
      color: "%textColor"; }
    [data-theme='glass'] section#sidebar > header > a::before {
      background-color: "%textColor"; }
    [data-theme='glass'] section#sidebar > header > a:hover, [data-theme='glass'] section#sidebar > header > a.active {
      background-color: "%hoverColor"; }
    [data-theme='glass'] section#sidebar > header.searchVisible > div.searchBox {
      background-color: rgba(0, 0, 0, 0.07); }
      [data-theme='glass'] section#sidebar > header.searchVisible > div.searchBox > input[type='text'] {
        color: "%textColor"; }
        [data-theme='glass'] section#sidebar > header.searchVisible > div.searchBox > input[type='text']::-webkit-input-placeholder {
          color: "%textColor";
          opacity: 0.7; }
      [data-theme='glass'] section#sidebar > header.searchVisible > div.searchBox > a.searchClose::before {
        background-color: "%textColor"; }
      [data-theme='glass'] section#sidebar > header.searchVisible > div.searchBox > a.searchClose:hover {
        background-color: rgba(0, 0, 0, 0.07); }
  [data-theme='glass'] section#sidebar > div.filter {
    background: "%textColor";
    border-radius: 5px;
    transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s; }
    [data-theme='glass'] section#sidebar > div.filter a {
      color: "%foregroundColor"; }
      [data-theme='glass'] section#sidebar > div.filter a[data-direction]::before {
        background-color: "%foregroundColor"; }
    [data-theme='glass'] section#sidebar > div.filter > ul > li > div.checkbox::before {
      background-color: "%foregroundColor"; }
  [data-theme='glass'] section#sidebar > div.scrollBox > div.pinned {
    background: transparent; }
    [data-theme='glass'] section#sidebar > div.scrollBox > div.pinned.fixed {
      border: 2px solid rgba(0, 0, 0, 0.2);
      background: #fff;
      border-radius: 5px;
      padding: 3px 0;
      margin: 0 0 0 10px; }
      [data-theme='glass'] section#sidebar > div.scrollBox > div.pinned.fixed::after {
        display: none; }
  [data-theme='glass'] section#sidebar > div.scrollBox.scrolled:not([data-direction='up']) ~ div.filter {
    opacity: 0;
    transform: translate3d(0, -20px, 0); }

html[dir='rtl'] [data-theme='glass'] section#sidebar > div.scrollBox > div.pinned.fixed {
  margin: 0 10px 0 0; }

.dark[data-theme='glass'] section#sidebar {
  background: rgba(0, 0, 0, %backgroundTransparency); }
  .dark[data-theme='glass'] section#sidebar > header.searchVisible > div.searchBox {
    background-color: rgba(255, 255, 255, 0.1); }
    .dark[data-theme='glass'] section#sidebar > header.searchVisible > div.searchBox > a.searchClose::before {
      background-color: "%textColor"; }
    .dark[data-theme='glass'] section#sidebar > header.searchVisible > div.searchBox > a.searchClose:hover {
      background-color: rgba(255, 255, 255, 0.1); }
  .dark[data-theme='glass'] section#sidebar > div.filter {
    background: "%textColor"; }
    .dark[data-theme='glass'] section#sidebar > div.filter a {
      color: #4d4d4d; }
      .dark[data-theme='glass'] section#sidebar > div.filter a[data-direction]::before {
        background-color: #4d4d4d; }
    .dark[data-theme='glass'] section#sidebar > div.filter > ul > li > div.checkbox::before {
      background-color: #4d4d4d; }
  .dark[data-theme='glass'] section#sidebar > div.scrollBox > div.pinned {
    background: transparent; }
    .dark[data-theme='glass'] section#sidebar > div.scrollBox > div.pinned.fixed {
      background: #3d3d3d;
      border-color: rgba(255, 255, 255, 0.2); }
