
section#content {

  > nav {
    position: absolute;
    top: 10px;
    right: 20px;

    > ul {

      > li {
        position: relative;
        display: inline-block;
        text-align: center;

        > a.link {
          position: relative;
          color: $__textColor;
          display: block;
          cursor: pointer;
          padding: 7px 10px;
          border-radius: 20px;
          white-space: nowrap;
          transition: background 0.3s;

          &:hover {
            background: rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
  }
}


@import "../../dark/include/newtab/shortcuts";