
section#content {

  > nav {
    position: absolute;
    top: 10px;
    right: 20px;

    > ul {
      display: flex;
      flex-flow: row wrap;

      > li {
        position: relative;
        display: inline-block;
        text-align: center;
        margin-bottom: 5px;

        > a.link {
          position: relative;
          color: $__textColor;
          display: block;
          cursor: pointer;
          padding: 7px 10px;
          border-radius: 20px;
          white-space: nowrap;
          transition: background 0.3s;

          &:hover {
            background: darken($bodyBackground, 5%);
          }
        }
      }
    }

    &[data-pos='left'] {
      left: 20px;
      right: unset;

      > ul {
        flex-direction: row-reverse;
      }
    }
  }
}

body.customBackground section#content > nav {

  > ul > li {
    margin: 0 2px 5px;

    > a.link {
      background: rgba($bodyBackground, 0.8);
    }
  }
}

@import "../../rtl/include/newtab/shortcuts";
@import "../../dark/include/newtab/shortcuts";