$entryWidth: 145px;
$imageWidth: $entryWidth - 2px;

div#topPages {
  margin: 50px auto 0;

  &.hidden {
    display: none;
  }

  > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    transition: opacity 0.2s;
    @extend %hidden;

    &.visible {
      @extend %visible;
    }

    > li {
      display: block;
      padding: 8px 7px;
      font-size: 90%;

      > a {
        display: block;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.05);
        width: $entryWidth;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        transition: background 0.3s, border-color 0.3s, box-shadow 0.3s;

        &:hover {
          background: rgba(0, 0, 0, 0.1);
          border-color: rgba(0, 0, 0, 0.15);
          box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.1);
        }

        > span {
          display: block;
          padding: 3px 5px 3px 3px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          > img {
            display: inline-block;
            width: 14px;
            margin: 0 5px 0 0;
            vertical-align: top;
          }
        }

        > img {
          display: block;
          width: $imageWidth;
          height: $imageWidth * 0.625;
          opacity: 0;
          background: $contentBackground;
          transition: opacity 0.5s;

          &.visible {
            opacity: 1;
          }
        }
      }
    }

    &[data-perRow='3'] {
      max-width: ($entryWidth + 14) * 3;
    }

    &[data-perRow='2'] {
      max-width: ($entryWidth + 14) * 2;
    }
  }
}

@import "../../rtl/include/newtab/topPages";
@import "../../dark/include/newtab/topPages";