$baseFontSize: 14px;
$baseFontFamily: Roboto, sans-serif;
$baseFontWeight: 300;
$mainColor: #009688;
$textColor: #666;
$textColorLight: #aaa;
$errorColor: #faa;
$textColorInverted: #fff;
$backgroundColor: #fff;
$linkHoverBackgroundColor: #f7f7f7;
$sidebarWidth: 350px;

$settingsMainColor: #7b5fa4;
$settingsHeaderBackground: #eee;
$settingsTabBackground: #f2f2f2;
$settingsSuccessBackgroundColor:#5eba7d;
$settingsErrorColor:#f66;
