@import "include/vars";
@import "include/mixins";
@import "include/infobox";
//
@import "include/generals";

body {
  background: $bodyBackground;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section.infobox {
  perspective: 800px;

  > div {
    position: relative;
    width: 100%;
    max-width: 650px;
    height: 430px;
    transform-style: preserve-3d;
    transition: transform 1s;

    > div {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: inherit;
      transform-style: preserve-3d;
      backface-visibility: hidden;

      &.back {
        text-align: left;
        transform: rotateX(180deg);

        h1 {
          margin: 0;
        }

        a.close {
          @include mask('icon-close', $textColorInverted, 26px);
          position: absolute;
          top: 30px;
          right: 35px;
          display: block;
          width: 42px;
          height: 42px;
          cursor: pointer;
          border-radius: 50%;
          transition: background-color 0.3s;
          opacity: 0.7;
          z-index: 2;

          &:hover {
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }

  &.flipped {

    > div {
      transform: rotateX(180deg);
    }
  }

  ul.changelog {
    margin-top: 20px;

    li {
      padding: 10px 0;

      &:not(.noIndicator)::before {
        content: "-";
        margin: 0 10px 0 0;
      }

      ul {
        margin: 10px 0 0 25px;
      }
    }
  }
}