@import "include/vars";
@import "include/mixins";
//
$__colorScheme: $mainColor;
$__textColor: $textColor;
@import "include/loading";
@import "include/checkbox";
//
@import "include/generals";

body {
  background: $bodyBackground;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    transition: opacity 0.3s;
    z-index: 98;
    @extend %hidden;
  }

  &.initLoading {

    &::before {
      @extend %visible;
      background: $bodyBackground;
    }
  }

  > svg.loading {
    position: fixed;
    display: block !important;
    top: calc(50% - 18px);
    left: calc(50% - 18px);
    z-index: 99;
  }
}

// Headlines
h1 {
  font-size: 300%;
  font-weight: 200;
  display: inline-block;
  color: $textColorInverted;

  @media (max-width: 1080px) {
    font-size: 200%;
  }
}

h2 {
  font-size: 200%;
  font-weight: 300;
  color: $mainColor;
}

// Header
body > header {
  background: $gradient;
  height: 200px;
  padding: 30px 0 0 0;

  @media (max-width: 1080px) {
    padding: 20px 20px 0;
    height: 80px;
  }

  > div {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
  }
}

// Content
body > main {
  position: relative;
  margin: -70px auto 100px;
  padding: 30px 20px;
  width: 100%;
  max-width: 1024px;
  min-height: 400px;
  background: $contentBackground;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  @media (max-width: 1080px) {
    margin-top: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
    max-width: none;
  }

  > div.checkbox {
    display: inline-block;

    + a {
      display: inline-block;
      vertical-align: top;
      margin: -3px 0 0 12px;
      font-size: 120%;
      cursor: pointer;
    }
  }

  > div.version {
    position: absolute;
    top: -27px;
    right: 0;
    height: 25px;
    line-height: 25px;
    color: $textColorInverted;
    opacity: 0.7;
    font-size: 90%;

    > p {
      display: inline;

      &::after {
        content: ":";
      }
    }

    > span {
      margin-left: 3px;
    }
  }

  > p.error {
    @include mask('icon-info', $textColorLight, 32px);
    position: relative;
    line-height: 150%;
    padding: 3px 0 3px 40px;

    &::before {
      top: 0;
      bottom: 0;
      left: 0;
      width: 32px;
      height: 32px;
      margin: auto;
    }
  }

  > article {
    display: none;

    &.visible {
      display: block;
    }

    > div {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      margin-top: 30px;
      padding-top: 30px;

      > ul {
        margin: 10px 0 0 5px;

        > li {
          position: relative;
          padding-left: 10px;
          line-height: 150%;

          &::before {
            content: "-";
            position: absolute;
            left: 0;
          }
        }
      }
    }
  }
}

@import "rtl/changelog";