@import "include/vars";
@import "include/mixins";

// Visual
body > div#moonware-bs-visual {

  &.moonware-bs-add-visual { // icon on black background should be visible on hover

    &::before, &::after {
      content: "";
      position: absolute;
      transition: opacity 0.3s, transform 0.3s;
      transform: translate3d(-$__indicatorWidth, 0, 0);
      top: 0;
      left: 0;
      width: $__indicatorWidth;
      height: 100%;
      @extend %hidden;
    }

    &::before {
      background: $__indicatorColor;
      z-index: 1;
    }

    &::after {
      position: absolute;
      background: img('bookmark.webp') no-repeat center / $__indicatorIconSize;
      z-index: 2;
    }

    &[data-pos='right'] {

      &::before, &::after {
        transform: translate3d($__indicatorWidth, 0, 0);
        left: auto;
        right: 0;
      }
    }

    &.moonware-bs-hover { // hover

      &::before, &::after {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }

    }
  }
}

body > div#moonware-bs-visual[data-pos='left'].moonware-bs-add-visual.moonware-bs-has-lsb {

  &::before {
    background: transparent;
  }

  &::after {
    background-position-y: 20px;
  }
}

// Sidebar
body > iframe#moonware-bs-sidebar {
  width: $__sidebarWidth;
  height: 100%;
  z-index: #{2147483647 - 1};
  background-color: $__sidebarMaskColor;
  border: none;
  transform: translate3d(-$__sidebarWidth, 0, 0);
  transition: width 0s 0.3s, opacity 0.3s, transform 0.3s;

  &[data-pos='right'] {
    transform: translate3d($__sidebarWidth, 0, 0);
  }

  &.moonware-bs-visible {
    @extend %visible;
    width: calc(100% + #{$__sidebarWidth});
    transform: translate3d(0, 0, 0);
    transition: opacity 0.3s, transform 0.3s;
  }
}

// Overlay
body > iframe#moonware-bs-overlay {
  width: 100%;
  height: 100%;
  z-index: 2147483647;
  border: none;
  background: $__overlayMaskColor;
  transition: opacity 0.3s;

  &.moonware-bs-visible {
    @extend %visible;
  }
}