@import "include/vars";
@import "include/mixins";
//
@import "include/loading";

$textColor: $__textColor;
@import "include/generals";

$searchWidth: 630px;
$searchHeight: 50px;

body {
  background: $bodyBackground;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    transition: opacity 0.3s;
    z-index: 98;
    @extend %hidden;
  }

  &.initLoading {

    &::before {
      @extend %visible;
    }
  }

  > svg.loading {
    position: fixed;
    display: block !important;
    top: calc(50% - 18px);
    left: calc(50% - 18px);
    z-index: 99;
  }
}

section#content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $bodyBackground;

  > nav {
    position: absolute;
    top: 10px;
    right: 20px;

    > ul {

      > li {
        display: inline-block;

        > a {
          color: $__textColor;
          display: block;
          cursor: pointer;
          padding: 7px 10px;
          border-radius: 20px;
          transition: background 0.3s;

          &:hover {
            background: rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
  }

  > section.mid {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div#search {
      position: relative;
      display: block;
      margin: 0 auto;
      width: 100%;
      padding: 0 10px;
      height: $searchHeight;

      > input[type='text'] {
        width: 100%;
        height: 100%;
        border-radius: $searchHeight / 2;
        padding: 0 30px;
        border: none;
        outline: none;
        font-size: 125%;
        background: $contentBackground;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);

        &::-webkit-input-placeholder {
          color: $__textColor;
          opacity: 0.7;
        }

        &::-moz-placeholder {
          color: $__textColor;
          opacity: 0.7;
        }
      }

      > button[type="submit"] {
        @include mask('icon-search', $textColorLight, 26px);
        position: absolute;
        top: 4px;
        right: 16px;
        width: calc(#{$searchHeight} - 8px);
        height: calc(#{$searchHeight} - 8px);
        outline: none;
        border: none;
        background: none;
        border-radius: 50%;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background: $hoverBackground;
        }
      }

      > ul.suggestions {
        position: absolute;
        width: calc(100% - 20px);
        padding: #{$searchHeight + 1px} 20px 0;
        pointer-events: none;
        filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));

        > li {
          @include mask(null, $textColorLight, 14px);
          position: relative;
          background: $contentBackground;
          pointer-events: auto;
          font-size: 110%;
          pointer-events: auto;
          padding: 3px 10px 3px 26px;
          transition: background 0.3s;

          &.active {
            cursor: pointer;
            background: $hoverBackground;
          }

          &::before {
            -webkit-mask-position-x: 7px;
          }

          &[data-type='url']::before {
            @include maskImage('icon-web');
          }

          &[data-type='word']::before {
            @include maskImage('icon-search');
          }
        }
      }
    }

    > ul.topPages {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin: 50px auto 0;

      $entryWidth: 145px;
      $imageWidth: $entryWidth - 2px;

      > li {
        display: block;
        padding: 8px 7px;
        font-size: 90%;

        > a {
          display: block;
          margin: 0 auto;
          background: rgba(0, 0, 0, 0.05);
          width: $entryWidth;
          border-radius: 2px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          transition: box-shadow 0.3s;

          &:hover {
            box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.15)
          }

          > span {
            display: block;
            padding: 3px 5px 3px 3px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            > img {
              display: inline-block;
              width: 14px;
              margin: 0px 5px 0 0;
              vertical-align: top;
            }
          }

          > img {
            display: block;
            width: $imageWidth;
            height: $imageWidth * 0.625;
            opacity: 0;
            background: $contentBackground;
            transition: opacity 0.5s;

            &.visible {
              opacity: 1;
            }
          }
        }
      }

      &[data-perRow='3'] {
        max-width: ($entryWidth + 14) * 3;
      }

      &[data-perRow='2'] {
        max-width: ($entryWidth + 14) * 2;
      }
    }
  }
}

body.dark {
  background: $darkContentBackground;

  section#content {
    background: $darkContentBackground;

    > nav > ul > li > a:hover {
      background: $darkHoverBackground;
    }

    > section.mid {

      > div#search {

        > input[type='text'] {
          background: $darkHoverBackground;
        }

        > button[type="submit"] {

          &:hover {
            background: lighten($darkHoverBackground, 5%);
          }
        }

        > ul.suggestions {
          filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.1));

          > li {
            background: $darkHoverBackground;

            &.active {
              background: lighten($darkHoverBackground, 5%);
            }

          }
        }
      }

      > ul.topPages > li > a {
        background: $darkHoverBackground;

        &:hover {
          background: lighten($darkHoverBackground, 5%);
        }
      }
    }
  }
}