@import "include/vars";
@import "include/mixins";
//
@import "include/loading";

$textColor: $__textColor;
@import "include/generals";
@import "include/newtab/topPages";
@import "include/newtab/shortcuts";
@import "include/newtab/search";
@import "include/newtab/edit";

body {
  background: $bodyBackground;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    transition: opacity 0.3s;
    z-index: 98;
    @extend %hidden;
  }

  &.initLoading {

    &::before {
      @extend %visible;
    }
  }

  &.loading {

    &::before {
      background: rgba(255, 255, 255, 0.9);
      @extend %visible;
    }
  }

  > svg.loading {
    position: fixed;
    display: block !important;
    top: calc(50% - 18px);
    left: calc(50% - 18px);
    z-index: 99;
  }
}

section#content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $bodyBackground;
  transition: height 0.5s;
}

body.dark {
  background: $darkContentBackground;

  &.loading::before {
    background: rgba(0,0,0,0.8);
  }

  section#content {
    background: $darkContentBackground;
  }
}