@import "include/vars";
@import "include/mixins";
//
$__colorScheme: $textColorInverted;
$__textColor: $textColor;
@import "include/loading";
@import "include/generals";

%button {
  display: inline-block;
  background: $contentBackground;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  color: $textColor;
  font-size: 140%;
  font-weight: 300;
  text-decoration: none;
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 25px;
  white-space: nowrap;
}

body {
  background: $mainColor2;
  height: 100vh;
  overflow: hidden;

  > svg.loading {
    position: absolute;
    top: calc(50% - 18px);
    left: calc(50% - 18px);
  }
}

section.slide {
  position: absolute;
  width: 650px;
  top: 25vh;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  transition: opacity 0.3s, transform 0.3s;
  @extend %hidden;

  &.visible {
    @extend %visible;
  }

  > p.large {
    font-size: 180%;
    font-weight: $__fontWeightNormal;
    color: $textColorInverted;
    margin: 0 0 40px 0;
  }

  > p.small {
    color: $textColorInverted;
    font-size: 120%;
    line-height: 140%;
    max-width: 550px;
    opacity: 0.7;
    margin: 0 auto 30px;
    padding: 7px 0;
  }

  div.video {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: inset 0 0 10px 10px $mainColor2;
      z-index: 2;
    }

    > video {
      width: 100%;
    }
  }

  &[data-name='intro-1'] {

    &::before {
      content: "";
      position: absolute;
      top: -100px;
      left: 0;
      right: 0;
      margin: auto;
      width: 64px;
      height: 64px;
      background: img('icon/icon.png') no-repeat center / 100%;
    }
  }

  &[data-name='intro-2'] {
    top: 5vh;
    width: 100%;
    max-width: 1400px;

    > div.videos {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      margin-top: 70px;

      > div.video {
        width: 50%;
        cursor: pointer;
        transition: transform 0.2s;

        > strong {
          position: absolute;
          width: 100%;
          top: -15px;
          color: $textColorInverted;
          font-weight: $__fontWeightNormal;
          font-size: 120%;
          opacity: 0.7;
          z-index: 3;
        }

        > span.setup {
          @extend %button;
          position: absolute;
          bottom: 2%;
          left: 50%;
          z-index: 3;
          transform: translate(-50%, 0);
          background: $mainColor3;
          transition: transform 0.2s, box-shadow 0.2s;

          &.finished {
            @include mask('icon-check', $textColorInverted, 24px);
            background: $colorSuccess;
            color: $textColorInverted;
            padding-left: 40px;

            &::before {
              -webkit-mask-position-x: left;
              left: 12px;
            }
          }
        }

        &:hover {
          > span.setup:not(.finished) {
            box-shadow: 0 3px 30px $mainColor3, 0 5px 20px rgba(0, 0, 0, 0.2);
            transform: scale(1.1) translate(-45%, 0);
          }
        }
      }
    }
  }

  &[data-name='position'], &[data-name='openAction'], &[data-name='surface'], &[data-name='handson'] {

    > div {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      > a {
        @extend %button;
        margin-left: 12px;
        margin-right: 12px;
      }
    }
  }

  &[data-name='openAction'] {
    top: 5vh;

    > div.video {
      margin: -20px auto 0;
      width: 590px;

      &.highlightIcon > span {
        @include mask('icon-arrow-sketch', $textColorInverted, 48px);
        position: absolute;
        display: block;
        right: 98px;
        top: 46px;
        width: 22px;
        height: 22px;
        border: 3px solid $colorError;
        border-radius: 50%;

        &::before {
          content: "";
          position: absolute;
          width: 48px;
          height: 48px;
          top: -48px;
          left: -43px;
          transform: scale(1, -1);
        }
      }
    }

    > p.small {
      margin-top: 20px;
    }

    > a.cancel {
      @include mask('icon-close', $colorError, 22px);
      position: relative;
      color: $textColorInverted;
      padding-left: 26px;

      &::before {
        -webkit-mask-position-x: left;
        pointer-events: none;
      }
    }
  }

  &[data-name='surface'] {

    a[data-value="dark"] {
      background: $darkContentBackground;
      color: $textColorInverted;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    }

    p.wrap {
      width: 100%;
      margin: 20px 0 0 0;

      a[data-value="auto"] {
        @extend %button;
        position: relative;
        overflow: hidden;
        font-size: 100%;
        padding: 8px 14px;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          width: 100%;
          height: 100%;
          background: $darkContentBackground;
          transform: skewX(-20deg);
        }

        > span {
          color: $textColorInverted;
          mix-blend-mode: difference;
          filter: drop-shadow(2px 2px 2px rgba(255, 255, 255, 0.2));
        }
      }
    }
  }

  &[data-name='handson'] {

    > p.large {
      margin-bottom: 50px;
    }

    > div.video {
      margin: -30px auto 0;
      width: 590px;

      &:not(.visible) {
        display: none;
      }
    }

    &:has(> div.video.visible) {
      top: 5vh;
    }
  }

  &[data-name='finished'] {

    a.settings, a.appearance {
      @include mask(null, $textColorInverted, 72px);
      position: relative;
      display: inline-block;
      width: 150px;
      padding: 85px 15px 10px 15px;
      margin: 0 10px;
      color: $textColorInverted;
      vertical-align: top;
      border-radius: 10px;
      transition: background 0.5s;

      &::before {
        -webkit-mask-position-y: 7px;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }

    a.settings::before {
      @include maskImage('icon-settings');
    }

    a.appearance::before {
      @include maskImage('settings/icon-appearance');
    }
  }
}

// Sidebar placeholder
div#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background: $contentBackground;
  padding: 10px 30px 0 80px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  transform: translate3d(-350px, 0, 0);
  transition: transform 0.5s, background-color 0.3s;
  z-index: 3;

  &[data-pos='right'] {
    transform: translate3d(350px, 0, 0);
    left: unset;
    right: 0;
  }

  &.visible {
    transform: translate3d(0, 0, 0);
  }

  > p {
    position: relative;
    width: 100%;
    height: 12px;
    background: rgba(0, 0, 0, 0.06);
    transition: background-color 0.3s;
    margin: 50px 0;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -50px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background: inherit;
    }
  }
}

body {

  &[data-surface='dark'] {

    div#sidebar {
      background: $darkContentBackground;

      > p {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }

  &[data-openType] {
    @include mask(null, $textColorInverted, 48px);

    &::before {
      content: "";
      position: absolute;
      width: 48px;
      height: 48px;
      transition: opacity 0.2s;
    }
  }

  &[data-openType='icon']::before {
    @include maskImage('icon-arrow-sketch');
    top: 50px;
    left: auto;
    right: 80px;
  }

  &[data-openType='mouse']::before {
    @include maskImage('onboarding/icon-cursor');
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &[data-openType='mouse'][data-pos='right']::before {
    left: auto;
    right: 0;
    transform: rotateY(180deg);
  }

  &.hideOpenType::before {
    opacity: 0;
  }
}

@import "rtl/onboarding";