@import "include/vars";
@import "include/mixins";
@import "include/loading";
@import "include/scrollBox";
@import "include/checkbox";
//
$textColor: $__textColor;
$baseFontFamily: $__fontFamily;
$baseFontWeight: $__fontWeightNormal;
$baseFontWeightBold: $__fontWeightBold;
@import "include/generals";

body {
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: relative;
    display: block;
    height: 1px;
  }
}

div.modal {
  position: relative;
  width: 500px;
  height: 400px;
  background: $contentBackground;
  box-shadow: 0 12px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 2;
  transform: scale(0.7);
  transition: transform 0.3s;

  &.visible {
    transform: scale(1);
  }

  > h1 {
    color: $textColorInverted;
    font-size: 170%;
    font-weight: $__fontWeightLight;
    height: 60px;
    padding: 15px 75px 14px 55px;
    background: $__colorScheme img('bookmark.webp') no-repeat 20px center;
    background-size: 24px;
  }

  > a.close {
    position: absolute;
    top: 9px;
    right: 20px;
    display: block;
    width: 42px;
    height: 42px;
    background: img('icon-close.webp') no-repeat center;
    background-size: 22px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
    z-index: 2;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  > a.preview, > span.preview {
    display: block;
    font-size: 140%;
    font-weight: $__fontWeightNormal;
    margin: 30px 30px 20px 30px;
    background-color: rgba(0, 0, 0, 0.05);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 17px 15px;

    > img, > span.icon {
      vertical-align: top;
      display: inline-block;
      width: 24px;
      height: 24px;
      margin: 0 20px 0 0;
    }

    > span.icon {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      background-image: img(#{$__bookmarksDirIcon + '.webp'});
    }
  }

  > a.preview {
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    + a.previewUrl {
      display: block;
      margin: -15px 30px 20px 30px;
      font-size: 80%;
      font-weight: $__fontWeightMedium;
      opacity: 0.7;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
    }
  }

  &[data-type='updateUrls'] {

    > p {
      text-align: center;
      margin-top: 40px;
      font-size: 140%;
      line-height: 170%;

      &.success {
        padding: 20px 0 70px;
        background: img('icon-success.webp') no-repeat center bottom / 32px;
      }
    }

    > div.progressBar {
      position: relative;
      background: rgba(0, 0, 0, 0.1);
      height: 3px;
      margin: 40px 30px 0;

      > div {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: $__colorScheme;
        transition: width 0.5s;
      }
    }

    > span.progressLabel {
      display: block;
      text-align: center;
      font-size: 120%;
      margin-top: 20px;
      opacity: 0.6;

      > span {
        margin: 0 3px;
      }
    }

    > div.loading {
      margin: 60px auto 0;
      transition: margin-top 0.5s;
    }

    > div#urlList {
      height: calc(100% - 60px - 57px);
      transition: box-shadow 0.3s;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 12px;
        pointer-events: none;
        box-shadow: none;
        transition: box-shadow 0.3s;
        z-index: 3;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 12px;
        pointer-events: none;
        box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s;
        z-index: 3;
      }

      &.scrolled::before {
        box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5);
      }

      &.scrolledEnd::after {
        box-shadow: none;
      }

      > ul {
        margin: 12px 0;

        > li {
          transition: background 0.3s;
          padding: 0 16px 7px 16px;

          &:hover {
            background: $hoverBackground;
          }

          > div.checkbox {
            display: inline-block;
            vertical-align: top;
            margin: 10px 16px 0 0;
          }

          > img {
            vertical-align: top;
            display: inline-block;
            width: 16px;
            margin: 11px 20px 0 0;
          }

          > strong {
            display: inline-block;
            width: calc(100% - 70px);
            line-height: 40px;
            margin-bottom: -10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          > a, > span {
            display: block;
            margin-left: 70px;
            line-height: 20px;
            width: calc(100% - 36px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 18px;
            opacity: 0.6;
          }

          > a {
            transition: color 0.5s;
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: 0 center;

            &:hover {
              color: $__colorScheme;
            }

            &:last-of-type {
              background-image: img('icon-success.webp');
            }

            &:first-of-type {
              text-decoration: line-through;
              background-image: img('icon-error.webp');
            }
          }

          > span {
            font-style: italic;
          }
        }
      }

      &:not(.scrollDrag) > ul {
        transition: transform 0.3s;
      }
    }

    &.urlCheckLoading {
      transition: width 0.5s, height 0.5s, margin-top 0.5s;
    }

    &.urlCheckList {
      width: 600px;
      height: 600px;
      max-height: 100%;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 57px;
        z-index: 2;
        background: $hoverBackground;
      }

      > div.loading {
        margin-top: 150px;
      }
    }
  }

  &[data-type='delete'], &[data-type='hide'], &[data-type='openChildren'] {

    > p {
      padding: 30px 30px 5px 30px;
      font-size: 140%;
      line-height: 170%;
    }
  }

  &[data-type='infos'] {

    > ul {
      display: flex;
      flex-flow: row;
      font-size: 120%;
      margin-top: 70px;
      padding: 0 30px;
      justify-content: space-between;

      > li {
        position: relative;

        &.tooltip {
          cursor: help;
          background: img('icon-infos.webp') no-repeat right center;
          background-size: 16px;
          padding-right: 18px;
        }

        > ul {
          position: absolute;
          top: 27px;
          right: -14px;
          background: #333;
          color: #fff;
          font-size: 70%;
          padding: 4px 10px;
          transform: translate3d(0, -5px, 0);
          transition: opacity 0.3s, transform 0.3s;
          @extend %hidden;

          &::before {
            content: "";
            position: absolute;
            top: -14px;
            right: 15px;
            border: 7px solid transparent;
            border-bottom-color: #333;
          }

          > li {
            white-space: nowrap;
            margin: 5px 0;
          }
        }

        &:hover > ul {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  &[data-type='edit'] {
    > ul {
      padding: 2px 30px;

      > li {
        margin: 20px 0 30px 0;

        > label {
          font-size: 140%;
          display: inline-block;
          width: 80px;
        }

        > input {
          display: inline-block;
          font-size: 120%;
          width: calc(100% - 80px);
          padding: 5px 8px;
          outline: none;
          box-shadow: none;
          transition: border-color 0.5s;
          border: 1px solid rgba(0, 0, 0, 0.1);

          &.error {
            border-color: $colorError;
          }

          &:focus {
            border-color: rgba(0, 0, 0, 0.25);
          }
        }
      }
    }
  }

  > menu {
    position: absolute;
    bottom: 16px;
    right: 20px;
    z-index: 3;

    > a {
      position: relative;
      display: inline-block;
      padding: 5px 10px 4px;
      margin: 0 5px;
      color: $__colorScheme;
      font-weight: $__fontWeightBold;
      text-transform: uppercase;
      border-radius: 3px;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 3px;
        background: $__colorScheme;
        transition: opacity 0.5s;
        @extend %hidden;
      }

      &:hover::before {
        opacity: 0.15;
      }
    }
  }
}