@import "include/vars";
@import "include/mixins";

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 10px auto 20px;
  padding: 20px;
  font-size: $baseFontSize;
  font-family: $baseFontFamily;
  font-weight: $baseFontWeight;
  color: $textColor;
  width: 720px;
}

ul {
  list-style: none;
}

strong {
  font-weight: 400;
}

// Header
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 3px 20px;
  font-size: 90%;
  background: $settingsHeaderBackground;
  border-bottom: 1px solid #d3d3d3;
  z-index: 2;

  > div {
    margin: 0 auto;
    width: 660px;
    height: 16px;

    > a#copyright {
      float: right;
      text-decoration: none;
      color: $textColor;
    }

    > ul.tabBar {
      display: inline-block;
      margin: -3px 0 0 0;

      > li {
        display: inline-block;

        > a {
          position: relative;
          display: inline-block;
          height: 28px;
          color: #666;
          background: $settingsTabBackground;
          padding: 4px 2px 0 2px;
          margin: 0 17px;
          font-size: 110%;
          font-weight: 300;
          text-decoration: none;
          -webkit-tap-highlight-color: transparent;
          filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.2));

          &::before, &::after {
            content: "";
            position: absolute;
            top: -13px;
            width: 20px;
            height: 40px;
            background: $settingsTabBackground;
            z-index: -1;
          }

          &::before {
            left: -17px;
            transform: rotateZ(-45deg);
          }

          &::after {
            right: -17px;
            transform: rotateZ(45deg);
          }
        }

        &.active > a {
          background: $settingsMainColor;
          color: $textColorInverted;

          &::before, &::after {
            background: $settingsMainColor;
          }
        }
      }
    }
  }

}

p#copyright {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 90%;
  color: $textColorLight;
}

// Content
section#content {
  transition: opacity 0.3s;

  > div.tab {
    display: block;

    &.hidden {
      display: none;
    }

    &[data-name='feedback'] {
      position: relative;

      > a#rate {
        position: absolute;
        display: block;
        top: 35px;
        right: 0;
        color: $textColorLight;
        text-decoration: none;
        font-size: 80%;

        &::before {
          content: "\2764";
          position: absolute;
          display: block;
          top: -52px;
          left: calc(50% - 24px);
          width: 48px;
          height: 48px;
          color: $textColorInverted;
          font-size: 26px;
          border-radius: 50%;
          padding: 6px 1px 0 0;
          text-align: center;
          background: $settingsMainColor;
        }
      }

      > p.desc {
        margin: 30px 120px 30px 0;
      }

      > textarea, input[type='email'] {
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 5px 5px;
        outline: none;
        transition: border 0.5s;

        &.error {
          border: 1px solid $settingsErrorColor;
        }
      }

      > input[type='email'] {
        display: inline-block;
        margin: 10px 0 0 5px;
      }

      > textarea {
        display: block;
        width: 100%;
        height: 200px;
        margin-top: 20px;
      }

      button.loading {
        pointer-events: none;

        &::after {
          content: "";
          position: absolute;
          top: 10px;
          right: -30px;
          width: 16px;
          height: 11px;
          background: img('settings-loading.gif') no-repeat center;
        }
      }
    }

    &[data-name='share_userdata'] {

      > h2 {
        font-size: 200%;
        font-weight: 300;
        margin: 30px 0;
      }

      > p {
        font-size: 120%;
        font-weight: 300;
        margin: 20px 0;

        > span {
          text-decoration: underline;
        }
      }

      > hr {
        height: 1px;
        border: none;
        background: rgba(0, 0, 0, 0.2);
        margin: 20px 0;
      }

      label {
        display: inline-block;
        vertical-align: top;
        font-weight: 400;
        margin-right: 15px;
      }

      input[type='checkbox'] {
        display: inline-block;
        vertical-align: top;
        margin-top: 2px;
      }

    }
  }
}

div.configEntry {
  margin-top: 30px;

  label {
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    margin-right: 15px;
  }

  input {
    display: inline-block;
    vertical-align: top;

    &[type='checkbox'] {
      margin-top: 3px;
    }
  }

  select {
    display: inline-block;
    vertical-align: top;
    margin-top: -4px;
  }

  span.subLabel {
    display: inline-block;
    vertical-align: top;
    font-style: italic;
    margin: 0 10px 0 20px;
  }

  label + span.subLabel {
    margin-left: 0;
  }

  input[type='range'] + span {
    margin-left: 5px;

    &::after {
      content: attr(data-unit);
      margin-left: 2px;
      font-size: 90%;
    }
  }

  p {
    font-size: 90%;
    color: $textColorLight;
    margin-top: 7px;
    font-style: italic;
  }
}

button#save, button#sendFeedback {
  position: relative;
  display: inline-block;
  margin-top: 50px;
  outline: none;
  border: none;
  text-shadow: none;
  box-shadow: none;
  color: $textColorInverted;
  background: $settingsMainColor;
  padding: 3px 12px 4px;
  border-radius: 3px;
  cursor: pointer;
}

button#restore {
  display: inline-block;
  outline: none;
  border: none;
  text-shadow: none;
  box-shadow: none;
  background: transparent;
  padding: 0 7px;
  margin-left: 15px;
  vertical-align: middle;
  font-size: 90%;
  cursor: pointer;
  transition: background 0.5s;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

body {
  &::after {
    content: attr(data-successtext);
    position: fixed;
    top: calc(50% - 50px);
    left: 0;
    width: 100%;
    height: 55px;
    padding: 15px 0;
    font-size: 140%;
    text-align: center;
    color: $textColorInverted;
    background: $settingsSuccessBackgroundColor;
    transition: opacity 0.3s;
    @extend %hidden;
  }

  &.submitSuccess {

    &::after {
      @extend %visible;
    }

    section#content {
      opacity: 0.2;
      pointer-events: none;
    }
  }
}