@import "include/vars";
@import "include/mixins";
@import "include/loading";
@import "include/scrollBox";
@import "include/contextmenu";
@import "include/checkbox";
@import "include/bookmarkEntry";
//
$textColor: $__textColor;
@import "include/generals";

body {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &::after {
    content: attr(data-dragCancel);
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 500%;
    font-weight: $__fontWeightExtraLight;
    color: $__colorScheme;
    top: 0;
    left: $__sidebarWidth;
    height: 100%;
    width: calc(100% - #{$__sidebarWidth} - #{$__sidebarWidth});
    background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 5px, rgba(200, 200, 200, 0.3) 5px, rgba(200, 200, 200, 0.3) 10px);
    transition: 0.5s;
    @extend %hidden;
  }

  &.isDragged::after {
    opacity: 1;
  }

  &.isDragged.dragCancel::after {
    color: rgba(#666, 0.8);
    background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 5px, rgba($colorError, 0.3) 5px, rgba($colorError, 0.3) 10px);
  }

  &.noAnimations {

    *, *::before, *::after {
      transition: none !important;
    }
  }

  &.dark {

    &::after {
      color: $__textColor;
      background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 5px, rgba(0, 0, 0, 0.2) 5px, rgba(0, 0, 0, 0.2) 10px);
    }

    &.isDragged.dragCancel::after {
      color: $colorError;
      background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 5px, rgba(0, 0, 0, 0.2) 5px, rgba(0, 0, 0, 0.2) 10px);
    }
  }
}

// Clipboard
body > textarea {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  z-index: -1;
}

// Sidebar
a.dragHelper {
  @include bookmarkEntry;
  position: absolute;
  background: $hoverBackground;
  padding-right: 46px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
  transition: none;
  z-index: 3;

  > span.drag {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    @include mask('icon-reorder', $reorderIconColorActive, 18px);
  }

  &.snap {
    transition: 0.2s;
    box-shadow: none;
    background: $contentBackground;
  }
}

//
section#sidebar {
  position: relative;
  width: $__sidebarWidth;
  background: $contentBackground;
  box-shadow: 15px 0 50px rgba(0, 0, 0, 0.15);
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
  z-index: 2;

  &[data-pos='right'] {
    float: right;
    box-shadow: -15px 0 50px rgba(0, 0, 0, 0.15);
  }

  > header {
    position: relative;
    width: 100%;
    height: $sidebarHeaderHeight;
    padding: 5px 12px 0 12px;
    background: $__colorScheme;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    flex-shrink: 0;
    z-index: 3;

    > h1 {
      display: inline-block;
      color: $textColorInverted;
      font-weight: $__fontWeightNormal;
      font-size: 100%;
      margin: 5px 0 0 0;
      transition: transform 0.5s;

      > strong {
        font-weight: $__fontWeightLight;
        font-size: 150%;
      }

      > span {
        opacity: 0.7;
        font-size: 90%;
        display: inline-block;
        margin: 0 0 0 3px;

        &.hidden {
          display: none;
        }
      }
    }

    > a {
      @include mask(null, $textColorInverted, 22px);
      position: relative;
      vertical-align: top;
      display: block;
      width: 36px;
      height: 36px;
      float: right;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s, opacity 0.5s;

      &:hover, &.active {
        background-color: rgba(255, 255, 255, 0.2);
      }

      &.menu {
        margin-right: -2px;
      }
    }

    > div.searchBox {
      position: absolute;
      top: 10px;
      left: 16px;
      width: calc(100% - 105px);
      height: 30px;
      background-color: rgba(255, 255, 255, 0.2);
      transform: translate3d(20px, 0, 0);
      transition: transform 0.3s, opacity 0.3s;
      @extend %hidden;

      > input[type='text'] {
        vertical-align: top;
        display: inline-block;
        height: 100%;
        width: calc(100% - 30px);
        outline: none;
        border: 0;
        background: transparent;
        color: $textColorInverted;
        padding: 0 7px;

        &::-webkit-input-placeholder {
          color: $textColorInverted;
          opacity: 0.7;
        }
      }

      > a.searchClose {
        position: relative;
        vertical-align: top;
        display: inline-block;
        height: 30px;
        width: 30px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }

    &.searchVisible {

      > h1 {
        transform: translate3d(-200%, 0, 0);
        pointer-events: none;
        transition: transform 0.5s;
      }

      > a.search {
        @extend %hidden;
      }

      > div.searchBox {
        transform: translate3d(0, 0, 0);
        transition: transform 0.5s 0.1s, opacity 0.5s 0.1s;
        @extend %visible;
      }
    }
  }

  > div.filter {
    position: absolute;
    top: $sidebarHeaderHeight;
    left: $scrollBarWidth;
    width: calc(100% - #{$scrollBarWidth * 2});
    background: $hoverBackground;
    padding: 10px $__bookmarksHorizontalPadding 5px;
    border-radius: 0 0 5px 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    z-index: 2;

    &.hidden {
      display: none;
    }

    > a[data-direction] {
      @include mask('icon-arrow-up', $__textColor, 24px);
      position: relative;
      display: inline-block;
      cursor: pointer;
      margin: 0 10px 5px 0;
      padding-left: 18px;

      &::before {
        width: 14px;
        height: 14px;
        margin: 1px 0 0 0;
        transition: transform 0.5s;
      }

      &[data-direction="DESC"]::before {
        transform: rotateZ(180deg);
      }
    }

    > ul {
      float: right;
      margin-bottom: 5px;

      > li {
        position: relative;

        + li {
          margin-top: 5px;
        }

        > div.checkbox {
          position: absolute;
          z-index: 2;
          width: 16px;
          height: 16px;
          top: 0;
          left: 0;

          &::before {
            -webkit-mask-size: 18px;
          }

          + a {
            padding-left: 22px;
            cursor: pointer;

            &::before {
              display: none;
            }
          }
        }
      }
    }

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  > div.scrollBox {
    display: none;

    &.active {
      display: block;
    }

    > p {
      font-size: 120%;
      padding: 30px 20px;
      font-style: italic;
      max-width: 350px;
      margin: 0 auto;
    }

    &.scrolled ~ div.filter {
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }

    &.scrolled:not([data-direction='up']) ~ div.filter {
      transform: translate3d(0, -100%, 0);
      box-shadow: none;
    }

    > ul {
      position: relative;
      margin: 9px 0;
      z-index: 1;

      a {
        @include bookmarkEntry;
        position: relative;

        + ul {
          padding-left: $__bookmarksDirIndentation;
          height: 0;
          overflow: hidden;
        }

        &.opened {

          + ul {
            height: auto;
          }
        }

        &.opened:not(.animated) {

          + ul {
            overflow: visible;
          }
        }
      }

      > li.pinned + li:not(.pinned) {
        margin-top: 7px;
        padding-top: 7px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }

      li {

        &.hidden {

          > a {
            opacity: 0.3;
            font-style: italic;

            &:hover, &.active {
              opacity: 0.5;
            }
          }
        }

        &.isDragged {
          width: calc(100% - 5px);
          border: 3px dashed rgba(0, 0, 0, 0.2);
          pointer-events: none;

          > a {
            visibility: hidden;
            line-height: calc(#{$__bookmarksLineHeight} - 6px);

            > img {
              visibility: hidden;
            }
          }
        }

        &.dragInitial {
          display: none;
        }
      }

      &.hideRoot {

        > li:not(.pinned) {

          > a {
            display: none;
          }

          > ul {
            padding-left: 0;
          }
        }
      }
    }
  }

  &.openedOnce {

    > header {

      > a {

        &.search::before {
          @include maskImage('icon-search');
        }

        &.sort::before {
          @include maskImage('icon-sort');
        }

        &.menu::before {
          @include maskImage('icon-menu-1');
        }
      }

      > div.searchBox > a.searchClose {
        @include mask('icon-close', $textColorInverted, 18px);
      }
    }

    > div.scrollBox > ul a > span.drag {
      @include mask('icon-reorder', $reorderIconColor, 18px);

      &:hover::before {
        background-color: $reorderIconColorActive;
      }
    }
  }

  &.entriesUnlocked[data-sort='custom'] {

    > div.scrollBox > ul ul a {
      padding-right: 46px;

      > span.drag {
        display: block;
      }
    }
  }

  &.loading {

    > svg.loading {
      position: absolute;
      top: calc(50% - 18px);
      left: calc(50% - 18px);
    }

    > div.scrollBox, > div.filter {
      @extend %hidden;
    }
  }
}

body.dark section#sidebar {
  background: $darkContentBackground;

  > div.filter {
    background: $darkHoverBackground;
  }

  > div.scrollBox > ul {

    li.isDragged {
      width: calc(100% - 5px);
      border-color: rgba(255, 255, 255, 0.2);
    }

    > li.pinned + li:not(.pinned) {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

    a {
      @include darkBookmarkEntry;
    }

    a.hover:not(.separator) {
      background: $darkHoverBackground;
    }

    a > span.drag {

      &::before {
        background-color: $darkReorderIconColor;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);

        &::before {
          background-color: $darkReorderIconColorActive;
        }
      }
    }
  }

  ~ a.dragHelper {
    @include darkBookmarkEntry;
    background: $darkHoverBackground;
  }
}

body.ee section#sidebar > header {
  background: $gradient;
}

//
div#shareUserdata {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: $__colorScheme;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;

  &.hidden {
    @extend %hidden;
  }

  > div {
    padding: 20px;
    text-align: center;
    color: $textColorInverted;

    > h2 {
      font-size: 250%;
      font-weight: $__fontWeightNormal;
      margin-bottom: 50px;
    }

    > p {
      font-size: 120%;
      margin: 20px 0;

      > strong {
        text-decoration: underline;
      }
    }

    > a {
      font-size: 120%;
      color: #fff;
      display: inline-block;
      margin: 40px 20px 0;
      font-weight: $__fontWeightBold;
      padding: 5px 10px;
      transition: background 0.5s;
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

// Body-Klassen
body {

  &.dragCancel {

    section#sidebar > div.scrollBox > ul li.isDragged {
      display: none;
    }
  }
}