@import "include/backend";

// Header
body > header {

  > svg {
    stroke: none;
    fill: rgba(255, 255, 255, 0.4);
  }
}

section#content {

  > a.back {
    position: absolute;
    top: 10px;
    left: 40px;
    font-size: 120%;
    color: $textColorLight;
    padding: 10px 12px 10px 20px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 14px;
      width: 12px;
      height: 12px;
      border-top: 2px solid $textColorLight;
      border-left: 2px solid $textColorLight;
      transform: rotateZ(-45deg);
    }

    &.hidden {
      display: none;
    }
  }

  > div {

    &.hidden {
      display: none;
    }

    &[data-name='overview'] {

      > div {

        > p {
          font-size: 120%;
          line-height: 170%;
          margin: 10px 0 20px 0;
        }

        > span.progressLabel {
          display: block;
          text-align: right;
          font-size: 120%;
          font-weight: $__fontWeightNormal;
          color: $textColorLight;
        }

        > ul {

          > li {
            position: relative;
            padding: 15px 0;
            border-bottom: 1px solid $bodyBackground;

            > strong {
              display: inline-block;
              vertical-align: top;
              margin: 3px 0 0 0;
              font-size: 120%;
              font-weight: $__fontWeightNormal;
            }

            > a.edit {
              @include mask('icon-edit', $mainColor, 20px);
              position: relative;
              display: inline-block;
              vertical-align: top;
              width: 32px;
              height: 32px;
              margin: -3px 0 0 7px;
              border-radius: 50%;
              transition: background 0.5s;

              &:hover {
                background: rgba(0, 0, 0, 0.1);
              }
            }

            > svg.progress {
              position: absolute;
              top: calc(50% - 16px);
              right: 0;

              > circle {
                fill: transparent;
                stroke-width: 3px;
                transform: rotateZ(-90deg);
                transform-origin: 16px 16px;
                stroke: rgba(0, 0, 0, 0.1);

                + circle {
                  stroke: $mainColor;
                }
              }
            }

            > span.progress {
              display: block;
              position: absolute;
              top: calc(50% - 7px);
              right: 40px;
              width: 32px;
              height: 14px;
              font-size: 80%;
              color: $textColorLight;
              text-align: right;
            }

            > span[data-status] {
              display: block;
              position: absolute;
              top: calc(50% - 13px);
              right: 85px;
              width: 26px;
              height: 26px;
            }

            > span[data-status='released'] {
              @include mask('icon-check', $colorSuccess, 26px);
            }

            > span[data-status='draft'] {
              @include mask('icon-close', $colorError, 26px);
            }

            > span[data-status='incomplete'] {
              @include mask('icon-info', $colorNotice, 26px);
            }
          }
        }

        > select.languages {
          display: block;
          border: 1px solid rgba(0, 0, 0, 0.2);
          outline: 0;
          height: 28px;
          padding: 0 5px;
          margin: 30px 0 0 0;
          background: rgba(0, 0, 0, 0.02);
          cursor: pointer;
        }
      }
    }

    &[data-name='langvars'] {

      > div {

        > div.notice {
          position: relative;
          font-size: 120%;
          line-height: 170%;
          background: rgba($mainColor, 0.2);
          padding: 7px 10px 7px 50px;
          margin: 0 0 10px 0;

          &::before {
            content: "!";
            position: absolute;
            top: 22px;
            left: 17px;
            color: $mainColor;
            font-weight: $__fontWeightBold;
            font-size: 300%;
          }

          > p {
            margin: 0 0 10px 0;
          }
        }

        > div.category {
          position: relative;
          padding: 15px 0 15px 20px;
          border-bottom: 1px solid $bodyBackground;

          &::before {
            content: "+";
            position: absolute;
            top: 15px;
            left: 0;
            font-size: 120%;
            color: $mainColorAlt;
            font-weight: $__fontWeightBold;
          }

          > a {
            position: absolute;
            top: 5px;
            left: 0;
            width: 100%;
            height: 40px;
          }

          &.incomplete {

            > a {
              @include mask('icon-info', $colorNotice, 26px);

              &::before {
                -webkit-mask-position-x: right;
              }
            }

            > ul > li.empty {

              > label {
                @include mask('icon-info', $colorNotice, 18px);
                padding-left: 22px;

                &::before {
                  -webkit-mask-position-x: left;
                }
              }

              > textarea {
                border: 1px solid $colorNotice;
              }
            }
          }

          > strong {
            display: inline-block;
            font-weight: $__fontWeightNormal;
            font-size: 120%;
          }

          > span {
            display: inline-block;
            margin: 0 0 0 10px;
            color: $textColorLight;
          }

          > ul {
            display: none;
          }

          &.active {

            &::before {
              content: "-";
            }

            > strong {
              color: $mainColor;
              font-weight: $__fontWeightMedium;
            }

            > ul {
              position: relative;
              display: block;
              margin: 15px 0 0 0;

              &::before {
                content: "";
                position: absolute;
                top: -5px;
                left: -12px;
                width: 1px;
                height: calc(100% + 10px);
                background: $mainColor;
                opacity: 0.5;
              }

              > li {

                > label {
                  position: relative;
                  display: inline-block;
                }

                > span {
                  display: block;
                  width: 100%;
                  background: $bodyBackground;
                  padding: 4px 5px;
                  margin: 2px 0 4px;
                  font-style: italic;
                  font-size: 80%;

                  > span {
                    font-weight: $__fontWeightMedium;
                    color: $mainColorAlt;
                    margin: 0 3px 0 0;
                  }
                }

                > textarea {
                  display: block;
                  width: 100%;
                  max-width: 100%;
                  height: 50px;
                  padding: 4px 5px;
                  margin: 2px 0 12px 0;
                  border: none;
                  outline: none;
                  background: $bodyBackground;
                }
              }
            }
          }
        }
      }
    }

    &.loading {

      > div, > header > * {
        display: none;
      }

      > svg.loading {
        position: absolute;
        top: calc(50% - 18px);
        left: calc(50% - 18px);
      }
    }
  }
}