@import "include/backend";

// Header
body > header {

  > svg {
    stroke: none;
    fill: rgba(255, 255, 255, 0.4);
  }
}

section#content > div {

  &.hidden {
    display: none;
  }

  &[data-name='overview'] {

    > div {

      > span.progressLabel {
        display: block;
        text-align: right;
        font-size: 120%;
        font-weight: 300;
        color: $textColorLight;
      }

      > ul {

        > li {
          position: relative;
          padding: 15px 0;
          border-bottom: 1px solid $bodyBackground;

          > strong {
            display: inline-block;
            vertical-align: top;
            margin: 3px 0 0 0;
            font-size: 120%;
            font-weight: 300;
          }

          > a.edit {
            @include mask('icon-edit', $mainColor, 20px);
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 32px;
            height: 32px;
            margin: -3px 0 0 7px;
            border-radius: 50%;
            transition: background 0.5s;

            &:hover {
              background: rgba(0, 0, 0, 0.1);
            }
          }

          > svg.progress {
            position: absolute;
            top: calc(50% - 16px);
            right: 0;

            > circle {
              fill: transparent;
              stroke-width: 3px;
              transform: rotateZ(-90deg);
              transform-origin: 16px 16px;
              stroke: rgba(0, 0, 0, 0.1);

              + circle {
                stroke: $mainColor;
              }
            }
          }

          > span.progress {
            display: block;
            position: absolute;
            top: calc(50% - 7px);
            right: 40px;
            width: 32px;
            height: 14px;
            font-size: 80%;
            color: $textColorLight;
            text-align: right;
          }
        }
      }

      > select.languages {
        display: block;
        border: 1px solid rgba(0, 0, 0, 0.2);
        outline: 0;
        height: 28px;
        padding: 0 5px;
        margin: 30px 0 0 0;
        background: rgba(0, 0, 0, 0.02);
        cursor: pointer;
      }
    }

    &.loading {

      > div {
        display: none;
      }

      > svg.loading {
        position: absolute;
        top: calc(50% - 18px);
        left: calc(50% - 18px);
      }
    }
  }
}