@mixin bookmarkEntryRtl {

  > span.copied {
    left: unset;
    right: calc(#{$__bookmarksIconSize} + #{$__bookmarksHorizontalPadding} + 10px);
  }

  > img, > span.icon {
    margin: 0 0 0 $__bookmarksHorizontalPadding;
  }

  > span.drag {
    right: unset;
    left: 15px;
  }
}
