html[dir='rtl'] {

  div.contextmenu {

    &[data-type='list'], &[data-type='separator'] {
      margin: 0 10px 0 0;
    }

    &[data-type='menu'], &[data-type='sort'] {
      left: 0;
      right: unset !important;
    }

    > ul.icons {

      > li {

        &.right {
          float: left;
        }
      }
    }

    > ul.list {

      > li {

        > div.checkbox {
          left: unset;
          right: 9px;

          + a {
            padding-left: 0;
            padding-right: 38px;
          }
        }

        > a {
          padding: 0 38px 0 10px;

          > span {
            margin: 0 3px 0 0;
          }

          &::before {
            transform: scaleX(-1);
            left: unset;
            right: 0;
          }

          &[data-name='reload']::before,
          &[data-name='select']::before {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  section#sidebar {

    &[data-pos='right']:not(.sidepanel) {

      div.contextmenu {

        &[data-type='menu'] {
          right: unset;
          left: -93px;
        }

        &[data-type='sort'] {
          right: unset;
          left: -57px;
        }
      }
    }
  }
}